<style>
  .container {
    padding-top: 0px;
  }

  .btn {
    background-color: #000;
    min-width: 0;
    margin-right: 0;
    padding: .85rem .9rem;
  }

  .input-group {
    flex-wrap: initial;
  }

  input[type="number"] {
    padding: 0 0 0 10px;
    margin: 0;
  }

  @media screen and (max-width: 991px) {
    .container {
      padding-top: 40px;
    }
  }

  @media screen and (max-width: 764px) {
    .container {
      padding-top: 70px;
    }
  }
</style>
<div class="page-wrapper">
  <app-header></app-header>
  <div class="page-content" style="margin-top: 10%;">

    <style type="text/css">
      p.p1 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        text-align: center;
        font: 18.0px Helvetica;
        color: #000000
      }

      p.p2 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353;
        background-color: #ffffff
      }

      p.p3 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 16.0px Helvetica;
        color: #000000;
        background-color: #ffffff
      }

      p.p4 {
        margin: 0.0px 0.0px 6.0px 0.0px;
        font: 14.5px Helvetica;
        color: #474747;
        background-color: #ffffff
      }

      p.p5 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 14.5px Helvetica;
        color: #474747;
        background-color: #ffffff
      }

      p.p6 {
        margin: 0.0px 0.0px 8.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353;
        background-color: #ffffff
      }

      span.s1 {
        text-decoration: underline
      }

      span.s2 {
        color: #535353
      }
    </style>
    <style type="text/css">
      p.p1 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        text-align: center;
        font: 20.0px Helvetica;
        color: #000000
      }

      p.p2 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 15.5px Helvetica;
        color: #535353;
        background-color: #ffffff
      }

      p.p3 {
        margin: 0.0px 0.0px 22.5px 0.0px;
        font: 15.5px Helvetica;
        text-align: center;
        color: #535353;
        background-color: #ffffff
      }

      p.p4 {
        margin: 0.0px 0.0px 22.5px 0.0px;
        font: 21.0px Helvetica;
        color: #000000
      }

      p.p5 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 15.5px Helvetica;
        color: #333333
      }

      p.p6 {
        margin: 0.0px 0.0px 22.5px 0.0px;
        font: 15.5px Helvetica;
        color: #333333
      }

      p.p7 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 15.5px Helvetica;
        color: #535353
      }

      p.p8 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        text-align: justify;
        font: 15.5px Helvetica;
        color: #535353
      }

      p.p9 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.5px Helvetica;
        color: #535353;
        min-height: 17.0px
      }

      p.p10 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.5px Helvetica;
        color: #535353
      }

      p.p11 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.5px Helvetica;
        color: #333333
      }

      p.p12 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 21.0px Helvetica;
        color: #000000;
        min-height: 23.0px
      }

      p.p13 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 15.5px Helvetica;
        color: #333333
      }

      p.p14 {
        margin: 0.0px 0.0px 22.5px 0.0px;
        font: 15.5px Helvetica;
        color: #535353
      }

      p.p15 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 15.5px Helvetica;
        color: #103cc0
      }

      p.p16 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 16.0px Helvetica;
        color: #000000;
        min-height: 18.0px
      }

      p.p17 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 21.0px Helvetica;
        color: #000000
      }

      p.p18 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: justify;
        font: 15.5px Helvetica;
        color: #535353
      }

      p.p19 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 15.5px Helvetica;
        color: #535353
      }

      p.p20 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 15.5px Helvetica;
        color: #000000;
        background-color: #ffffff
      }

      li.li8 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        text-align: justify;
        font: 15.5px Helvetica;
        color: #535353
      }

      li.li10 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.5px Helvetica;
        color: #535353
      }

      li.li18 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: justify;
        font: 15.5px Helvetica;
        color: #535353
      }

      span.s1 {
        font: 15.0px Helvetica
      }

      span.s2 {
        text-decoration: underline
      }

      span.s3 {
        text-decoration: underline;
        color: #333333
      }

      span.s4 {
        font: 16.0px Helvetica;
        text-decoration: underline;
        color: #000000
      }

      span.s5 {
      }

      span.s6 {
        color: #000000;
      }

      span.s7 {
        font: 16.0px Helvetica;
        color: #000000
      }

      span.s8 {
        color: #535353
      }

      span.s9 {
        text-decoration: underline;
        color: #103cc0
      }

      span.s10 {
        color: #000000
      }

      span.s11 {
        color: #000000;
      }

      span.s12 {
        font: 14.0px Helvetica
      }

      table.t1 {
        border-collapse: collapse
      }

      td.td1 {
        width: 257.0px;
        height: 12.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td2 {
        width: 361.0px;
        height: 12.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td3 {
        width: 257.0px;
        height: 34.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td4 {
        width: 361.0px;
        height: 34.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      ol.ol1 {
        list-style-type: decimal
      }

      ul.ul1 {
        list-style-type: disc
      }
    </style>
    <style type="text/css">
      p.p1 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px 'Times New Roman';
        color: #333333;
        background-color: #ffffff
      }

      p.p2 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px 'Times New Roman';
        color: #333333;
        background-color: #ffffff;
        min-height: 17.0px
      }

      p.p3 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px 'Times New Roman';
        color: #333333
      }

      p.p4 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px 'Times New Roman';
        color: #333333;
        min-height: 17.0px
      }

      p.p5 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.0px Helvetica;
        color: #000000;
        background-color: #ffffff;
        min-height: 13.0px
      }

      p.p6 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.0px Helvetica;
        color: #000000;
        min-height: 13.0px
      }

      p.p8 {
        margin: 0.0px 0.0px 7.5px 36.0px;
        font: 16.0px Helvetica;
        color: #333333;
        background-color: #ffffff
      }

      p.p9 {
        margin: 0.0px 0.0px 20.0px 36.0px;
        font: 16.0px Helvetica;
        color: #333333
      }

      p.p10 {
        margin: 0.0px 0.0px 20.0px 36.0px;
        font: 16.0px Helvetica;
        color: #333333;
        min-height: 14.0px
      }

      p.p12 {
        margin: 0.0px 0.0px 20.0px 36.0px;
        font: 16.0px Helvetica;
        color: #000000;
        min-height: 14.0px
      }

      p.p13 {
        margin: 0.0px 0.0px 20.0px 36.0px;
        font: 16.0px Helvetica;
        color: #000000
      }

      p.p14 {
        margin: 0.0px 0.0px 7.5px 0.0px;
        font: 17.0px Helvetica;
        color: #333333;
        background-color: #ffffff;
        min-height: 16.0px
      }

      p.p15 {
        margin: 0.0px 0.0px 0.0px 36.0px;
        text-align: justify;
        font: 16.0px Helvetica;
        color: #181817;
        background-color: #ffffff;
        min-height: 14.0px
      }

      p.p16 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 16.0px Helvetica;
        color: #000000;
        min-height: 14.0px
      }

      p.p17 {
        margin: 0.0px 0.0px 7.5px 36.0px;
        font: 16.0px Helvetica;
        color: #333333;
        background-color: #ffffff;
        min-height: 14.0px
      }

      p.p18 {
        margin: 0.0px 0.0px 0.0px 36.0px;
        text-align: justify;
        font: 16.0px Helvetica;
        color: #333333
      }

      p.p19 {
        margin: 0.0px 0.0px 0.0px 36.0px;
        text-align: justify;
        font: 15.0px Helvetica;
        color: #000000;
        min-height: 13.0px
      }

      p.p20 {
        margin: 0.0px 0.0px 0.0px 36.0px;
        font: 15.0px Helvetica;
        color: #000000;
        min-height: 13.0px
      }

      p.p21 {
        margin: 0.0px 0.0px 7.5px 36.0px;
        font: 15.5px Helvetica;
        color: #103cc0;
        background-color: #ffffff
      }

      p.p22 {
        margin: 0.0px 0.0px 0.0px 36.0px;
        font: 15.0px Helvetica;
        color: #0b5ab2;
        min-height: 13.0px
      }

      p.p23 {
        margin: 0.0px 0.0px 7.5px 36.0px;
        font: 17.0px Helvetica;
        color: #333333;
        background-color: #ffffff;
        min-height: 16.0px
      }

      p.p25 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 16.0px Helvetica;
        color: #000000
      }

      p.p26 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.0px Helvetica;
        color: #149fec;
        min-height: 13.0px
      }

      p.p27 {
        margin: 0.0px 0.0px 0.0px 36.0px;
        text-align: justify;
        font: 15.5px Helvetica;
        color: #535353;
        min-height: 14.0px
      }

      p.p29 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.0px Helvetica;
        color: #0b5ab2;
        min-height: 13.0px
      }

      p.p31 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 16.0px Helvetica;
        color: #333333;
        min-height: 14.0px
      }

      p.p32 {
        margin: 0.0px 0.0px 0.0px 72.0px;
        font: 16.0px Helvetica;
        color: #333333;
        min-height: 14.0px
      }

      p.p33 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: justify;
        font: 15.5px Helvetica;
        color: #000000;
        min-height: 14.0px
      }

      p.p35 {
        margin: 0.0px 0.0px 12.0px 36.0px;
        text-align: justify;
        font: 16.0px Helvetica;
        color: #333333
      }

      p.p37 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 15.5px Helvetica;
        color: #535353;
        min-height: 14.0px
      }

      p.p38 {
        margin: 0.0px 0.0px 0.0px 36.0px;
        text-align: justify;
        font: 16.0px Helvetica;
        color: #333333;
        min-height: 14.0px
      }

      p.p39 {
        margin: 0.0px 0.0px 0.0px 36.0px;
        font: 17.0px Helvetica;
        color: #333333;
        min-height: 16.0px
      }

      li.li3 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px 'Times New Roman';
        color: #333333
      }

      li.li7 {
        margin: 0.0px 0.0px 7.5px 0.0px;
        font: 17.0px Helvetica;
        color: #333333
      }

      li.li11 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 17.0px Helvetica;
        color: #333333
      }

      li.li24 {
        margin: 0.0px 0.0px 7.5px 0.0px;
        font: 16.0px Helvetica;
        color: #333333
      }

      li.li28 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: justify;
        font: 16.0px Helvetica;
        color: #333333
      }

      li.li30 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 16.0px Helvetica;
        color: #333333
      }

      li.li34 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 17.0px Helvetica;
        color: #333333
      }

      li.li36 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        text-align: justify;
        font: 16.0px Helvetica;
        color: #333333
      }

      span.s1 {
        font: 15.0px Helvetica;
        color: #000000
      }

      span.s2 {
        text-decoration: underline
      }

      span.s3 {
        background-color: #ffffff
      }

      span.s4 {
        color: #000000
      }

      span.s5 {
        font: 16.0px Helvetica;
        color: #000000
      }

      span.s6 {
        font: 16.0px Helvetica;
        color: #000000;
        background-color: #ffffff
      }

      span.s7 {
        font: 16.0px Helvetica
      }

      span.s8 {
        color: #333333
      }

      span.s9 {
        color: #181817
      }

      span.s10 {
        font: 15.0px Helvetica;
        text-decoration: underline;
        color: #000000
      }

      span.s11 {
        font: 15.0px Helvetica;
        color: #000000
      }

      span.s12 {
        font: 16.0px Helvetica;
        color: #333333
      }

      span.s13 {
        color: #535353
      }

      span.s14 {
        text-decoration: underline;
        color: #103cc0
      }

      span.s15 {
        font: 15.0px Helvetica;
        color: #0b5ab2
      }

      span.s16 {
        font: 15.5px Helvetica;
        color: #535353
      }

      span.s17 {
        font: 17.0px Helvetica
      }

      span.s18 {
        font: 17.0px Helvetica;
        background-color: #ffffff
      }

      span.s19 {
        font: 15.5px Helvetica;
        text-decoration: underline
      }

      span.s20 {
        font: 15.5px Helvetica
      }

      span.s21 {
        font: 15.5px Helvetica;
        color: #000000
      }

      table.t1 {
        border-collapse: collapse
      }

      td.td1 {
        width: 220.0px;
        height: 12.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td2 {
        width: 309.0px;
        height: 12.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td3 {
        width: 220.0px;
        height: 28.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td4 {
        width: 309.0px;
        height: 28.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      ol.ol1 {
        list-style-type: decimal
      }

      ul.ul1 {
        list-style-type: disc
      }
    </style>
    <div class="container">
      <p class="p1"><span class="s1" style="font-size: 25px;"><strong>FAQ</strong></span></p>
      <p style="font-size: 20px"><strong><em>Contents</em></strong></p>
      <p class="p2"><br></p>
      <ol class="ol1">
        <li class="li3">Accounts and Privacy</li>
        <li class="li3">Shipping and Delivery<span class="Apple-converted-space">&nbsp;</span></li>
        <li class="li3">Return and Exchange<span class="Apple-converted-space">&nbsp;</span></li>
        <li class="li3">Sizing and Measurements</li>
      </ol>
      <p class="p4"><br></p>
      <p class="p5"><br></p>
      <p class="p1">Accounts and Privacy</p>
      <p class="p6"><br></p>
      <ul class="ul1">
        <li class="li7"><span class="s3"><strong>How do I create an account?<span class="Apple-converted-space">&nbsp;</span></strong></span></li>
      </ul>
      <p class="p8">An account can could be created by clicking on the &ldquo;login&rdquo;&nbsp;section on our website.<span class="Apple-converted-space">&nbsp;&nbsp;</span>You have three options to create an account. You may use a Google account or Facebook account. If you don&rsquo;t want to link an account and still want to shop with us, you have the option of creating an anonymous login. <span class="s4"><br></span></p>
      <ul class="ul1">
        <li class="li7"><span class="s3"><strong>Do I need an account to place an order?</strong></span><span class="s6"><span class="Apple-converted-space">&nbsp;</span></span></li>
      </ul>
      <p class="p9">Creating an account isn&rsquo;t necessary and we don&rsquo;t store your personal details, an account is simply recommended for faster checkouts in the future<span class="s4">.</span></p>
      <p class="p10"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>How do I make a purchase?</strong><span class="s7"><strong><span class="Apple-converted-space">&nbsp;</span></strong></span></li>
      </ul>
      <p class="p12"><br></p>
      <p class="p13">Choose your item(s)<span class="Apple-converted-space">&nbsp;&nbsp;</span>&gt;<span class="Apple-converted-space">&nbsp;&nbsp;</span>Click <strong>ADD TO CART<span class="Apple-converted-space">&nbsp;</span></strong> &gt;<span class="Apple-converted-space">&nbsp;&nbsp;</span><strong>CHECKOUT?</strong> &gt;<span class="Apple-converted-space">&nbsp;&nbsp;</span>Click <strong>CART</strong><span class="Apple-converted-space">&nbsp;&nbsp;</span>&gt;<span class="Apple-converted-space">&nbsp;&nbsp;</span>Here you may choose to either <strong>CONTINUE SHOPPING&nbsp;</strong>or <strong>PROCEED TO CHECKOUT</strong><span class="Apple-converted-space">&nbsp;&nbsp;</span>&gt;<span class="Apple-converted-space">&nbsp;&nbsp;</span>Enter your <strong>BILLING DETAILS<span class="Apple-converted-space">&nbsp;</span></strong> &gt;<span class="Apple-converted-space">&nbsp;&nbsp;</span>Tick <strong>ACCEPT TERMS AND CONDITIONS<span class="Apple-converted-space">&nbsp;&nbsp;</span></strong>&gt;<span class="Apple-converted-space">&nbsp;&nbsp;</span>Click <strong>PROCEED TO PAYMENT <span class="Apple-converted-space">&nbsp;</span></strong> &gt; <span class="Apple-converted-space">&nbsp;&nbsp;</span>Select your payment method<span class="Apple-converted-space">&nbsp;&nbsp;</span>&gt;<span class="Apple-converted-space">&nbsp;</span><span class="s8">&nbsp;add payment details</span></p>
      <p class="p14"><br></p>
      <ul class="ul1">
        <li class="li7"><span class="s3"><strong>How safe is it to use my bank card online on Ceylon Street&rsquo;s website?<span class="Apple-converted-space">&nbsp;</span></strong></span></li>
      </ul>
      <p class="p15"><br></p>
      <p class="p8">Transactions on this website comply by the highest data security standards.</p>
      <p class="p8">Our payment gateway is powered by Commercial Bank of Ceylon PLC, a PCI compliant company. As a result, our payment gateways are PA-DSS (Payment Application Data Security Standard) and PCI-DSS (Payment Card Industry Data Security Standard) certified, thereby protecting your transactions. Transactions are verified by Visa, Master and JCB ensuring&nbsp;that further security measures are taken for each transaction<span class="s9">.<span class="Apple-converted-space">&nbsp;</span></span></p>
      <p class="p15"><br></p>
      <p class="p16"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>How can I confirm my order has been placed correctly?</strong></li>
      </ul>
      <p class="p12"><br></p>
      <p class="p8">After the payment is successfully completed, you will receive an order number in a SMS along with an email with all your order details. The payment is processed straight away, so you will be able to see the charge on your bank statement.</p>
      <p class="p17"><br></p>
      <p class="p8">If you do not receive an email or an order number, your order may not have been placed properly. Please contact us and we&rsquo;ll help resolve the issue right away.</p>
      <p class="p12"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>Is my personal information kept private?<span class="Apple-converted-space">&nbsp;</span></strong></li>
      </ul>
      <p class="p12"><br></p>
      <p class="p18">We are committed to the protection of personal data and that&rsquo;s why we will only request data that is strictly necessary to provide you service. To give our customers confidence in our data security, we are transparent with our practices and precisely what information we collect. Additionally, we demand the same level of security and privacy warranties where your personal data is handled by partners or vendors. Ceylon Street is fully compliant with the EU GDPR regulations ensuring peace of mind when it comes to data protection. Full details are available for your information in our Privacy Policy documentation.<span class="s4"><span class="Apple-converted-space">&nbsp;</span></span></p>
      <p class="p12"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>What personal data does Ceylon Street handle?</strong></li>
      </ul>
      <p class="p18"><span class="s4"><br></span>Ceylon Street will only require your name, email address, address and mobile phone number. Additionally, you may share your date of birth to the store, but it isn&rsquo;t necessary for our transaction.<span class="Apple-converted-space">&nbsp;&nbsp;</span>You may find more details in our Privacy Policy documentation.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p19"><br></p>
      <p class="p6"><br></p>
      <p class="p6"><br></p>
      <p class="p3">Shipping and Delivery<span class="s10"><span class="Apple-converted-space">&nbsp;</span></span></p>
      <p class="p6"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>How do I track my order?</strong></li>
      </ul>
      <p class="p20"><br></p>
      <p class="p8">As a standard procedure, after receiving the automated confirmation of your Order, you will also receive a text message affirming the dispatch of your Order.</p>
      <p class="p21"><span class="s12">For more specific information, you may use the following trackers below:</span><span class="s13"><br> <a href="https://www.ups.com/track?loc=en_US&requester=ST/"><span class="s14">International parcel delivery tracker</span></a><br> <a href="https://gpd.lk/tracking_search.aspx?stid=aitken"><span class="s14">Local (Sri Lanka) parcel delivery tracker</span></a><span class="Apple-converted-space">&nbsp;</span></span></p>
      <p class="p9">Multiple delivery partners are in association with Ceylon Street. Hence, the operating hours for each delivery partner may differ. However, you can expect your delivery between 8:30am to 6:00pm in the delivery timezone.</p>
      <p class="p22"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>How long will my delivery take?</strong></li>
      </ul>
      <p class="p9"><span class="s11"><br></span>Your Order will be delivered to you within approximately 10 to 14 days if you are an international customer and approximately 5 to 7 days if you are a local customer.</p>
      <p class="p9"><br>We are experiencing delays in Order dispatch and delivery as we adapt to the current situation, with a commitment to help contain the pandemic. All Orders deliveries will be attended to as soon as possible. <span class="s15"><br></span></p>
      <ul class="ul1">
        <li class="li11"><strong>Can I change my shipping address once my order has been dispatched?&nbsp;</strong><span class="s7"><strong><br></strong></span></li>
      </ul>
      <p class="p9">Unfortunately,<span class="Apple-converted-space">&nbsp;&nbsp;</span>the shipping address cannot be changed once the order is complete and payment is made.<span class="s16"><span class="Apple-converted-space">&nbsp;</span></span></p>
      <p class="p23"><br></p>
      <ul class="ul1">
        <li class="li24"><span class="s18">Will my parcel be charged customs and import charges?</span><span class="s3"><br>&nbsp;<br> In most cases, any customs or import duties are charged once the parcel reaches its destination country. You may be charged for handling fees and taxes as your order passes through customs. Any charges on a parcel must be paid by the person receiving the parcel and cannot be calculated at the time of dispatch<span class="Apple-converted-space">&nbsp;&nbsp;</span>as customs policies and import duties vary widely from country to country.<br>&nbsp;If you&rsquo;d like a better idea of charges before you order, so you are not surprised by charges you were not expecting, we encourage you to contact your local customs office for current charges. We will be happy to provide you with the full weight of your package but can only do this accurately after dispatch.</span></li>
      </ul>
      <p class="p6"><br></p>
      <p class="p6"><br></p>
      <p class="p25"><br></p>
      <p class="p3">Return &amp; Exchange<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p4"><br></p>
      <p class="p6"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>Can I cancel an order before dispatch?<span class="Apple-converted-space">&nbsp;</span></strong></li>
      </ul>
      <p class="p18"><br>Once an order is placed, it cannot be cancelled.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p18">This policy is largely to protect our vendors who sometimes produce items specifically for your order.</p>
      <p class="p26"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>Can I exchange an item?</strong></li>
      </ul>
      <p class="p20"><br></p>
      <p class="p18">Exchanges are allowed only where the product/item delivered is of a different specification to what was originally displayed on the site. If you wish to exchange your item to a different colour, other available design or size to that which was originally ordered prior to the delivery made or prefer an exchange, please contact our customer care team using the messenger pop up on the right hand corner of our website or by emailing us at <a href="mailto:hello@ceylonstreet.com" style="color: #0b5ab2 ">hello@ceylonstreet.com.</a>&nbsp;in order to make a request for return and exchange. It should be noted that the price of the new item must be the same as the price at which you bought the original product and from the same range of products.</p>
      <p class="p18">Based on the request, our customer care team will inform you if additional payments are required.</p>
      <p class="p18">Ceylon Street strongly recommends you to check the product specifications such as size, measurements, colour and material etc. in the Product Details section provided on our site or by directly contacting us, prior to placing your Order<span class="s16">.</span></p>
      <p class="p27"><br></p>
      <ul class="ul1">
        <li class="li28"><span class="s17"><strong>My product is faulty, what do I do?</strong></span><span class="s19"><strong><br></strong></span><span class="s4"><br></span>Please drop your request to our customer care team by using the messenger pop up on the right hand corner of our website or by emailing us at<span class="s16">&nbsp;<a href="mailto:hello@eylonstreet.com"><span class="s14">hello@ceylonstreet.com</span></a></span> and assistance will be provided for you to return the defective/ faulty item/Order allowing you to place an Order for a new one.</li>
      </ul>
      <p class="p20"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>Does Ceylon St. do refunds?</strong></li>
      </ul>
      <p class="p9"><strong><br></strong>Given that our products are specifically commissioned, refunds on a sold item shall not be permitted. We provide all customers with an exchange option in replacing the defective/ faulty product. Delivery cost coverage will be determined and communicated by the customer Care representative on a case by case basis.</p>
      <p class="p29"><br></p>
      <ul class="ul1">
        <li class="li30"><span class="s17"><strong>How do I request a return/exchange?</strong></span><strong><br></strong><span class="s11"><br></span>Please contact us and we will be happy to facilitate the transaction for you<span class="s11">.</span></li>
      </ul>
      <p class="p31"><br></p>
      <p class="p9"><strong>A return can be requested in case of the following:</strong></p>
      <ul class="ul1">
        <li class="li30">Damaged or defective item as soon as delivered</li>
        <li class="li30">Delivery of a wrong item/package by the seller (Please note since our products are one of a kind, the product image as seen on the Ceylon Street website/app may or may not be an exact representation of the product shipped to you)</li>
        <li class="li30">Does not fit the description featured under the product on sale</li>
      </ul>
      <p class="p6"><br></p>
      <p class="p9"><strong>Listed below are products which are not eligible for return:</strong></p>
      <ul class="ul1">
        <li class="li30">Items marked for &lsquo;sale&rsquo; and &lsquo;special discount&rsquo;</li>
        <li class="li30">Opened &amp; used products (e.g. cosmetic and makeup tools)</li>
        <li class="li30">Items found with traces of fair wear &amp; tear</li>
        <li class="li30">Swimwear</li>
        <li class="li30">Underwear</li>
        <li class="li30">Any promotional item</li>
        <li class="li30">Custom made items</li>
        <li class="li30">Items from which sale/product and price tags have been removed.<span class="Apple-converted-space">&nbsp;</span></li>
      </ul>
      <p class="p32"><br></p>
      <p class="p9">You can submit your request to our customer care team by using the messenger pop up on the right hand corner of our website or emailing us at <a href="mailto:hello@ceylonstreet.com" style="color: #0b5ab2 ">hello@ceylonstreet.com</a> and we will process your return accordingly.</p>
      <p class="p6"><br></p>
      <p class="p9"><strong>Please note that upon receipt, all products are subjected to a quality check to assure the following conditions:</strong></p>
      <p class="p10"><br></p>
      <p class="p9">Unused product: The product should be unused, unwashed and unsoiled<br>Originally delivered product: The product must have the original Ceylon St. tag/seller tag/price tag/name/image/brand/serial-number/article-number/barcode etc. that was originally attached to the product when delivered, along with the receipt of the payment confirmation.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p10"><br></p>
      <p class="p9">Products/items submitted without meeting the above requirements, will not be accepted as a return that is eligible for exchange.</p>
      <p class="p20"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>Do you have a timeframe for eligible returns?</strong></li>
      </ul>
      <p class="p9">Yes we do!</p>
      <table cellpadding="0" cellspacing="0" class="t1">
        <tbody>
        <tr>
          <td class="td1" valign="top">
            <p class="p9"><strong>Category</strong></p>
          </td>
          <td class="td2" valign="top">
            <p class="p9"><strong>No. of days (after delivery)</strong></p>
          </td>
        </tr>
        <tr>
          <td class="td3" valign="top">
            <p class="p9">Fashion items</p>
            <p class="p9">Non- fashion items</p>
          </td>
          <td class="td4" valign="top">
            <p class="p9">10 days</p>
            <p class="p9">07 days<span class="Apple-converted-space">&nbsp;</span></p>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="p9">No item can be returned after the mentioned policy period.</p>
      <p class="p33"><br></p>
      <ul class="ul1">
        <li class="li34"><strong>What is the shipping cost for a returned product?</strong></li>
      </ul>
      <p class="p35">While Ceylon St. accepts returns and exchanges, we would require you to return the item/s to us. The replacement item shall be re-delivered to you at no additional cost.<span class="Apple-converted-space">&nbsp;</span></p>
      <ul class="ul1">
        <li class="li36"><span class="s17"><strong>Where do I ship the product?</strong></span><strong><br></strong><span class="s21"><strong><br></strong></span>Once we&rsquo;ve processed your refund, packages should be mailed to:</li>
      </ul>
      <p class="p18"><strong>No. 09, Velson Street, <br>&nbsp;Kanampitiya, Galle <br>&nbsp;Sri Lank</strong><span class="s21"><strong>a</strong></span></p>
      <p class="p37"><br></p>
      <p class="p37"><br></p>
      <p class="p6"><br></p>
      <p class="p25"><br></p>
      <p class="p3">Sizing and Measurements</p>
      <p class="p5"><br></p>
      <p class="p5"><br></p>
      <ul class="ul1">
        <li class="li34"><strong>How do I select the correct size?</strong></li>
      </ul>
      <p class="p35">The advantage of featuring independent creators is that nothing is mass made.<br>Each of their products and sizes are measured, and these exact measurements are available in the Product Details section. You may use these measurements to determine the fit to your liking.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p35">There is a sizing guide below for your reference.</p>
      <p class="p35">In some cases, we will indicate if custom sizing is possible too.</p>
      <p class="p38"><br></p>
      <ul class="ul1">
        <li class="li11"><strong>A standard sizing chart and a measurement guide are available for you below<br>&nbsp;<br></strong><em>Coming Soon</em><strong><br></strong></li>
        <li class="li11"><strong>What is your exchange policy for incorrect size purchase?</strong></li>
      </ul>
      <p class="p18">Exchanges are allowed only where the product/item delivered is of a different specification to what was originally displayed on the site. If you wish to exchange your item to a different size to that which was originally ordered prior to the delivery made or prefer an exchange, please contact our customer care team using the messenger pop up on the right hand corner of our website or by emailing us at <a href="mailto:hello@ceylonstreet.com" style="color: #0b5ab2 ">hello@ceylonstreet.com</a>.&nbsp;in order to make a request for return and exchange. It should be noted that the price of the new item must be the same as the price at which you bought the original product and from the same range of products.</p>
      <p class="p38"><br></p>
      <p class="p18">Based on the request, our customer care team will inform you if additional payments are required.</p>
      <p class="p18">Ceylon Street strongly recommends you to check the product specifications such as size, measurements, colour and material etc. in the Product Details section provided on our site or by directly contacting us, prior to placing your Order<span class="s16">.</span></p>
      <p class="p39"><br></p>
      <p class="p39"><br></p>
    </div>

  </div>
  <app-footer></app-footer>
</div>
