<div class="col-12">
  <nb-card size="small" style="height: auto">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Upcoming Orders">
        <nb-card>
          <!-- <nb-card-header> Registered Users &nbsp; <br /> </nb-card-header> -->

          <nb-card-body>
            <ng2-smart-table
              [settings]="settings"
              [source]="pending"
              (custom)="onCustomAction($event)"
            >
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Shipped Orders">
        <nb-card>
          <!-- <nb-card-header> Registered Users &nbsp; <br /> </nb-card-header> -->

          <nb-card-body>
            <ng2-smart-table
              [settings]="settings"
              [source]="shipped"
              (custom)="onCustomAction($event)"
            >
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Completed Orders">
        <nb-card>
          <!-- <nb-card-header> Registered Users &nbsp; <br /> </nb-card-header> -->

          <nb-card-body>
            <ng2-smart-table
              [settings]="settings"
              [source]="deilverd"
              (custom)="onCustomAction($event)"
            >
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>
