<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="form" (ngSubmit)="create()">
      <nb-card>
        <nb-card-header>Add Article</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <input
              name="title"
              type="text"
              nbInput
              fullWidth
              placeholder="Article Title"
              formControlName="title"
            />
            <input
              name="description"
              type="text"
              nbInput
              fullWidth
              placeholder="Short Description"
              formControlName="description"
            />
          </div>
          <div
            class="dropzone"
            ngxDropzone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering"
          >
            <h3>Ceylon Street Blog Cover Drop Zone</h3>
            <p>Drag and Drop Pictures</p>
          </div>

          <div *ngFor="let file of files">
            <ngx-upload-blog-picture
              [file]="file"
              (pictureUrl)="getUrl($event)"
            >
            </ngx-upload-blog-picture>
          </div>

          <br />
          <br />
          <ckeditor
            (change)="onChange($event)"
            [config]="{ extraPlugins: 'divarea', height: '320' }"
          ></ckeditor>
        </nb-card-body>

        <button
          [disabled]="form.invalid || pictureUrlArray.length == 0"
          type="submit"
          nbButton
          status="primary"
          hero
        >
          Add Article
        </button>
      </nb-card>
    </form>
  </div>

  <!-- <div class="col-lg-6"></div> -->
</div>
