
<style>

    .container{
        padding-top: 0px;
        max-width: 100%;
    }
    .mat-paginator, .mat-paginator-page-size .mat-select-trigger {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 16px;
    }

    @media screen and (max-width: 991px) {
        .container{
            padding-top: 40px;
        }
        .xyz{
            margin-top: 70px !important;
        }
    }
    @media screen and (max-width: 764px) {
        .container{
            padding-top: 70px;
        }
        .xyz{
            margin-top: 90px !important;
        }
    }
</style>
<div class="page-wrapper">

    <app-header></app-header>
    <div class="row justify-content-center xyz" style="margin-top: 73px;">
    
        <div  class="col-12" style="height: auto;padding-left: 0px;padding-right: 0px;">
            <div class="banner banner-overlay  text-white">
                <a>
                    <img src="https://firebasestorage.googleapis.com/v0/b/ceylonstreet-52df2.appspot.com/o/banners%2F1615102542468_Deco%205.jpg?alt=media&token=214bd1ae-8db4-4a14-9edf-e1544ceda29d" style="height: auto;" alt="Banner">
                </a>
            </div><!-- End .banner -->
        </div><!-- End .col-lg-4 -->
    </div>

    <main class="main">
        <div class="page-content" style="margin-top: 2%;">
            <div class="container">
            <!-- <div class=""> -->
                <div class="toolbox">
                    <div class="toolbox-left">
                        <a style="cursor: pointer;" class="sidebar-toggler"><i class="icon-filter" style="font-size: large;"></i>Filters</a>
                    </div><!-- End .toolbox-left -->

                    <div class="toolbox-center">
                        <div class="toolbox-info">
                            Showing <span>{{page*24+1}} - {{page*24+24}}</span> Products
                        </div><!-- End .toolbox-info -->
                    </div><!-- End .toolbox-center -->

                    <div class="toolbox-right">
                        <!-- <div class="toolbox-sort">
                            <label for="sortby">Sort by:</label>
                            <div class="select-custom">
                                <select name="sortby" id="sortby" class="form-control">
                                    <option value="popularity" selected="selected">Most Popular</option>
                                    <option value="rating">Most Rated</option>
                                    <option value="date">Date</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- End .toolbox-sort -->
                    </div><!-- End .toolbox-right -->
                </div><!-- End .toolbox -->

                <div class="products">
                    <div class="row justify-content-center">
                        <div class="col-6 col-md-4 col-lg-3" *ngFor="let i of filteredArray">
                            <app-product-box style="cursor: pointer;" (productChanged)=procductChangedHandler($event) [product]="i"></app-product-box>
                        </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                    </div><!-- End .row -->


                </div><!-- End .products -->
                <mat-paginator (page)="onPageChange($event)" [length]="vproducts.length" [pageSize]="24">
                </mat-paginator>

                <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                <app-filter [routerCollection]="routerCollection"  (filter)=newFilter($event) ></app-filter>
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->


    <app-footer></app-footer>

</div><!-- End .page-wrapper -->


