<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="form" (ngSubmit)="create()">
      <nb-card>
        <nb-card-header>Home Banners</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <nb-select placeholder="Banner Type" formControlName="bannerType">
              <nb-option value="homeBanner1">Banner 1</nb-option>
              <nb-option value="homeBanner2">Banner 2</nb-option>
              <nb-option value="homeBanner3">Banner 3</nb-option>
              <nb-option value="homeBanner4">Banner 4</nb-option>
              <nb-option value="homeBanner1Mobile">Mobile Banner 1</nb-option>
              <nb-option value="homeBanner2Mobile">Mobile Banner 2</nb-option>
              <nb-option value="homeBanner3Mobile">Mobile Banner 3</nb-option>
              <nb-option value="homeBanner4Mobile">Mobile Banner 4</nb-option>
              <nb-option value="videoBanner">Video Banner</nb-option>
            </nb-select>
          </div>

          <div class="full-name-inputs">
            <input
              name="homeBannerline1"
              type="text"
              nbInput
              fullWidth
              placeholder="Line 1"
              formControlName="line1"
            />
            <input
              name="homeBannerline2"
              type="text"
              nbInput
              fullWidth
              placeholder="Line 2"
              formControlName="line2"
            />
            <input
              name="homeBannerline3"
              type="text"
              nbInput
              fullWidth
              placeholder="Line 3"
              formControlName="line3"
            />
            <input
              name="homeBannerline4"
              type="text"
              nbInput
              fullWidth
              placeholder="Line 4"
              formControlName="line4"
            />
          </div>
          <div class="full-name-inputs">
            <div *ngIf="bannerType.value == 'videoBanner'">
              <input
                name="youtubeLink"
                type="url"
                nbInput
                fullWidth
                placeholder="Youtube Link"
                formControlName="youtubeLink"
              />
            </div>
          </div>
          <div class="col-md-5">
            <!-- <color-sketch [color]="state" (onChangeComplete)="changeComplete($event)"></color-sketch> -->
          </div>
          <div
            class="dropzone"
            ngxDropzone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering"
          >
            <h3>Ceylon Street Banner Cover Drop Zone</h3>
            <p>Drag and Drop Pictures</p>
          </div>

          <div *ngFor="let file of files">
            <ngx-upload-banner-pictures
              [file]="file"
              (pictureUrl)="getUrl($event)"
            >
            </ngx-upload-banner-pictures>
          </div>

          <br />
          <br />
        </nb-card-body>

        <button
          [disabled]="form.invalid || pictureUrlArray.length == 0"
          type="submit"
          nbButton
          status="primary"
          hero
        >
          Confirm
        </button>
      </nb-card>
    </form>
  </div>

  <!-- <div class="col-lg-6"></div> -->
</div>
