<style>
    .container {
        padding-top: 0px;
    }

    .btn {
        background-color: #000;
        min-width: 0;
        margin-right: 0;
        padding: .85rem .9rem;
    }

    .input-group {
        flex-wrap: initial;
    }

    input[type="number"] {
        padding: 0 0 0 10px;
        margin: 0;
    }

    @media screen and (max-width: 991px) {
        .container {
            padding-top: 40px;
        }
    }

    @media screen and (max-width: 764px) {
        .container {
            padding-top: 70px;
        }
    }

    @media (min-width: 1400px) {
        .container {
            max-width: 1340px;
        }
    }
</style>

<!-- <style>
    .img-fluid {
        height: 400px;
    }

    @media (max-width: 1400px) {
        .img-fluid {
            height: 400px;
        }
    }

    @media (max-width: 1200px) {
        .img-fluid {
            height: 400px;
        }
    }

    @media (max-width: 999px) {
        .img-fluid {
            height: 350px;
        }
    }

    @media (max-width: 766px) {
        .img-fluid {
            height: 350px;
        }
    }

    @media (max-width: 566px) {
        .img-fluid {
            height: 350px;
        }
    }
</style> -->
<div class="container quickView-container">
    <div class="quickView-content">
        <div class="row">
            <!--  -->
            <div class="col-lg-7 col-md-6">
                <div class="product-gallery product-slick" style="width: 100%;">
                    <figure class="product-main-image product-slick">
                        <!-- <span class="product-label label-top">Top</span> -->
                        <img id="product-zoom" class="img-fluid" style="width: 100%;" [src]="product.picUrl[0]" data-zoom-image
                            alt="product image">
                
                
                    </figure>
                
                    <!-- <div id="product-zoom-gallery" class="product-image-gallery">
                        <a class="product-gallery-item" *ngFor="let item of product.picUrl">
                            <img [src]="item" style="height: 100%;" alt="product side">
                        </a>
                    </div> -->
                </div>
            
            </div>
            <div class="col-lg-4 col-md-5">
                <h2 class="product-title"  style="text-align: start !important;font-weight: bold;">{{product.name}}</h2>
                <div class="product-price">
                                            
                    <span style="color: #000;font-size: medium;font-weight: 700;">Price :</span> <h3 style="margin: 0;font-weight: 700 !important;" *ngIf="product.saleOfferPrice === '0' ||product.saleOfferPrice === null">&nbsp;&nbsp; {{change(product.productPrice)}} LKR ($ {{product.productPrice}})</h3> 
                    <h3 style="margin: 0;font-weight: 700 !important;" *ngIf="product.saleOfferPrice !== '0'">&nbsp;&nbsp; {{change(product.saleOfferPrice)}} LKR ($ {{product.saleOfferPrice}})</h3> 
                                            
                                            
                </div><!-- End .product-price -->

                <div class="product-price">
                    <h4 *ngIf="product.saleOfferPrice !== '0'" style="color: rgb(197, 0, 0);">
                        <del style="font-weight: 700;">{{change(product.productPrice)}} LKR ($ {{product.productPrice}})</del> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span style="font-weight: 700;">{{offer | number}}% Off</span>
                    </h4>
                                        
                </div><!-- End .product-price -->

                <!-- <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 20%;"></div>
                    </div>
                    <span class="ratings-text">( 2 Reviews )</span>
                </div> -->

                <div class="product-content">
                    <p>{{product.description}}</p>
                </div><!-- End .product-content -->
        

                <div class="details-filter-row details-row-size" *ngIf="product.productType === 'fashion'">
                    <label for="size">Size:</label>
                    <div class="select-custom">
                        <select name="size" id="size" [(ngModel)]="size" value=val[0] class="form-control">
                            <option selected="selected" value="">Select a size</option>
                            <option *ngFor="let item of val" [value]="item" style="text-transform: capitalize;">{{item}}
                            </option>
                        </select>
                    </div><!-- End .select-custom -->
                
                    <!-- <a href="#" class="size-guide"><i class="icon-th-list"></i>size
                                                                guide</a> -->
                </div><!-- End .details-filter-row -->


                <div class="details-filter-row details-row-size" style="margin-bottom: 0 !important;">
                    <div class="details-action-col">
                        <label>Qty:</label>
                        <div class="product-details-quantity">
                            <div class="input-group">
                                <div class="value-button btn" style="background-color:#6e6e6e" id="decrease" (click)="decreaseValue()"
                                    value="Decrease Value">-</div>
                                <input type="number" id="number" disabled [value]=qty />
                                <div class="value-button btn" style="background-color:#6e6e6e" id="increase" (click)="increaseValue()"
                                    value="Increase Value">+</div>
                            </div>
                        </div><!-- End .product-details-quantity -->
                       
                    </div><!-- End .details-action-col -->
                    
                </div><!-- End .details-filter-row -->

                <div class="product-details-action" style="margin-bottom: 0 !important;margin-top: 1rem;">
                    <!-- <div class="details-action-wrapper">
                        <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                        <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a>
                    </div> -->
                    <a *ngIf="product.qty !== '0' && pqty > count && disable()" (click)="addToCart(product._id)" class="btn-product btn btn-cart"><span>add to
                            cart</span></a>
                    <a *ngIf="product.qty !== '0' && pqty > count && !disable() " (click)="addToCart(product._id)" disabled
                        class="btn-product btn btn-cart"><span>add to
                            cart</span></a>
                    <a *ngIf="product.qty === '0' || pqty <= count" class="btn-product btn btn-cart"><span>Out of Stock</span></a>
                </div>
                

                <div class="product-details-footer details-footer-col">
                    <div class="product-cat" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Item Brand</span>
                            </div>
                            <div class="col-6">
                                : {{product.itemBrand}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Item Collection</span>
                            </div>
                            <div class="col-6">
                                : {{product.itemCollection}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Product Type</span>
                            </div>
                            <div class="col-6">
                                : {{product.productType}}
                            </div>
                        </div>
                    </div>
                
                    <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Gemstone</span>
                            </div>
                            <div class="col-6">
                                : {{product.gemstone}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Birthstone</span>
                            </div>
                            <div class="col-6">
                                : {{product.birthstone}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Metal</span>
                            </div>
                            <div class="col-6">
                                : {{product.metal}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Gemstone Weight</span>
                            </div>
                            <div class="col-6">
                                : {{product.gemstoneWeight}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Gemstone Cut</span>
                            </div>
                            <div class="col-6">
                                : {{product.gemstoneCut}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Rodium Plated</span>
                            </div>
                            <div class="col-6">
                                : {{product.rodiumPlated}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Measurement</span>
                            </div>
                            <div class="col-6">
                                : {{product.measurement}}
                            </div>
                        </div>
                    </div>
                    <div class="product-cat" *ngIf="product.subProductType ==='necklaces'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Necklace Length</span>
                            </div>
                            <div class="col-6">
                                : {{product.necklaceLength}}
                            </div>
                        </div>
                    </div>
                
                    <div class="product-cat" *ngIf="product.productType ==='spice'" style="width :   80%;">
                        <div class="row">
                            <div class="col-6">
                                <span>Grams</span>
                            </div>
                            <div class="col-6">
                                : {{product.grams}}
                            </div>
                        </div>
                    </div>
                
                    <!-- <div class="product-cat">
                                                                <span>Category :  </span>
                                                                <a href="#">Women</a>,
                                                                <a href="#">Dresses</a>,
                                                                <a href="#">Yellow</a>
                                                            </div> -->
                
                    <!-- <div class="social-icons social-icons-sm">
                                                                <span class="social-label">Share :  </span>
                                                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                                                        class="icon-facebook-f"></i></a>
                                                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                                                        class="icon-twitter"></i></a>
                                                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                                                        class="icon-instagram"></i></a>
                                                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                                                        class="icon-pinterest"></i></a>
                                                            </div> -->
                </div><!-- End .product-details-footer -->

            </div>
        </div>
    </div>
</div>