@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");.container-fluid {
    width: 1800px;
    max-width: 100%;
    padding-left: 0rem;
    padding-right: 0rem;
}

.title {
    font-weight: 400;
    font-size: 2rem;
    text-transform: unset;
    letter-spacing: .1em
}

blockquote {
    color: #666;
    font-style: normal
}

blockquote p {
    max-width: 840px;
    font-size: 1.4rem;
    letter-spacing: 0;
    font-weight: 300;
    line-height: 2em;
    color: #666;
    margin-bottom: 3rem
}

blockquote .lead {
    color: #333;
    margin: 0;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem
}

blockquote cite {
    text-transform: uppercase
}

blockquote cite span {
    text-transform: capitalize
}

.testimonials .owl-simple .owl-nav .owl-next {
    right: 15%
}

.testimonials .owl-simple .owl-nav .owl-prev {
    left: 15%
}

.testimonial-icon:before {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
    border: .7rem solid #f9f9f9;
    background-color: #c66;
    box-shadow: 0 0 0 0.1rem #c66;
    margin-bottom: 2.6rem
}

.brands-border {
    background-color: #333
}

.banner-subtitle {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: .1em;
    margin-bottom: 1.2rem;
    text-transform: uppercase
}

.btn.underline {
    background-color: transparent;
    border: none;
    border-bottom: .1rem solid #fff;
    letter-spacing: .1em;
    color: #fff;
    text-transform: uppercase;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.btn.underline:hover,.btn.underline:focus {
    border-color: #c66;
    background-color: #c66
}

.btn.banner-link {
    text-transform: uppercase
}

.banner-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2em;
    margin-bottom: 1rem;
    letter-spacing: .1em
}

.banner-title strong {
    font-weight: 700
}

.banner .banner-link.btn {
    padding-left: 0;
    padding-right: 0
}

.banner .banner-link.btn:hover,.banner .banner-link.btn:focus,.banner .banner-link.btn:active {
    color: #c66;
    border-color: #c66;
    background-color: transparent
}

.color-grey.banner .banner-link.btn {
    color: #777;
    border-color: #777
}

.color-grey.banner .banner-link.btn:hover,.color-grey.banner .banner-link.btn:focus,.color-grey.banner .banner-link.btn:active {
    color: #c66;
    border-color: #c66;
    background-color: transparent
}

.banner.text-white .banner-subtitle {
    color: #fff;
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 0;
}

.banner.text-white .banner-title {
  color: #fff;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.banner-content {
    padding-top: 0;
    left: 50px
}

.banner-content.banner-content-right {
    right: 30px
}

.banner-content.banner-content-right.mr {
    right: 60px
}

.banner-big {
    color: #666;
    font-size: 1.5rem;
    line-height: 1.6
}

.banner-big .banner-content {
    max-width: 446px;
    left: 7rem
}

.banner-big .banner-subtitle {
    font-weight: 300;
    font-size: 1.4rem;
    letter-spacing: .1em;
    text-transform: uppercase
}

.banner-big .banner-title {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: .1em;
    margin-bottom: 2.2rem
}

.banner-big .banner-title+.btn {
    margin-top: 0
}

.banner-big .btn {
    min-width: 150px;
    margin-top: 0
}

.banner-big .btn:hover,.banner-big .btn:focus {
    text-decoration: none
}

.icon-boxes-container {
    padding-top: .5rem;
    padding-bottom: 2.8rem
}

.icon-boxes {
    display: flex;
    flex-wrap: wrap
}

.icon-box-side {
    font-size: 1.4rem
}

.icon-box-side .icon-box-icon {
    color: #333;
    font-size: 3.4rem
}

.icon-box-side .icon-box-title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: .1em;
    color: #333
}

.nav.nav-pills .nav-link {
    text-transform: unset;
    font-size: 1.4rem;
    letter-spacing: .1em
}

.nav.nav-pills .nav-item.show .nav-link,.nav.nav-pills .nav-item .nav-link.active {
    color: #333;
    border-bottom-color: #333
}

.nav.nav-pills .nav-item+.nav-item {
    margin-left: 3.5rem
}

.product.product-7 {
    margin-bottom: 2rem;
    background-color: #fff;
    overflow: hidden
}

.product.product-7 .product-media {
    background-color: #fff;
    position: relative
}

.product.product-7 .product-body {
    padding-bottom: .5rem
}

.product.product-7 .product-title {
    margin-bottom: .3rem;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0
}

.product.product-7 .product-price {
    color: #333;
    font-size: 1.4rem;
    letter-spacing: 0;
    margin-bottom: 2.5rem
}

.product.product-7 .product-action {
    padding-top: 0;
    padding-bottom: 0
}

.product.product-7 .btn-product {
    text-transform: uppercase;
    color: #fff;
    background-color: #333
}

.product.product-7 .btn-product span {
    color: #fff
}

.product.product-7 .btn-product:hover,.product.product-7 .btn-product:focus {
    background-color: #c66
}

.product.product-7 .btn-product-icon {
    color: #fff;
    background-color: #333
}

.product.product-7 .btn-product-icon:hover,.product.product-7 .btn-product-icon:focus {
    background-color: #c66
}

.product.product-7 .product-nav-dots {
    margin-bottom: 1.5rem
}

.featured .owl-simple .owl-nav [class*='owl-'] {
    top: 36%
}

.featured .owl-simple .owl-nav .owl-next {
    right: 10px
}

.featured .owl-simple .owl-nav .owl-prev {
    left: 10px
}

.btn-compare:before {
    content: '\e81b'
}

.owl-simple .owl-nav .owl-prev {
    left: 0
}

.owl-simple .owl-nav .owl-next {
    right: 0
}

.deal-countdown {
    margin-bottom: 0;
    max-width: 270px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 2rem
}

.deal-countdown .countdown-show3 .countdown-section {
    width: calc(33.33% - 16px)
}

.deal-countdown .countdown-show4 .countdown-section {
    width: calc(25% - 16px)
}

.deal-countdown .countdown-section {
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2rem 0 2.5rem;
    margin-left: .8rem;
    margin-right: .8rem;
    background-color: rgba(204,102,102,0.85);
    border-radius: .3rem;
    border: none
}

.deal-countdown .countdown-section:not(:last-child):after {
    color: #333333;
    content: ':';
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    position: absolute;
    left: 100%;
    margin-left: 6px;
    margin-top: -1px;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%)
}

.deal-countdown .countdown-period {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 1.5rem;
    display: block;
    font-weight: 400;
    color: #fff;
    text-transform: lowercase;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.deal-countdown .countdown-amount {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -.03em;
    margin-bottom: .4rem
}

.btn-more {
    min-width: 170px;
    text-transform: capitalize
}

.blog-posts {
    padding-bottom: .5rem
}

.blog-posts .entry-media {
    margin-bottom: 1.5rem
}

.blog-posts .entry-meta {
    letter-spacing: 0;
    margin-bottom: .3rem
}

.blog-posts .entry-title {
    font-weight: 400;
    font-size: 1.6rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: .9rem
}

.blog-posts .read-more {
    text-transform: uppercase
}

.entry-media>a {
    position: relative
}

.entry-media>a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51,51,51,0.4);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease
}

.entry-media>a:hover:after,.entry-media>a:focus:after {
    visibility: visible;
    opacity: 1
}

.brands-border .brand {
    height: 100px;
    border: .1rem solid #444;
    border-left-width: 0
}

.brands-carousel-full {
    border-top: .1rem solid #ebebeb
}

.brands-carousel-full.brands-border .brand {
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0
}

.brands-carousel-full.brands-border .owl-item:first-child .brand {
    border-left-width: 0
}

.cta-horizontal .cta-title {
    margin-top: .2rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1
}

.footer {
    background-color: #333
}

.footer .footer-middle {
    border-top-width: 0
}

.footer .widget-title {
    font-weight: 400;
    letter-spacing: .1em;
    color: #fff;
    text-transform: uppercase
}

.footer .widget-about p {
    max-width: 540px
}

.footer .widget-about-info a {
    color: #c66
}

.footer .widget-about-title {
    color: #fff
}

.footer .widget {
    margin-bottom: 5rem
}

.footer .footer-middle {
    padding-top: 7rem;
    padding-bottom: 1rem
}

.widget-newsletter form {
    padding-top: 2.5rem
}

.widget-newsletter form .btn {
    background-color: #fff;
    color: #333;
    border: none
}

.widget-newsletter form .btn:hover,.widget-newsletter form .btn:focus {
    background-color: #c66;
    color: #fff
}

.widget-newsletter form .form-control:not(:focus) {
    border-color: #fff;
    background-clip: border-box
}

.footer-bottom .container,.footer-bottom .container-fluid {
    padding-top: 2.1rem;
    padding-bottom: 2.1rem
}

.footer-bottom .container::before,.footer-bottom .container-fluid::before {
    left: 1rem;
    right: 1rem;
    background-color: #444
}

@media screen and (min-width: 768px) {
    .title {
        font-size:2rem
    }

    .banner-big .btn {
        min-width: 170px
    }
}

@media screen and (max-width: 575px) {
    .cta-horizontal-box {
        padding-left:1.5rem;
        padding-right: 1.5rem
    }
}

@media screen and (max-width: 1300px) {
    .owl-simple .owl-nav [class*='owl-'] {
        display:none
    }
}

/*# sourceMappingURL=demo-7.css.map */
