/* You can add global styles to this file, and also import other style files */
html{
    overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1,h2,h3,h4,h5,h6 {
  text-align: center !important;
}
.mat-h3,
.mat-subheading-2,
.mat-typography h3{
    margin: 0 0 28px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: translate;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(58, 58, 58); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}