<div class="tp-fullscreen-container revolution" *ngIf="!isMobileMenu()" >
    <div class="tp-fullscreen">
        <ul>
            <li data-transition=""> <img [src]='homeBanner1.picUrl' alt
                    data-bgposition="right top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption large sfr"data-x="10" data-y="260"  data-speed="900" data-start="800" data-easing="Sine.easeOut">
                    <div *ngIf="homeBanner1.line2" style="text-align: left !important;">
                        {{homeBanner1.line1}} <br> {{homeBanner1.line2}}
                    </div>
                    <div *ngIf="!homeBanner1.line2" style="text-align: left !important;">
                        {{homeBanner1.line1}}
                    </div>
                    <h1 style="color: aliceblue;text-align: left !important;" *ngIf="homeBanner1.line4">{{homeBanner1.line3}} <br> {{homeBanner1.line4}}</h1>
                    <h1 style="color: aliceblue;text-align: left !important;" *ngIf="!homeBanner1.line4">{{homeBanner1.line3}} </h1>
                </div>
                
            </li>
            <li data-transition="fade"> <img [src]='homeBanner2.picUrl' alt
                    data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption large sfl"  data-x="center" data-y="283" data-speed="900" data-start="800" data-easing="Sine.easeOut">
                    <div *ngIf="homeBanner2.line2" style="text-align: center !important;">
                        {{homeBanner2.line1}} <br> {{homeBanner2.line2}}
                    </div>
                    <div *ngIf="!homeBanner2.line2" style="text-align: center !important;">
                        {{homeBanner2.line1}}
                    </div>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="homeBanner2.line4">{{homeBanner2.line3}} <br> {{homeBanner2.line4}}</h1>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="!homeBanner2.line4">{{homeBanner2.line3}} </h1>
                </div>
            </li>
            <li data-transition="fade"> <img [src]='homeBanner3.picUrl' alt
                    data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption large sfl" data-x="700" data-y="260" data-speed="900" data-start="800"
                    data-easing="Sine.easeOut" >
                    <div *ngIf="homeBanner3.line2" style="text-align: right !important;">
                        {{homeBanner3.line1}} <br> {{homeBanner3.line2}}
                    </div>
                    <div *ngIf="!homeBanner3.line2" style="text-align: right !important;">
                        {{homeBanner3.line1}}
                    </div>
                    <h1 style="color: aliceblue;text-align: right !important;" *ngIf="homeBanner3.line4">{{homeBanner3.line3}} <br> {{homeBanner3.line4}}</h1>
                    <h1 style="color: aliceblue;text-align: right !important;" *ngIf="!homeBanner3.line4">{{homeBanner3.line3}} </h1>
                </div>
            </li>
            <li data-transition="fade"> <img [src]='homeBanner4.picUrl' alt data-bgposition="center top" data-bgfit="cover"
                    data-bgrepeat="no-repeat">
                <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800"
                    data-easing="Sine.easeOut" >
                    <div *ngIf="homeBanner4.line2" style="text-align: center !important;">
                        {{homeBanner4.line1}} <br> {{homeBanner4.line2}}
                    </div>
                    <div *ngIf="!homeBanner4.line2" style="text-align: center !important;">
                        {{homeBanner4.line1}}
                    </div>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="homeBanner4.line4">{{homeBanner4.line3}} <br> {{homeBanner4.line4}}</h1>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="!homeBanner4.line4">{{homeBanner4.line3}} </h1>
                </div>
            </li>
            <!-- <li data-transition="fade"> <img [src]='homeBanner4.picUrl[0]' alt data-bgfit="cover"
                    data-bgposition="center top" data-bgrepeat="no-repeat">
                <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900"
                    data-start="800" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;" *ngIf="homeBanner4.line2">
                    {{homeBanner3.line1}} <br> {{homeBanner3.line2}}</div>
                <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800"
                    data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;" *ngIf="homeBanner4.line2">
                    {{homeBanner3.line1}}</div>
                <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900"
                    data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;"  *ngIf="homeBanner4.line4">
                    {{homeBanner3.line3}} <br> {{homeBanner3.line4}}</div>
                <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900"
                data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;" *ngIf="!homeBanner4.line4">
                {{homeBanner3.line3}}</div>
                <div class="tp-caption tp-fade fadeout fullscreenvideo" data-x="0" data-y="0" data-speed="1000"
                    data-start="1100" data-easing="Power4.easeOut" data-elementdelay="0.01" data-endelementdelay="0.1"
                    data-endspeed="1500" data-endeasing="Power4.easeIn" data-autoplay="true"
                    data-autoplayonlyfirsttime="false" data-nextslideatend="true" data-dottedoverlay="twoxtwo"
                    data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on"
                    style="z-index: 1;">
                    <video class preload="none" width="100%" height="100%" [poster]='homeBanner4.picUrl[0]' >
                        <source [src]='homeBanner4.picUrl[1]'  type="video/mp4">
                        <source [src]='homeBanner4.picUrl[2]'  type="video/webm">
                    </video>
                </div>
            </li> -->
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.tp-fullscreen-container -->
</div>
<!-- /.revolution -->

<div class="tp-fullscreen-container revolution" *ngIf="isMobileMenu()">
    <div class="tp-fullscreen">
        <ul>
            <li data-transition=""> <img [src]='homeBanner1Mobile.picUrl' alt data-bgposition="right top" data-bgfit="cover"
                    data-bgrepeat="no-repeat">
                <div class="tp-caption large sfr" data-x="center" data-y="283"  data-speed="900" data-start="800"
                    data-easing="Sine.easeOut">
                    <div *ngIf="homeBanner1Mobile.line2" style="text-align: center !important;font-size: 35px;">
                        {{homeBanner1Mobile.line1}} <br> {{homeBanner1Mobile.line2}}
                    </div>
                    <div *ngIf="!homeBanner1Mobile.line2" style="text-align: center !important;font-size: 35px;">
                        {{homeBanner1Mobile.line1}}
                    </div>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="homeBanner1Mobile.line4">
                        {{homeBanner1Mobile.line3}} <br> {{homeBanner1Mobile.line4}}</h1>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="!homeBanner1Mobile.line4">
                        {{homeBanner1Mobile.line3}} </h1>
                </div>

            </li>
            <li data-transition="fade"> <img [src]='homeBanner2Mobile.picUrl' alt data-bgposition="center top"
                    data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption large sfl" data-x="center" data-y="283" data-speed="900" data-start="800"
                    data-easing="Sine.easeOut">
                    <div *ngIf="homeBanner2Mobile.line2" style="text-align: center !important;font-size: 35px;">
                        {{homeBanner2Mobile.line1}} <br> {{homeBanner2Mobile.line2}}
                    </div>
                    <div *ngIf="!homeBanner2Mobile.line2" style="text-align: center !important;font-size: 35px;">
                        {{homeBanner2Mobile.line1}}
                    </div>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="homeBanner2Mobile.line4">
                        {{homeBanner2Mobile.line3}} <br> {{homeBanner2Mobile.line4}}</h1>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="!homeBanner2Mobile.line4">
                        {{homeBanner2Mobile.line3}} </h1>
                </div>
            </li>
            <li data-transition="fade"> <img [src]='homeBanner3Mobile.picUrl' alt data-bgposition="center top"
                    data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption large sfl" data-x="center" data-y="283"  data-speed="900" data-start="800"
                    data-easing="Sine.easeOut">
                    <div *ngIf="homeBanner3Mobile.line2" style="text-align: center !important;font-size: 35px;">
                        {{homeBanner3Mobile.line1}} <br> {{homeBanner3Mobile.line2}}
                    </div>
                    <div *ngIf="!homeBanner3Mobile.line2" style="text-align: center !important;font-size: 35px;">
                        {{homeBanner3Mobile.line1}}
                    </div>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="homeBanner3Mobile.line4">
                        {{homeBanner3Mobile.line3}} <br> {{homeBanner3Mobile.line4}}</h1>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="!homeBanner3Mobile.line4">
                        {{homeBanner3Mobile.line3}} </h1>
                </div>
            </li>
            <li data-transition="fade"> <img [src]='homeBanner4Mobile.picUrl' alt data-bgposition="center top"
                    data-bgfit="cover" data-bgrepeat="no-repeat">
                <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900"
                    data-start="800" data-easing="Sine.easeOut">
                    <div *ngIf="homeBanner4Mobile.line2" style="text-align: center !important;font-size: 35px;">
                        {{homeBanner4Mobile.line1}} <br> {{homeBanner4Mobile.line2}}
                    </div>
                    <div *ngIf="!homeBanner4Mobile.line2" style="text-align: center !important;font-size: 35px;">
                        {{homeBanner4Mobile.line1}}
                    </div>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="homeBanner4Mobile.line4">
                        {{homeBanner4Mobile.line3}} <br> {{homeBanner4Mobile.line4}}</h1>
                    <h1 style="color: aliceblue;text-align: center !important;" *ngIf="!homeBanner4Mobile.line4">
                        {{homeBanner4Mobile.line3}} </h1>
                </div>
            </li>
            <!-- <li data-transition="fade"> <img [src]='homeBanner4.picUrl[0]' alt data-bgfit="cover"
                    data-bgposition="center top" data-bgrepeat="no-repeat">
                <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900"
                    data-start="800" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;" *ngIf="homeBanner4.line2">
                    {{homeBanner3.line1}} <br> {{homeBanner3.line2}}</div>
                <div class="tp-caption large text-center sfb" data-x="center" data-y="293" data-speed="900" data-start="800"
                    data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;" *ngIf="homeBanner4.line2">
                    {{homeBanner3.line1}}</div>
                <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900"
                    data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;"  *ngIf="homeBanner4.line4">
                    {{homeBanner3.line3}} <br> {{homeBanner3.line4}}</div>
                <div class="tp-caption medium text-center sfb" data-x="center" data-y="387" data-speed="900"
                data-start="1500" data-endspeed="100" data-easing="Sine.easeOut" style="z-index: 2;" *ngIf="!homeBanner4.line4">
                {{homeBanner3.line3}}</div>
                <div class="tp-caption tp-fade fadeout fullscreenvideo" data-x="0" data-y="0" data-speed="1000"
                    data-start="1100" data-easing="Power4.easeOut" data-elementdelay="0.01" data-endelementdelay="0.1"
                    data-endspeed="1500" data-endeasing="Power4.easeIn" data-autoplay="true"
                    data-autoplayonlyfirsttime="false" data-nextslideatend="true" data-dottedoverlay="twoxtwo"
                    data-volume="mute" data-forceCover="1" data-aspectratio="16:9" data-forcerewind="on"
                    style="z-index: 1;">
                    <video class preload="none" width="100%" height="100%" [poster]='homeBanner4.picUrl[0]' >
                        <source [src]='homeBanner4.picUrl[1]'  type="video/mp4">
                        <source [src]='homeBanner4.picUrl[2]'  type="video/webm">
                    </video>
                </div>
            </li> -->
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.tp-fullscreen-container -->
</div>