<div class="row">
  <div class="col-lg-8">
    <form [formGroup]="form" (ngSubmit)="create()">
      <nb-card>
        <nb-card-header>Add Collections</nb-card-header>
        <nb-card-body>
          <input
            name="name"
            type="text"
            nbInput
            fullWidth
            placeholder="Collection Name"
            formControlName="name"
          />

          <!-- <textarea
            rows="4"
            name="description"
            type="text"
            nbInput
            fullWidth
            placeholder="Description"
            formControlName="description"
          ></textarea> -->

          <div
            class="dropzone"
            ngxDropzone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering"
          >
            <h3>Ceylon Street Collection Drop Zone</h3>
            <p>Drag and Drop Pictures</p>
          </div>

          <!-- <h3>Uploads</h3> -->

          <div *ngFor="let file of files">
            <ngx-upload-task
              [file]="file"
              (pictureUrl)="getUrl($event)"
            ></ngx-upload-task>
          </div>
        </nb-card-body>

        <button
          [disabled]="form.invalid || pictureUrlArray.length == 0"
          type="submit"
          nbButton
          status="primary"
          hero
        >
          Add Collection
        </button>
      </nb-card>
    </form>
  </div>

  <!-- <div class="col-lg-6"> -->
    <nb-card>
      <nb-card-header>
        Brands <br />

      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table
          [settings]="settings"
          [source]="brands"
          (editConfirm)="onEditConfirm($event)"
          (createConfirm)="onSaveConfirm($event)"
          (deleteConfirm)="onDeleteConfirm($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  <!-- </div> -->
</div>
