<style>
    /* .item:focus, .item:hover{
        box-shadow:  0 6px 12px rgba(0, 0, 0, 0.175);
    } */
</style>

<div class="container">

    <hr class="mb-1">

    <h2 class="title text-center mb-3" style="text-transform: uppercase;font-weight: 700;">Collections</h2><!-- End .title mb-2 -->

    <div class="carousel carousel-boxed3" >
        <div class="item active" *ngFor="let collection of collections">
            <div class="product product-7 m-1 text-center" style="width:98%;margin-left: auto;margin-right: auto;cursor: pointer !important;" (click)="toCollection(collection)" >
                <figure class="product-media">
                    <a>
                        <img [src]="collection.picUrl[0]" alt="Product image" class="product-image">
                        <img [src]="collection.picUrl[1]" alt="Product image"
                            class="product-image-hover">
                    </a>
                </figure>

                <div class="banner-content banner-content-static text-center">
                    <h3 class="banner-title">{{collection.name}}</h3><!-- End .banner-title -->
                    <!-- <h4 class="banner-subtitle">18 Products</h4> -->
                    <div class="product-action">
                        <a class="btn-product btn-cart" (click)="toCollection(collection)">Shop Now</a>
                    </div>
                </div><!-- End .banner-content -->
            </div>
        </div>

    </div>

    <hr class="mb-1">
</div>
