<style>
  ::ng-deep .navbar .nav > li.current > a,
  .navbar .navbar-nav > li > a:focus,
  .navbar .nav > li > a:hover {
    color: white !important;
  }
</style>
<nav class="navbar fixeds" style="position: fixed">
  <div class="navbar-header">
    <div class="basic-wrapper">
      <div class="navbar-brand">
        <a routerLink="/"
          ><img
            src="#"
            srcset="
              ../../assets/images/logo.png      1x,
              ../../assets/images/logo%402x.png 2x
            "
            class="logo-light"
            alt /><img
            src="#"
            srcset="
              ../../assets/images/logo-dark.png      1x,
              ../../assets/images/logo-dark%402x.png 2x
            "
            class="logo-dark"
            alt
        /></a>
      </div>
      <a
        class="btn responsive-menu"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        ><i></i
      ></a>
    </div>
    <!-- /.basic-wrapper -->
  </div>
  <!-- /.navbar-header -->
  <div class="collapse navbar-collapse">
    <!-- <ul class="nav navbar-nav">
            <li><a routerLink="/shop" style="font-size: x-large;font-weight: 600;">SHOP

                </a>
                <ul class="dropdown-menu">
                                    <li><a href="index.html">Default Layout</a></li>
                                    <li><a href="index2.html">Home with AJAX Gallery</a></li>
                                    <li><a href="index3.html">Home with Onepage Gallery</a></li>
                                    <li><a href="index4.html">Home with Slide Portfolio</a></li>
                                    <li><a href="index5.html">Home with Grid Blog 1</a></li>
                                    <li><a href="index6.html">Home with Grid Blog 2</a></li>
                                    <li><a href="index7.html">Home with Magazine 1</a></li>
                                    <li><a href="index8.html">Home with Magazine 2</a></li>
                                    <li><a href="onepage.html">Onepage Layout</a></li>
                                </ul>
            </li>
            <li style="margin: 0 25px;"><a routerLink="/shop" style="font-size: x-large;font-weight: 600;">SHOP
                    <span class="caret"></span>
                </a>
            </li>
            <li style="margin-right: 0;margin-left: 25px;">
                <a style="font-size: x-large;font-weight: 600;color: #ffffff !important">SEARCH</a>

            </li>
            <li style="margin-left: 0; margin-right: 25px;">
                <div class="widget">
                    <form class="searchform" method="get">
                        <label style="display: inline;">
                            <input type="text"
                                style="background-color: rgba(0, 0, 0, 0);border-bottom-style: inset;border-bottom-color: white;color: aliceblue;margin-bottom: 10%;"
                                id="s2" name="s">
                        </label>
                    </form>
                </div>
            </li>
            <li style="margin: 0 25px;"><a routerLink="/look-book" style="font-size: x-large;font-weight: 600;">LOOK BOOK</a>
        </ul> -->
    <!-- /.navbar-nav -->
    <ul class="nav navbar-nav" *ngIf="!isMobileMenu()">
      <li style="margin: 0 25px">
        <a routerLink="/shop" style="font-size: x-large; font-weight: 500"
          >SHOP
          <!-- <span class="caret"></span> -->
        </a>
      </li>
      <li style="margin-right: 0; margin-left: 25px">
        <a style="font-size: x-large; font-weight: 500">SEARCH</a>
      </li>
      <li style="margin-left: 0; margin-right: 25px">
        <div class="widget">
          <!-- <form class="searchform" method="get"> -->
          <label style="display: inline">
            <!-- <input
                type="text"
                style="
                  background-color: rgba(0, 0, 0, 0);
                  border-bottom-style: inset;
                  border-bottom-color: white;
                  color: aliceblue;
                  margin-bottom: 10%;
                "
                id="s2"
                name="s"
              /> -->

            <input
              type="text"
              [(ngModel)]="term"
              style="
                background-color: rgba(0, 0, 0, 0);
                border-bottom-style: inset;
                border-bottom-color: white;
                color: aliceblue;
                margin-bottom: 10%;
                padding-top: 4%;
              "
            />
          </label>
          <!-- </form> -->
        </div>
      </li>
      <li style="margin: 0 25px">
        <a routerLink="/look-book" style="font-size: x-large; font-weight: 500"
          >LOOK BOOK</a
        >
      </li>
    </ul>
    <ul class="nav navbar-nav" *ngIf="isMobileMenu()">
      <li style="margin: 0 25px">
        <a routerLink="/shop" style="font-size: large; font-weight: 400"
          >SHOP
          <!-- <span class="caret"></span> -->
        </a>
      </li>
      <li style="margin-right: 0; margin-left: 25px">
        <a style="font-size: large; font-weight: 400">SEARCH</a>
      </li>
      <li style="margin-left: 0; margin-right: 25px">
        <div class="widget" style="margin-bottom: 1.5rem">
          <!-- <form class="searchform" method="get"> -->
          <label style="display: inline">
            <!-- <input
                type="text"
                style="
                  background-color: rgba(0, 0, 0, 0);
                  border-bottom-style: inset;
                  border-bottom-color: white;
                  color: aliceblue;
                "
                id="s2"
                name="s"
              /> -->
            <input type="text" [(ngModel)]="term" style="
                                                    background-color: rgba(0, 0, 0, 0);
                                                    border-bottom-style: inset;
                                                    border-bottom-color: white;
                                                    color: aliceblue;
                                                    margin-bottom: 5%;
                                                " />
            <div style="padding-left: 15%;" *ngIf="term != ''">
              <div class="menu" *ngFor="let item of items | filter: term| slice: 0:15">
                <li style="cursor: pointer;font-size: large;font-weight: bolder;color: white;" (click)="toProduct(item._id)" class="menu-item">
                  {{ item.name }}
                </li>
              </div>
            </div>
          </label>
          <!-- </form> -->
        </div>
      </li>
      <li style="margin: 0 25px">
        <a routerLink="/look-book" style="font-size: large; font-weight: 400"
          >LOOK BOOK</a
        >
      </li>
      <li *ngIf="!islogin" style="margin-left: 0; margin-right: 25px">
        <a style="font-size: large; font-weight: 400" routerLink="/login"
          >login</a
        >
      </li>
      <li *ngIf="islogin" style="margin-left: 0; margin-right: 25px">
        <a style="font-size: large; font-weight: 400" routerLink="/orders"
          >orders</a
        >
      </li>
      <li style="margin-left: 0; margin-right: 25px">
        <a style="font-size: large; font-weight: 400" routerLink="/cart"
          >cart</a
        >
      </li>
      <li>
        <a href="https://wa.link/lgcznn" style="font-size: x-large; font-weight: 400">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              fill="#fff"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
              />
            </svg>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
  <div class="social-wrapper">
    <ul class="nav navbar-nav" style="float: right">
      <li>
        <a href="https://wa.link/lgcznn">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              fill="#fff"
              height="24"
              viewBox="0 0 24 24"
              style="margin-bottom: 10px;"
              >
              <path
                d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946.003-6.556 5.338-11.891 11.893-11.891 3.181.001 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.48 8.414-.003 6.557-5.338 11.892-11.893 11.892-1.99-.001-3.951-.5-5.688-1.448l-6.305 1.654zm6.597-3.807c1.676.995 3.276 1.591 5.392 1.592 5.448 0 9.886-4.434 9.889-9.885.002-5.462-4.415-9.89-9.881-9.892-5.452 0-9.887 4.434-9.889 9.884-.001 2.225.651 3.891 1.746 5.634l-.999 3.648 3.742-.981zm11.387-5.464c-.074-.124-.272-.198-.57-.347-.297-.149-1.758-.868-2.031-.967-.272-.099-.47-.149-.669.149-.198.297-.768.967-.941 1.165-.173.198-.347.223-.644.074-.297-.149-1.255-.462-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.297-.347.446-.521.151-.172.2-.296.3-.495.099-.198.05-.372-.025-.521-.075-.148-.669-1.611-.916-2.206-.242-.579-.487-.501-.669-.51l-.57-.01c-.198 0-.52.074-.792.372s-1.04 1.016-1.04 2.479 1.065 2.876 1.213 3.074c.149.198 2.095 3.2 5.076 4.487.709.306 1.263.489 1.694.626.712.226 1.36.194 1.872.118.571-.085 1.758-.719 2.006-1.413.248-.695.248-1.29.173-1.414z"
              />
            </svg>
          </span>
        </a>
      </li>
      <li *ngIf="!islogin"><a routerLink="/login"><i class="icon-user" style="font-size: x-large;"></i></a></li>
      <li *ngIf="islogin"><a routerLink="/orders"><i class="icon-inbox-1" style="font-size: large;"></i></a></li>
      <li><a routerLink="/cart"><img src="assets/images/cart.png" style="width: 24px;margin-bottom: -4px;"></a></li>
      <!-- <li><a href="#">wishlist</a></li> -->
    </ul>
    <!-- /.social -->
  </div>
  <!-- /.social-wrapper -->
</nav>
<div *ngIf="term != '' && !isMobileMenu()" style="position: fixed;margin-left: 43vw;top: 50px;z-index: 100000; background-color: white;width: 15vw;
padding: 1%;">
  <div *ngIf="term != ''">
    <div class="menu" *ngFor="let item of items | filter: term| slice: 0:15">
      <li style="cursor: pointer" (click)="toProduct(item._id)" class="menu-item">
        {{ item.name }}
      </li>
    </div>
  </div>
</div>
