<style>
    .container {
        padding-top: 0px;
    }

    .mat-paginator,
    .mat-paginator-page-size .mat-select-trigger {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 16px;
    }


    @media screen and (max-width: 991px) {
        .container {
            padding-top: 40px;
        }
    }

    @media screen and (max-width: 764px) {
        .container {
            padding-top: 70px;
        }
    }
</style>
<!-- header start -->
<app-header></app-header>
<!-- header end -->
<div class="bg_cls">
    <!--section start-->
    <section class="cart-section section-b-space">
        <div class="container pagetop" style="margin-top: 7%;">
            <div class="media">
                <div class="text-center">
                    <img [src]=pic style="border-radius: 50%;" alt="#" />
                    <h6>{{email}}</h6>
                </div>
                <div class="media-body" style="text-align: center;padding-top: 3%;">
                    <div class="row cart-buttons">
                        <div class="col-sm-6">
                            <h4 style="text-transform: capitalize;">wellcome {{name}}</h4>
                        </div>
                        <div class="col--sm-6 ml-5">
                            <a (click)="logout()" class="btn btn-dark"> Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="heading heading-center mb-3">
                <h2 class="title">Trending Now</h2><!-- End .title -->
            
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="new-women-link" data-toggle="tab" href="#new-women-tab" role="tab"
                            aria-controls="new-women-tab" aria-selected="true">Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="new-men-link" data-toggle="tab" href="#new-men-tab" role="tab"
                            aria-controls="new-men-tab" aria-selected="false">Deilverd</a>
                    </li>
                </ul>
            </div><!-- End .heading -->
            
            <div class="tab-content"  *ngIf="!isMobileMenu()">
                <div class="tab-pane p-0 fade show active in" id="new-women-tab" role="tabpanel" aria-labelledby="new-women-link">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table cart-table table-responsive-xs">
                                <thead>
                                    <tr class="table-head">
                                        <th scope="col">Image</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of items">
                                    <tr>
                                        <td>
                                            <a style="cursor: pointer;"><img [src]=item.picUrl style="height: 150px;width: 100px;" alt /></a>
                                        </td>
                                        <td>
                                            {{item.name}}
                                        </td>
                                        <td>
                                            {{item.qty}}
                                        </td>
                                        <td>
                                            {{item._id}}
                                        </td>
                                        <td>
                                            {{item.date.split('GMT')[0]}}
                                        </td>
                                        <td style="text-transform: capitalize;">
                                            {{item.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="new-men-tab" role="tabpanel" aria-labelledby="new-men-link">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table cart-table table-responsive-xs">
                                <thead>
                                    <tr class="table-head">
                                        <th scope="col">Image</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Order Date</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of items1">
                                    <tr>
                                        <td>
                                            <a style="cursor: pointer;"><img [src]=item.picUrl  style="height: 100px;width: 100px;" alt /></a>
                                        </td>
                                        <td>
                                            {{item.name}}
                                        </td>
                                        <td>
                                            {{item.qty}}
                                        </td>
                                        <td>
                                            {{item._id}}
                                        </td>
                                        <td>
                                            {{item.date.split('GMT')[0]}}
                                        </td>
                                        <td style="text-transform: capitalize;">
                                            {{item.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- .End .tab-pane -->
            </div>
            <div class="tab-content" *ngIf="isMobileMenu()">
                <div class="tab-pane p-0 fade show active in" id="new-women-tab" role="tabpanel" aria-labelledby="new-women-link">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table cart-table table-responsive-xs">
                                <thead>
                                    <tr class="table-head">
                                        <th scope="col">Image</th>
                                        <th scope="col">Order </th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of items">
                                    <tr>
                                        <td>
                                            <a style="cursor: pointer;"><img [src]=item.picUrl style="height: 100px;width: 100px;" alt /></a>
                                        </td>
                                        <td style="text-align: center;">
                                            {{item.name}}<br>
                                            {{item.qty}}<br><br>
                                            {{item._id}}<br><br>
                                            {{item.date.split('GMT')[0]}}
                                        </td>
                                        <td style="text-transform: capitalize;">
                                            {{item.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="new-men-tab" role="tabpanel" aria-labelledby="new-men-link">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table cart-table table-responsive-xs">
                                <thead>
                                    <tr class="table-head">
                                        <th scope="col">Image</th>
                                        <th scope="col">Order </th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let item of items1">
                                    <tr>
                                        <td>
                                            <a style="cursor: pointer;"><img [src]=item.picUrl style="height: 100px;width: 100px;"
                                                    alt /></a>
                                        </td>
                                        <td style="text-align: center;">
                                            {{item.name}}<br>
                                            {{item.qty}}<br><br>
                                            {{item._id}}<br><br>
                                            {{item.date.split('GMT')[0]}}
                                        </td>
                                        <td style="text-transform: capitalize;">
                                            {{item.status}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- .End .tab-pane -->
            </div>
           
            <div class="row cart-buttons">
                <div class="col-6">
                    <a routerLink="/shop" class="btn btn-dark">continue shopping</a>
                </div>
                <div class="col-6"></div>
            </div>
            
        </div>
    </section>
    <!--section end-->

    <!-- footer start -->
    <app-footer></app-footer>
    <!-- footer end -->

    <!-- tap to top start -->
    <div class="tap-top">
        <div><i class="fa fa-angle-double-up"></i></div>
    </div>
</div>