<app-header></app-header>

<style>
    .container {
        padding-top: 0px;
    }

    .mat-paginator,
    .mat-paginator-page-size .mat-select-trigger {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 16px;
    }


    @media screen and (max-width: 991px) {
        .container {
            padding-top: 40px;
        }
    }

    @media screen and (max-width: 764px) {
        .container {
            padding-top: 70px;
        }
    }
</style>
<style>
    .img-fluid {
        width: fit-content;
    }

    .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .blog-left:hover .image {
        opacity: 0.6;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }

    .blog-left:hover .middle {
        opacity: 1;
    }

    .text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        padding: 16px 32px;
    }
</style>


<div class="collection-wrapper" style="margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-6 blog-media zoom" *ngFor="let item of lookBooks" style="padding: 3%;cursor: pointer;">
                <div class="blog-left" (click)="getLookbook(item._id)">
                    <a  style="cursor: pointer;">
                        <img [src]="item.picUrl" class="image img-fluid blur-up lazyload" alt />

                        <!--/.cbp-caption-activeWrap -->
                    </a>
                    <figure class="middle">
                        <div class="cbp-l-caption-title text"><span class="cbp-plus" style="color: #ffffff;"></span>
                        </div>
                    </figure>
                </div>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>