body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("https://firebasestorage.googleapis.com/v0/b/ceylonstreet-52df2.appspot.com/o/banners%2F1596012232096_DSC08712.jpg?alt=media&token=a642e32d-2928-4ef7-a59a-9dbd7263dbc0");
  // background-image: url("../../assets/images/back.jpg");

  /* Control the height of the image */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  max-width: 500px;
  padding: 16px;
  background-color: white;
}

.form-container {
  height: 100%;
  display: grid;
  align-content: center;
  .form-container-inner {
    .formclass {
      margin: auto;
    }
  }
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
