<style>
  .container {
    padding-top: 0px;
  }

  .btn {
    background-color: #000;
    min-width: 0;
    margin-right: 0;
    padding: .85rem .9rem;
  }

  .input-group {
    flex-wrap: initial;
  }

  input[type="number"] {
    padding: 0 0 0 10px;
    margin: 0;
  }

  @media screen and (max-width: 991px) {
    .container {
      padding-top: 40px;
    }
  }

  @media screen and (max-width: 764px) {
    .container {
      padding-top: 70px;
    }
  }
</style>
<div class="page-wrapper">
  <app-header></app-header>
  <div class="page-content" style="margin-top: 10%;">
    <style type="text/css">
      p.p1 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        text-align: center;
        font: 16.0px Helvetica;
        color: #000000
      }

      p.p2 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353;
        background-color: #ffffff
      }

      p.p3 {
        margin: 0.0px 0.0px 22.5px 0.0px;
        font: 14.5px Helvetica;
        color: #535353;
        background-color: #ffffff
      }

      p.p4 {
        margin: 0.0px 0.0px 22.5px 0.0px;
        font: 20.0px Helvetica;
        color: #000000
      }

      p.p5 {
        margin: 30.0px 0.0px 15.0px 0.0px;
        font: 14.5px Helvetica;
        color: #333333
      }

      p.p6 {
        margin: 0.0px 0.0px 22.5px 0.0px;
        font: 14.5px Helvetica;
        color: #333333
      }

      p.p7 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353
      }

      p.p8 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        text-align: justify;
        font: 14.5px Helvetica;
        color: #535353
      }

      p.p9 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353;
        min-height: 14.0px
      }

      p.p10 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353
      }

      p.p11 {
        margin: 30.0px 0.0px 15.0px 0.0px;
        font: 14.5px Helvetica;
        color: #333333
      }

      p.p12 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 20.0px Helvetica;
        color: #000000;
        min-height: 20.0px
      }

      p.p13 {
        margin: 30.0px 0.0px 15.0px 0.0px;
        font: 14.5px Helvetica;
        color: #333333
      }

      p.p14 {
        margin: 0.0px 0.0px 22.5px 0.0px;
        font: 14.5px Helvetica;
        color: #535353
      }

      p.p15 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        font: 14.5px Helvetica;
        color: #103cc0
      }

      p.p16 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 16.0px Helvetica;
        color: #000000;
        min-height: 14.0px
      }

      p.p17 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px Helvetica;
        color: #000000
      }

      p.p18 {
        margin: 0.0px 0.0px 15.0px 0.0px;
        text-align: justify;
        font: 14.5px Helvetica;
        color: #535353
      }

      p.p19 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353
      }

      p.p20 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 14.5px Helvetica;
        color: #000000;
        background-color: #ffffff
      }

      li.li8 {
        margin: 0.0px 0.0px 12.0px 0.0px;
        text-align: justify;
        font: 14.5px Helvetica;
        color: #535353
      }

      li.li10 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353
      }

      li.li18 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: justify;
        font: 14.5px Helvetica;
        color: #535353
      }

      span.s1 {
        font: 14.0px Helvetica
      }

      span.s2 {
        text-decoration: underline
      }

      span.s3 {
        text-decoration: underline;
        margin: 30.0px 0.0px 15.0px 0.0px;
        color: #333333
      }

      span.s4 {
        font: 16.0px Helvetica;
        text-decoration: underline;
        color: #000000
      }


      span.s7 {
        font: 16.0px Helvetica;
        color: #000000
      }

      span.s8 {
        color: #535353
      }

      span.s9 {
        text-decoration: underline;
        color: #103cc0
      }

      span.s10 {
        color: #000000
      }

      span.s12 {
        font: 14.0px Helvetica
      }

      table.t1 {
        border-collapse: collapse
      }

      td.td1 {
        width: 257.0px;
        height: 12.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td2 {
        width: 361.0px;
        height: 12.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td3 {
        width: 257.0px;
        height: 34.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      td.td4 {
        width: 361.0px;
        height: 34.0px;
        border-style: solid;
        border-width: 1.0px 1.0px 1.0px 1.0px;
        border-color: #000000 #000000 #000000 #000000;
        padding: 4.0px 4.0px 4.0px 4.0px
      }

      ol.ol1 {
        list-style-type: decimal
      }

      ul.ul1 {
        list-style-type: disc
      }
    </style>
    <div class="container">
      <p class="p1"><span class="s1"><span class="Apple-converted-space">&nbsp;</span></span><strong>TERMS AND CONDITIONS</strong></p>
      <p class="p2">The following Terms will apply to any contract between us for the sale of Products from <strong>Ceylon</strong> <strong>Street</strong> (<strong>&ldquo;us&rdquo;, &ldquo;our website&rdquo;, &ldquo;www.ceylonstreet.com&rdquo;, &ldquo;our&rdquo;&nbsp;</strong>and/or<strong>&nbsp;&ldquo;we&rdquo;</strong>) to you (<strong>&ldquo;the customer&rdquo;</strong>). Before using our site, please read these Terms carefully and make sure that you understand them.</p>
      <p class="p2">When placing an Order or making a payment you will be asked to agree to these Terms. If you refuse to accept these Terms, you will not be able to order any Products from our site or make any payments related thereto.</p>
      <p class="p3">These Terms and Conditions work in conjunction with our Privacy Policy. Reviewing both documents will give you a comprehensive understanding of the terms and conditions of your agreement with us and how we protect your privacy.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p4">Transaction Policies</p>
      <p class="p5"><span class="s2"><strong>About Us</strong></span></p>
      <p class="p2">We are Ceylon Street Concept Store Pvt. Ltd. under company registered number 0223403 with its principal place of business at No: 09, Velson Street, Kanampitiya, Galle, Sri Lanka.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p2">These Terms apply to the Contract formed between you and Ceylon Street Concept Store Pvt. Ltd. for the sale of those Products to you. If you wish to contact us for any other reason, including any inquiries, comments or complaints, please do so by using the messenger pop up on the right hand corner of our website.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p3"><span class="s3"><strong>Age of Consent</strong></span><span class="s4"><strong><br>&nbsp;<br></strong></span>By agreeing to these Terms of Service, you consent that you are at least the age of majority in your state, province or country of residence, and you give us your consent to allow any of your minor dependents to use this site.</p>
      <p class="p6"><span class="s2"><strong>How our contract is formed</strong></span></p>
      <p class="p7">We contract with retailers nationwide, to make their goods available to you. By placing an Order with us through our site, you acknowledge that your transaction will be with us and not with the respective retailer. You further acknowledge that following successful verification of the authenticity and sufficiency of the information you provide, we will purchase the merchandise from the respective retailer for the sole purpose of selling it to you for the amounts presented and agreed-upon when you submitted your Order. We will be responsible for fulfilling the Order to you.<br><br>The order process allows you to check and amend any errors before submitting your Order to us. Please take the time to read and check your Order at each page of the order process.<br><br>After you place an Order, you will receive an e-mail from us confirming that we have received your Order. The following terms apply once you have received the confirmation email.</p>
      <p class="p8">If we are unable to supply you with a Product because it is not in stock, no longer available, or in the event of an error in the price on our site, we shall have the right to refuse or cancel any such Order placed for the incorrect price, regardless of whether the Order is being processed or has been processed. If payment has already been made or if your account has already been charged for the purchase and the Order is cancelled, we will credit your account in the full amount charged within <span class="s5">96</span> hours. Please note that there may be a delay of the proof of refund appearing in your bank statements as per your individual bank processes. In this case, we urge you to contact your bank for more information.</p>
      <p class="p8">We reserve the right to limit the number of items ordered and to refuse service to you without prior notification, where the need so arises.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p8">Please note that any Products made available through our site are intended for noncommercial use, and purchase of any Products for resale purposes is strictly prohibited.<br><br><span class="s3"><strong>Payments</strong></span></p>
      <p class="p8">You can currently purchase goods in LKR/USD, and we do accept worldwide payments through Global Visa, MasterCard and Union Pay. <span class="s6"><br>&nbsp;<br></span><span class="s3"><strong>Terms of Payment</strong></span><span class="s4"><strong><br>&nbsp;<br></strong></span>By placing an Order with us, you are (i) offering to purchase a product, (ii) affirming that you are of a legal age to form a binding contract, and (iii) affirming that all information you provide to us in connection with such Order is true and accurate and you are an authorized user of the payment method provided.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p9"><br></p>
      <p class="p10">Receiving an Order confirmation does not constitute our acceptance of an Order. We retain the right to refuse any Order request made by you. When and if you receive the tracking information, your order is then confirmed and prepared for shipping.</p>
      <p class="p9"><br></p>
      <p class="p7">Prior to our acceptance of an Order, verification of information may be required. We reserve the right at any time after receipt of your Order to accept, modify or decline your Order, or any portion thereof, even after your receipt of an Order confirmation from us, for any reason whatsoever, and you will be duly notified of any such changes.</p>
      <p class="p8">We reserve the right to limit the number of items ordered and to refuse service to you without prior notification, where the need so arises. In the event that an incorrect price, either due to an error such as typographical or other, we shall have the right to refuse or cancel any such Order placed for the incorrect price, regardless of whether the Order is being or has been processed. If payment has already been made or if your account has already been charged for the purchase and the Order is cancelled, we will credit your account in the amount already being charged within 96 hours. There may be a delay of the proof of refund appearing in your bank statements as per your individual bank processes. In this case, we urge you to contact your bank for more information.</p>
      <p class="p11"><span class="s2"><strong>Applicable Payment Methods&nbsp;</strong></span><span class="s7"><br></span></p>
      <p class="p10">Credit Card / Debit Card</p>
      <p class="p10">Master Cards / Visa <span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p7">Union Pay<br>Please note that where an Order has been placed, the payment method cannot be changed.</p>
      <p class="p10"><span class="s3"><strong>Status of Card Details submitted with Ceylon Street&nbsp;</strong></span><span class="s7"><br>&nbsp;<br></span>We do not retain your credit / debit card information after an Order is completed; it is submitted directly to our authorized payment gateway partner Commercial Bank of Ceylon PLC<span class="Apple-converted-space">&nbsp;&nbsp;</span>for payment processing.</p>
      <p class="p9"><br></p>
      <p class="p7">You can be assured that every credit card transaction on Ceylonstreet.com occurs within a secure environment.</p>
      <p class="p7">Furthermore, your card details will be protected using the PCI DSS Compliance (The Payment Card Industry Data Security Standard) used by our payment gateway partners.<br>You may refer to our Privacy Policy for further details.</p>
      <p class="p12"><br></p>
      <p class="p12"><br></p>
      <p class="p4">SHIPPING AND DELIVERY</p>
      <p class="p13"><span class="s2"><strong>Basic Procedure and Delivery time<span class="Apple-converted-space">&nbsp;</span></strong></span></p>
      <p class="p7">Your Order will be delivered to you within approximately 10 to 14 days if you are an international customer and approximately 5 to 7 days if you are a local customer.</p>
      <p class="p7">As a standard procedure, after receiving the automated confirmation of your Order, you will also receive a text message affirming the dispatch of your Order. As we work with multiple delivery partners, each of them have their own channels of communications, such as text messages, emails, or calls.</p>
      <p class="p7">Typically, the delivery partner may contact the customer prior to their arrival, but we cannot guarantee that. If you are not available at the time of the delivery attempt, they will surely try to contact you. If they are unable to reach you, the courier partner will attempt a re-delivery at a later time.</p>
      <p class="p13"><span class="s2"><strong>Covid-19 Pandemic related delays</strong></span></p>
      <p class="p14">We are experiencing delays in Order dispatch and delivery as we adapt to the current situation, with a commitment to help contain the pandemic. All Orders deliveries will be attended to as soon as possible.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p13"><span class="s2"><strong>Re-delivery mechanism</strong></span></p>
      <p class="p7">If you are not available at the time of delivery, our courier partner will schedule a re-delivery attempt at another time on the same day or on a later date.</p>
      <p class="p7">Please note that delivery may be affected depending on the country of delivery as we adapt to the current situation, with a commitment to help contain the pandemic. We appreciate your patience while we work hard to get your products delivered to you as soon as possible.<br><span class="s7"><br></span><span class="s3"><strong>Issues relating to the delivered items&nbsp;</strong></span><span class="s7"><br>&nbsp;<br></span>The parcel being delivered can only be opened, after you have signed for the package, if signing is required. If there is any issue with the item delivered, you can get in touch with our customer service team using the messenger pop up on the right hand corner of our website and report it. We will be more than happy to assist you with clarification if needed or the return/exchange process.<span class="s7"><br>&nbsp;<br></span><span class="s3"><strong>Operating hours of CEYLON STREET delivery service</strong></span></p>
      <p class="p7">Multiple delivery partners are in association with Ceylon Street. Hence, the operating hours for each delivery partner may differ. However, you can expect your delivery between 8:30am to 6:00pm in the delivery timezone.</p>
      <p class="p15"><span class="s8"><span class="Apple-converted-space">&nbsp;</span>For more specific information, you may use the following trackers below:<br> <a href="https://www.ups.com/track?loc=en_US&requester=ST/"><span class="s9">International parcel delivery tracker</span></a><br> <a href="https://gpd.lk/tracking_search.aspx?stid=aitken"><span class="s9">Local (Sri Lanka) parcel delivery tracker</span></a><span class="Apple-converted-space">&nbsp;</span></span></p>
      <p class="p10">Our delivery partners may contact you prior to the delivery attempt in order to coordinate the exact time and location of delivery, depending on the courier service, mail delivery service and/or country of delivery.</p>
      <p class="p16"><br></p>
      <p class="p13"><span class="s2"><strong>Misplaced deliveries post a delivery confirmation notice<span class="Apple-converted-space">&nbsp;</span></strong></span></p>
      <p class="p7">Having received SMS confirmation on your delivery, we advise you to check with anyone at your pickup location in case they have accepted the parcel on your behalf prior to contacting us.</p>
      <p class="p7">If you still fail to locate your parcel, you can reach out to our customer care team using the messenger pop up on the right hand corner of our website and we will do our best to assist you.</p>
      <p class="p13"><span class="s2"><strong>Unmatched delivery to the ordered description</strong></span></p>
      <p class="p7">To keep our carbon footprint minimal, we bundle all items to one delivery to the best of our abilities, where multiple retail partners are involved. There can be instances where lead times differ amongst our partners. At such times, you may receive the items of your Order across multiple deliveries. You may verify this with your tracking confirmations. <span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p7">However, if you ordered all items from one seller and still find some items missing in your parcel, then please reach out to our customer care team by clicking using the messenger pop up on the right hand corner of our website, and we will resolve the matter for you right away.</p>
      <p class="p13"><span class="s2"><strong>Delivery Fee</strong></span></p>
      <p class="p7">Shipping costs are calculated automatically at the checkout page with the input of the destination by the customer and in considering the package particulars. The full amount is based on quantity, weight or volume of goods.<br>Your order will be sent out via the most suitable carrier, dependent on size and weight.</p>
      <p class="p13"><span class="s2"><strong>Potential Custom Fees</strong></span></p>
      <p class="p7">In most cases, any customs or import duties are charged once the parcel reaches its destination country. You may be charged for handling fees and taxes as your order passes through customs. Any charges on a parcel must be paid by the person receiving the parcel and cannot be calculated at the time of dispatch<span class="Apple-converted-space">&nbsp;&nbsp;</span>as customs policies and import duties vary widely from country to country.</p>
      <p class="p7">If you&rsquo;d like a better idea of charges before you order, so you are not surprised by charges you were not expecting, we encourage you to contact your local customs office for current charges. We will be happy to provide you with the full weight of your package but can only do this accurately after dispatch.</p>
      <p class="p9"><br></p>
      <p class="p17">RETURNS / EXCHANGES</p>
      <p class="p13"><span class="s2"><strong>Return Policy</strong></span></p>
      <p class="p7">If the requirement is to return a product, please drop your request to our customer care team by using the messenger pop up on the right hand corner of our website or emailing us at <a href="mailto:hello@ceylonstreet.com"><span class="s9">hello@ceylonstreet.com</span></a> and we will assist in returning your Order.</p>
      <p class="p8">For more details on the returns process, please refer to the terms and conditions of our&nbsp;Return &amp; Exchange policy below.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p11"><span class="s2"><strong>Possibility of an exchange<br></strong></span></p>
      <p class="p18">Exchanges are allowed only where the product/item delivered is of a different specification to what was originally displayed on the site. If you wish to exchange your item to a different colour, other available design or size to that which was originally ordered prior to the delivery made or prefer an exchange, please contact our customer care team using the messenger pop up on the right hand corner of our website or by emailing us at <a href="mailto:hello@ceylonstreet.com"><span class="s9">hello@ceylonstreet.com</span></a> . in order to make a request for return and exchange. It should be noted that the price of the new item must be the same as the price at which you bought the original product and from the same range of products.</p>
      <p class="p18">Based on the request, our customer care team will inform you if additional payments are required.</p>
      <p class="p8">Ceylon Street strongly recommends you to check the product specifications such as size, measurements, colour and material etc. in the Product Details section provided on our site or by directly contacting us, prior to placing your Order.<span class="s10"><br></span><span class="s3"><strong><br>&nbsp;Defective or faulty product returns<br></strong></span><span class="s7"><br></span>Please drop your request to our customer care team by using the messenger pop up on the right hand corner of our website or by emailing us at <a href="mailto:hello@eylonstreet.com"><span class="s9">hello@ceylonstreet.com</span></a> and assistance will be provided for you to return the defective/ faulty item/Order allowing you to place an Order for a new one.</p>
      <p class="p11"><span class="s2"><strong>Availability of a refund for an already delivered product/item<br></strong></span></p>
      <p class="p8">Given that our products are specifically commissioned, refunds on a sold item shall not be permitted. We provide all customers with an exchange option in replacing the defective/ faulty product. Delivery cost coverage will be determined and communicated by the customer Care representative.</p>
      <p class="p11"><span class="s2"><strong>Grounds for Return<br></strong></span></p>
      <p class="p8">A return can be requested in case of the following:</p>
      <ul class="ul1">
        <li class="li18">Damaged or defective item as soon as delivered</li>
        <li class="li18">Delivery of a wrong item/package by the seller (Please note since our products are one of a kind, the product image as seen on the Ceylon Street website/app may or may not be an exact representation of the product shipped to you)</li>
        <li class="li8">Does not fit the description featured under the product on sale<span class="s11"><br></span></li>
      </ul>
      <p class="p8"><span class="s3"><strong>Item with no return policy</strong></span><span class="s7"><br>&nbsp;<br></span>Listed below are products which are not eligible for return:</p>
      <ul class="ul1">
        <li class="li10">Items marked for &lsquo;sale&rsquo; and &lsquo;special discount&rsquo;</li>
        <li class="li10">Opened &amp; used products (e.g. cosmetic and makeup tools)</li>
        <li class="li10">Items found with traces of fair wear &amp; tear</li>
        <li class="li10">Swimwear</li>
        <li class="li10">Underwear</li>
        <li class="li10">Any promotional item</li>
        <li class="li10">Custom made items</li>
        <li class="li10">Items from which sale/product and price tags have been removed.</li>
      </ul>
      <p class="p18">You can submit your request to our customer care team by using the messenger pop up on the right hand corner of our website or emailing us at <a href="mailto:hello@ceylonstreet.com"><span class="s9">hello@ceylonstreet.com</span></a> and we will process your return accordingly.<span class="s10"><br>&nbsp;<br></span><span class="s3"><strong>Other Requirements<br></strong></span></p>
      <ol class="ol1">
        <li class="li18">Customers are asked to send us pictures of their products before shipping it back to us to determine returnability.</li>
        <li class="li18">Products are considered sold, once tags are removed.</li>
        <li class="li18">You may reuse your original packaging removing any labels.</li>
        <li class="li18">No packing slip? Print your Order Confirmation email.<span class="Apple-converted-space">&nbsp;</span></li>
      </ol>
      <p class="p16"><br></p>
      <p class="p11"><span class="s2"><strong>Timeframe for eligible returns</strong></span></p>
      <table cellpadding="0" cellspacing="0" class="t1">
        <tbody>
        <tr>
          <td class="td1" valign="top">
            <p class="p18"><strong>Category</strong></p>
          </td>
          <td class="td2" valign="top">
            <p class="p18"><strong>No. of days (after delivery)</strong></p>
          </td>
        </tr>
        <tr>
          <td class="td3" valign="top">
            <p class="p18">Fashion items</p>
            <p class="p18">Non- fashion items</p>
          </td>
          <td class="td4" valign="top">
            <p class="p18">10 days</p>
            <p class="p18">07 days<span class="Apple-converted-space">&nbsp;</span></p>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="p7">No item can be returned after the mentioned policy period.<span class="s10"><br></span></p>
      <p class="p18"><span class="s3"><strong>Cancellation of an Order</strong></span><span class="s4"><br>&nbsp;<br></span>Once an Order is placed and if your payment has been deposited, it cannot be cancelled.<span class="Apple-converted-space">&nbsp;&nbsp;</span>If your payment hasn&rsquo;t yet been deposited, you may contact our customer care team and they will assist you accordingly.</p>
      <p class="p18">This policy is largely to safeguard all our vendors who sometimes produce items especially for your Orders.<span class="s10"><br></span></p>
      <p class="p13"><span class="s2"><strong>Shipping cost for a returned product</strong></span></p>
      <p class="p18">While Ceylon St. accepts returns and exchanges, we would require you to return the item/s to us. The replacement item shall be re-delivered to you at no additional cost.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p19"><span class="s10"><strong><br></strong></span><strong>Packages should be mailed to:</strong></p>
      <p class="p20"><strong>No. 09, Velson Street, <br>&nbsp;Kanampitiya, Galle <br>&nbsp;Sri Lanka</strong></p>
      <p class="p8">Please note that upon receipt, all products are subjected to a quality check to assure the following conditions:</p>
      <p class="p8">Unused product: The product should be unused, unwashed and unsoiled<br>Originally delivered product: The product must have the original Ceylon St. tag/seller tag/price tag/name/image/brand/serial-number/article-number/barcode etc. that was originally attached to the product when delivered, along with the receipt of the payment confirmation.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p18">Products/items submitted without meeting the above requirements, will not be accepted as a return that is eligible for exchange.</p>

    </div>
  </div>
  <app-footer></app-footer>
</div>
