<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="form" (ngSubmit)="update()">
      <nb-card>
        <nb-card-header>Update Collection</nb-card-header>
        <nb-card-body>
          <input
            name="name"
            type="text"
            nbInput
            fullWidth
            placeholder="Product Name"
            formControlName="name"
          />

          <!-- <textarea
            rows="4"
            name="description"
            type="text"
            nbInput
            fullWidth
            placeholder="Description"
            formControlName="description"
          ></textarea> -->


          <div
            class="dropzone"
            ngxDropzone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering"
          >
            <h3>Ceylon Street Product Drop Zone</h3>
            <p>Drag and Drop Pictures</p>
          </div>

          <!-- <h3>Uploads</h3> -->

          <div *ngFor="let file of files">
            <ngx-upload-task
              [file]="file"
              (pictureUrl)="getUrl($event)"
            ></ngx-upload-task>
            <!-- <upload-task [file]="file"></upload-task> -->
          </div>


        </nb-card-body>

        <button
          [disabled]="form.invalid || pictureUrlArray.length == 0"
          type="submit"
          nbButton
          status="primary"
          hero
        >
          Update Collection
        </button>
      </nb-card>
    </form>
  </div>
</div>

