<style>
  .container {
    padding-top: 0px;
  }

  .btn {
    background-color: #000;
    min-width: 0;
    margin-right: 0;
    padding: .85rem .9rem;
  }

  .input-group {
    flex-wrap: initial;
  }

  input[type="number"] {
    padding: 0 0 0 10px;
    margin: 0;
  }

  @media screen and (max-width: 991px) {
    .container {
      padding-top: 40px;
    }
  }

  @media screen and (max-width: 764px) {
    .container {
      padding-top: 70px;
    }
  }
</style>
<div class="page-wrapper">
  <app-header></app-header>
  <div class="page-content" style="margin-top: 10%;">
    <style type="text/css">
      p.p1 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: center;
        font: 20.0px Arial;
        color: #000000;
        min-height: 18.0px
      }

      p.p2 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: center;
        font: 20.0px Arial;
        color: #000000
      }

      p.p3 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: center;
        font: 18.0px Arial;
        color: #000000
      }

      p.p4 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px Arial;
        color: #000000;
        min-height: 22.0px
      }

      p.p5 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px Arial;
        color: #18191b;
        background-color: #ffffff;
        min-height: 22.0px
      }

      p.p6 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: center;
        font: 20.0px Arial;
        color: #18191b;
        background-color: #ffffff;
        min-height: 22.0px
      }

      p.p7 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: center;
        font: 19.0px Arial;
        color: #000000
      }

      p.p8 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 20.0px Arial;
        color: #000000
      }

      span.s1 {
        font: 19.0px Arial
      }
    </style>

    <div class="container">
      <p class="p1"><br></p>
      <p class="p2"><strong>Ceylon St is a Concept Store</strong></p>
      <p class="p1"><br></p>
      <p class="p2">Ceylon St. connects customers to an evolved Sri Lankan experience.</p>
      <p class="p2">The story of our heritage is captured in curated collections that narrate their own individual stories.</p>
      <p class="p1"><br></p>
      <p class="p3"><strong>X</strong></p>
      <p class="p1"><br></p>
      <p class="p2">All our featured designers call on traditional Sri Lankan elements, breathing fresh air into old concepts, to meet new needs.</p>
      <p class="p1"><br></p>
      <p class="p2">Our makers have inherited generations worth of experience, so there really is no-one we&rsquo;d rather hand-make our collections.</p>
      <p class="p1"><br></p>
      <p class="p2">We are truly honoured to represent our paradise island with its rich, complex history and we want to share every bit of it with you. So we work hard to record the people and processes through which your pieces are created.</p>
      <p class="p1"><br></p>
      <p class="p2">With all this love, we enthusiastically contribute to Sri Lanka&rsquo;s development by supporting independent artisans and their communities.</p>
      <p class="p2"><br>Our immediate solution is to exclusively provide these creators a platform.</p>
      <p class="p2">Our long term solution is to increase access to trades and finance education so our creators may eventually support themselves and their communities completely independently.</p>
      <p class="p1"><br></p>
      <p class="p2">From the bottom of our hearts, we thank you for being a part of this mission.</p>
      <p class="p1"><br></p>
      <p class="p3"><strong>X</strong></p>
      <p class="p1"><br></p>
      <p class="p2">It&rsquo;s a real pleasure to invite you to this warm, slow and spicy lifestyle.</p>
      <p class="p4"><br></p>
      <p class="p2"><strong>Welcome to Ceylon St</strong></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p2"><em>Values</em></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p2"><em>Our Values</em></p>
      <p class="p1"><br></p>
      <p class="p4"><br></p>
      <p class="p2"><strong>Authenticity</strong></p>
      <p class="p2"><br>Our tropical jungle island isn&rsquo;t defined by its fertile soil, paradise beaches or diverse wildlife, nearly as much as it is defined by the authenticity of its people.</p>
      <p class="p2">We feel fully, we give fully and we live fully.</p>
      <p class="p2"><br>Ceylon St. strives to represent our people, fully.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p2"><strong>Transformation</strong></p>
      <p class="p1"><br></p>
      <p class="p2">Change is always around the corner.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p2">It&rsquo;s how we adapt in those unpredictable moments that truly transform our future.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p2">We are committed to always finding the silver lining as we fearlessly explore the unknown.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p4"><br></p>
      <p class="p4"><br></p>
      <p class="p1"><br></p>
      <p class="p2"><strong>Spirit</strong></p>
      <p class="p1"><br></p>
      <p class="p2">There&rsquo;s a saying in Sinhalese - <em>&ldquo;Nava Gilinoth, band choon&rdquo;<br></em>It roughly translates to &lsquo;even if the ship sinks, the band doesn&rsquo;t skip a beat.&rsquo;</p>
      <p class="p1"><br></p>
      <p class="p2">Our love for life and its many surprises is unshakeable,<br>and there is no better way to describe us!</p>
      <p class="p1"><br></p>
      <p class="p5"><br></p>
      <p class="p6"><br></p>
      <p class="p7"><br></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p2"><em>Mission</em></p>
      <p class="p1"><br></p>
      <p class="p8">We liberate small-scale Sri Lankan creators, by providing them with a platform to amass exposure, along with a complementary education to encourage their complete independence.</p>
      <p class="p4"><br></p>
      <p class="p1"><br></p>
      <p class="p2"><em>Vision</em></p>
      <p class="p1"><br></p>
      <p class="p2">We aim to champion an innovative business model that inspires more creativity in our world and constant consideration for sustainability.</p>
      <p class="p4"><br></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p2"><em>The team behind Ceylon St.</em></p>
      <p class="p1"><br></p>
      <p class="p1"><br></p>
      <p class="p2">The partnership that bloomed between<br>Praveen Mohottige, Atheeq Ifthikar and Moza Dole has been nothing short of serendipitous.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p2">Coming from 3 different ethnic communities, 3 unique professional paths and<br>3 very contrasting perspectives,<br>it&apos;s kind of shocking how well they complement each other.</p>
      <p class="p1"><br></p>
      <p class="p2">Maybe it isn&rsquo;t that shocking.<br>Their dedication to their home island connects them, feeds them and motivates them to build this incredible platform to showcase all that their home nation has to offer.<br><br>They stand for building a united solution to develop Sri Lanka and the many talents within. Passionate about really showing the world what we can do together, and inspiring the next generation of Sri Lankan youth to seize the power within.</p>
      <p class="p4"><br></p>
      <p class="p2">Maybe one day they&rsquo;ll tell you their stories over a cup of tea, but for now,<br>Ceylon St. patiently awaits to narrate to you a little story of her own.</p>
    </div>

  </div>
  <app-footer></app-footer>
</div>
