<!-- <div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img style="display: none;" src="assets/images/img-01.jpg" alt="IMG">
            </div>

            <form class="login100-form validate-form">


                <div class="container-login100-form-btn" >
                    <button class="login100-form-btn btn-danger" (click)="signInWithGoogle()" style="text-transform:none;">
                       <span ><i class="icon-s-googleplus" style="padding-right: 10%;text-transform:none;" aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;&nbsp; Login with Google
                    </button>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn2 btn-primary"(click)="signInWithFB()" style="text-transform:none;">
                        <span><i class="icon-s-facebook" style="padding-right: 10%;text-transform:none;" aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;&nbsp; Login with Facebook
                    </button>
                </div>
                <div class="text-center" style="padding-top: 5%;cursor: pointer;color: white;">
                    <a (click)="anonymous()" style="color: white !important;">Anonymous login</a>
                </div>
                <div class="text-center" style="padding-top: 5%;cursor: pointer;">
                    <a routerLink="/" style="color: white !important;">Back to home</a>
                </div>
            </form>
        </div>
    </div>
</div> -->


<style>
    .form-control.form-control-solid {
        background-color: #c9c9c9;
        border-color: #f3f6f9;
        color: #464e5f;
    }

    .loginform {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width:1200px) {
        .loginform {
            width: 50%;
        }
    }

    @media (max-width:992px) {
        .loginform {
            width: 70%;
        }
    }

    @media (max-width:764px) {
        .loginform {
            width: 80%;
        }
    }

    @media (max-width:440px) {
        .loginform {
            width: 100%;
        }
    }
</style>
<div style="overflow: hidden;">
    <div class="row">
        <div class="col-md-6 d-md-block d-none" style="padding: 0%;height: 100vh;background-repeat: no-repeat;background-attachment: fixed;
                ">
            <img src="../../assets/images/img-01.jpg" alt="" style="width: 120%;height: 100%;">
        </div>
        <div class="col-md-6" style="padding: 0%;background-color:rgb(255, 255, 255);">
            <div class="d-flex flex-column-fluid flex-center" style="height: 100vh;">
                <!--begin::Signin-->
                <div class="loginform">
                    <div class="container-login100">
                        <div class="wrap-login100">
                            <form class="form validate-form" style="width: 100%;">


                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn btn-danger" (click)="signInWithGoogle()" style="text-transform:none;border-color: #000000 !important;">
                                        <span><i class="icon-s-googleplus" style="padding-right: 10%;text-transform:none;"
                                                aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;&nbsp; Login with Google
                                    </button>
                                </div>
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn2 btn-primary" (click)="signInWithFB()" style="text-transform:none;border-color: #000000 !important;">
                                        <span><i class="icon-s-facebook" style="padding-right: 10%;text-transform:none;"
                                                aria-hidden="true"></i></span>&nbsp;&nbsp;&nbsp;&nbsp; Login with Facebook
                                    </button>
                                </div>
                                <div class="text-center" style="padding-top: 5%;cursor: pointer;">
                                    <a (click)="anonymous()">Anonymous login</a>
                                </div>
                                <div class="text-center" style="padding-top: 5%;cursor: pointer;">
                                    <a routerLink="/" >Back to home</a>
                                </div>
                                <img src="assets/images/footerlogo.png" style="width: 100%;padding-top: 10px">
                            </form>
                        </div>
                    </div>
                    <!--begin::Form-->


                    <!-- <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="pt-lg-5 mt-lg-7 pb-5">

                            <h3 class="font-weight-bolder text-dark display5">Welcome to
                                <a href="#">
                                    <img src="../../assets/images/logo.png" class="max-h-100px" alt>
                                </a>
                            </h3>

                        </div>
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">Email</label>
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg"
                                style="background-color: #fff;border-color: #9f0784;border-width: 1.5px;" type="text"
                                required name="username" autocomplete="off" [(ngModel)]=user.email
                                formControlName="email">
                        </div>
                        <div class="form-group">
                            <label class="font-size-h6 font-weight-bolder text-dark">Password</label>
                            <input class="form-control form-control-solid h-auto py-7 px-6 rounded-lg" type="password"
                                style="background-color: #fff;border-color: #9f0784;border-width: 1.5px;" required
                                name="password" autocomplete="off" [(ngModel)]=user.password formControlName="password">
                        </div>
                        <div class="pb-lg-0 pb-10">
                            <button type="submit" [disabled]="!loginForm.valid"
                                class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Sign
                                In</button>

                        </div>
                    </form> -->


                </div>
            </div>
        </div>
    </div>
</div>
