
// /*//////////////////////////////////////////////////////////////////
// [ RESTYLE TAG ]*/

// * {
//   margin: 0px;
//   padding: 0px;
//   box-sizing: border-box;
// }

// body,
// html {
//   height: 100%;
//   font-family: Poppins-Regular, sans-serif;
// }

// /*---------------------------------------------*/
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   margin: 0px;
// }

// p {
//   font-family: Poppins-Regular;
//   font-size: 14px;
//   line-height: 1.7;
//   color: #666666;
//   margin: 0px;
// }

// ul,
// li {
//   margin: 0px;
//   list-style-type: none;
// }


// /*---------------------------------------------*/
// button {
//   outline: none !important;
//   border: none;
//   background: transparent;
// }

// button:hover {
//   cursor: pointer;
// }

// iframe {
//   border: none !important;
// }


// /*//////////////////////////////////////////////////////////////////
// [ Utility ]*/
// .txt1 {
//   font-family: Poppins-Regular;
//   font-size: 13px;
//   line-height: 1.5;
//   color: #999999;
// }

// .txt2 {
//   font-family: Poppins-Regular;
//   font-size: 13px;
//   line-height: 1.5;
//   color: #666666;
// }


// /*//////////////////////////////////////////////////////////////////
// [ login ]*/

// .limiter {
//   width: 100%;
//   margin: 0 auto;
// }

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #ffffff;
  // background-image: url(../../assets/images/img-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  // background: -webkit-linear-gradient(-135deg, #e4cde2, #e2b932);
  // background: -o-linear-gradient(-135deg, #e4cde2, #e2b932);
  // background: -moz-linear-gradient(-135deg, #e4cde2, #e2b932);
  // background: linear-gradient(-135deg, #e4cde2, #e2b932);
}

.wrap-login100 {
  width: 960px;
  background: rgba(255, 255, 255, 0);
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10% 5% 10% 5%;
}

// /*------------------------------------------------------------------
// [  ]*/
// .login100-pic {
//   width: 450px;
// }

// .login100-pic img {
//   max-width: 100%;
// }


// /*------------------------------------------------------------------
// [  ]*/
// .login100-form {
//   width: 290px;
// }

// .login100-form-title {
//   font-family: Poppins-Bold;
//   font-size: 24px;
//   color: #333333;
//   line-height: 1.2;
//   text-align: center;

//   width: 100%;
//   display: block;
//   padding-bottom: 54px;
// }

// /*------------------------------------------------------------------
// [ Focus ]*/


// @-webkit-keyframes anim-shadow {
//   to {
//     box-shadow: 0px 0px 70px 25px;
//     opacity: 0;
//   }
// }

// @keyframes anim-shadow {
//   to {
//     box-shadow: 0px 0px 70px 25px;
//     opacity: 0;
//   }
// }


// /*------------------------------------------------------------------
// [ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  // border-radius: 25px;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-form-btn2 {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  // border-radius: 25px;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

.login100-form-btn2:hover {
  background: #333333;
}

a:focus, a:hover {
    color: rgb(53, 22, 22) !important;
    text-decoration: none;
}

a:focus, a:hover {
    color: rgb(53, 22, 22) !important;
    text-decoration: none;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}



// /*------------------------------------------------------------------
// [ Responsive ]*/



// @media (max-width: 991px) {
//   .wrap-login100 {
//     padding: 6% 3% 6% 3%;
//   }

//   .login100-pic {
//     width: 35%;
//   }

//   .login100-form {
//     width: 50%;
//   }
// }

// @media (max-width: 768px) {
//   .wrap-login100 {
//     padding: 100px 80px 100px 80px;
//   }

//   .login100-pic {
//     display: none;
//   }

//   .login100-form {
//     width: 100%;
//   }
// }

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 100px 15px;
  }
}



@media (max-width:1900) {
  .login-form {
    width: 80%;
  }
}

@media (max-width:992) {
  .login-form {
    width: 60%;
  }
}

@media (max-width:764) {
  .login-form {
    width: 80%;
  }
}

@media (max-width:440) {
  .login-form {
    width: 100%;
  }
}

.ng-valid[required],
.ng-valid.required {
  border-color: #1bc5bd;
  padding-right: calc(1.5em + 1.3rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231BC5BD' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .325rem) center;
  background-size: calc(.75em + .65rem) calc(.75em + .65rem)
}

.ng-touched.ng-invalid:not(form) {
  border-color: #f64e60;
  padding-right: calc(1.5em + 1.3rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F64E60' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F64E60' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .325rem) center;
  background-size: calc(.75em + .65rem) calc(.75em + .65rem)
}
.form-group label {
  color: #0f1748 !important;
}

.text-dark {
  color: #0f1748 !important;
}

.text-primary {
  color: #be3e87 !important;
}

.primary:hover {
   color: #9d1f66 !important;
}
 .btn.btn-primary:hover:not(.btn-text) {
   color: #fff;
   background-color: #7a1a50;
   border-color: #7a1a50;
 }
// .btn.btn-primary {
//   color: #fff;
//   background-color: #be3e87;
//   border-color: #9d1f66;
// }


// a.text-primary:focus,
// a.text-primary:hover {
//   color: #9d1f66 !important;
// }


.login100-form-btn2:hover {
    background: #333333;
    color: #ffffff;
}
.login100-form-btn:hover {
    background: #333333;
    color: #ffffff;
}

.btn-primary:active {
  color: #fff;
  background-color: #384bcc !important;
  box-shadow: none;
}