/*-----------------------------------------------------------------------------------*/
/*	MAIN COLOR
/*-----------------------------------------------------------------------------------*/
#preloader .textload {
	color: #70aed2;
}
a {
    color: #70aed2;
}
a.line:hover {
    border-bottom: 1px solid #70aed2;
}
a:hover,
a:focus {
    color: #70aed2;
}

.post-title a:hover {
    color: #70aed2
}
.section-title span {
	color: #70aed2
}
.meta a:hover,
.more:hover {
	color: #70aed2
}
ul.circled li:before {
    color: #70aed2;
}
.contact-info i {
    color: #70aed2;
}
.contact-info a:hover {
    color: #70aed2
}
.btn,
.vanilla-form label.custom-select span {
    background: #70aed2;
}
.navbar .nav > li.current > a,
.navbar .navbar-nav > li > a:focus,
.navbar .nav > li > a:hover {
    color: #70aed2 !important 
}
.navbar .dropdown-menu li:first-child {
    border-top: 2px solid #70aed2
}
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a.active,
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus,
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
    color: #70aed2;
}
.cbp-filter-container .cbp-filter-item:hover,
.cbp-filter-container .cbp-filter-item.cbp-filter-item-active,
.sticky-filter ul li a:hover,
.sticky-filter ul li.current a {
    color: #70aed2 !important;
}
.item-details li strong {
    color: #70aed2;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #70aed2
}
.sidebox a:hover {
    color: #70aed2
}
.widget .post-list h5 a:hover {
    color: #70aed2
}
.widget .post-list .meta em a:hover {
    color: #70aed2
}
footer ul.tag-list li a:hover {
    background: #70aed2 !important;
}
.sidebox ul.tag-list li a:hover {
    color: #70aed2 !important;
}
.blog-carousel .caption-overlay .caption .post-title a:hover {
	color: #70aed2;
}
.blog-carousel .caption-overlay .caption .meta a:hover {
	color: #70aed2;
}
.progress-list li em {
    color: #70aed2;
}
.progress.plain .bar {
    background: #70aed2 !important;
}
.feature .icon {
    color: #70aed2
}
.icon-large {
    color: #70aed2;
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
    background: #70aed2;
}
.panel-group .panel-heading .panel-title:hover,
.panel-group .panel-active .panel-heading .panel-title {
    background: #70aed2;
}
.price {
    color: #70aed2;
}
.tooltip-inner {
    background-color: #70aed2;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #70aed2
}
.tooltip.right .tooltip-arrow {
    border-right-color: #70aed2
}
.tooltip.left .tooltip-arrow {
    border-left-color: #70aed2
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #70aed2
}
#comments .info h2 a:hover {
    color: #70aed2
}
.vanilla-form input[type="radio"]:focus + span,
.vanilla-form input[type="checkbox"]:focus + span,
.vanilla-form input[type="radio"]:active + span,
.vanilla-form input[type="checkbox"]:active + span {
    border-color: #70aed2
}
.vanilla-form input[type="radio"] + span::after {
    background-color: #70aed2;
    border-color: #70aed2;
}
.vanilla-form input[type="radio"]:checked + span,
.vanilla-form input[type="checkbox"]:checked + span {
    border: 1px solid #70aed2
}
.vanilla-form input[type="checkbox"] + span::after {
    border: 0 solid #70aed2;
}
@media (min-width: 991px) { 
	.navbar .dropdown-menu:before {
	    border-bottom: 5px solid #70aed2;
	}
}
@media (max-width: 991px) {
	.navbar .nav > li.current > a,
	.navbar .nav > li > a:hover {
	    color: #70aed2 !important
	}
	.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar .navbar-nav .open .dropdown-menu > li > a:focus {
	    color: #70aed2 !important
	}
}
/*-----------------------------------------------------------------------------------*/
/*	HOVER
/*-----------------------------------------------------------------------------------*/
.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
    background: #62a3c8;
}
/*-----------------------------------------------------------------------------------*/
/*	RGBA
/*-----------------------------------------------------------------------------------*/
.spinner,
.tp-loader.spinner0,
.cbp-popup-singlePageInline:before,
#fancybox-loading div {
    border-left: 3px solid rgba(112,174,210,.15);
    border-right: 3px solid rgba(112,174,210,.15);
    border-bottom: 3px solid rgba(112,174,210,.15);
    border-top: 3px solid rgba(112,174,210,.8);
}
/*-----------------------------------------------------------------------------------*/
/*	SELECTION
/*-----------------------------------------------------------------------------------*/
::selection {
    background: #cee2ef; /* Safari */
}
::-moz-selection {
    background: #cee2ef; /* Firefox */
}