<div class="row">
  <div class="col-lg-12">
    <nb-card style="width: 400%">
      <nb-card-header>Order Details</nb-card-header>

      <nb-card-body>
        {{ data.date }} <br /><br />
        Name : {{ data.name }} <br />
        Email :{{ data.email }} <br />
        Phone :{{ data.phone }} <br />
        Address : {{ data.address }} <br />
        Country : {{ data.contry }} <br />
        Total : {{ data.total }} <br />

        <br />
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>

      <div *ngIf="data.status == 'pending'">
        <button
          type="button"
          (click)="setShipped(data._id, 'shipped', data.phone)"
          nbButton
          status="primary"
          hero
          fullWidth
        >
          Products Shipped
        </button>
      </div>

      <div *ngIf="data.status == 'shipped'">
        <button
          type="button"
          (click)="setShipped(data._id, 'deilverd', data.phone)"
          nbButton
          status="primary"
          fullWidth
          hero
        >
          Product Delivered
        </button>
      </div>
    </nb-card>
  </div>

  <!-- <div class="col-lg-6"></div> -->
</div>
