<!-- <div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <ngx-profit-card></ngx-profit-card>
      </div>
      <div class="col-md-6">
        <ngx-earning-card></ngx-earning-card>
      </div>
    </div>

    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-country-orders></ngx-country-orders>
  </div>

  <div class="col-xxl-3">
    <ngx-progress-section></ngx-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <ngx-user-activity></ngx-user-activity>
  </div>
</div> -->

<div class="row">
  <div class="col-5">
    <div class="row">
      <div class="col-12">
        <ngx-profit-card></ngx-profit-card>
      </div>
    </div>
    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>
  </div>

  <div class="col-7">
    <div class="row">
      <div class="col-xxxl-12 col-md-12 cardstate">
        <ngx-status-card
          title="Total Profit today : {{ profit | number }} LKR "
          type="danger"
        >
          <i ngClass="nb-arrow-up"></i>
        </ngx-status-card>
        <ngx-status-card
          title="Sales Value : {{ salesValue | number }} LKR"
          type="warning"
        >
          <i ngClass="fas fa-dollar-sign"></i>
        </ngx-status-card>
        <ngx-status-card
          title="Total items sold today : {{ totalItems }} "
          type="info"
        >
          <i ngClass="nb-paper-plane"></i>
        </ngx-status-card>
        <ngx-status-card
          title="Total Stock Value : {{ totalStock | number }} LKR "
          type="success"
        >
          <i ngClass="nb-roller-shades"></i>
        </ngx-status-card>

        <ngx-status-card
          title="Stock Cost Value : {{ costValue | number }} LKR"
          type="primary"
        >
          <i ngClass="fas fa-store"></i>
        </ngx-status-card>
      </div>
    </div>
  </div>
</div>
