<div class="product product-7 text-center" style="padding: 2.5%;">
    <figure class="product-media product-media1">
        <span class="product-label label-circle label-new" *ngIf="product.newArrival">New</span>
        <!-- <span class="product-label label-circle label-sale">Sale</span> -->
        <span class="product-label label-circle label-sale" *ngIf="product.inDemand">Top</span>
        <a (click)="toProduct(product._id)">
            <img [src]="product.picUrl[0]" alt="Product image" class="product-image">
            <img [src]="product.picUrl[1]" alt="Product image" class="product-image-hover">
        </a>

        <div class="product-action-vertical" *ngIf="!isMobileMenu()">
            <a class="various btn-product-icon btn-quickview btn-expandable"  [href]=link
                data-title-id="title-1"><span>Quick view</span>
                <a class="cbp-caption-defaultWrap" title="Quick view">
                    
                </a>

            </a>
            
            <div>

            </div>
        </div><!-- End .product-action-vertical -->

        <div class="product-action">
            <a *ngIf="product.qty !== '0' && pqty > count " (click)="addToCart(product._id)"
                class="btn-product btn-cart"><span>add to
                    cart</span></a>
            <a *ngIf="product.qty === '0' || pqty <= count" class="btn-product btn-cart"><span>Out of Stock</span></a>
        </div><!-- End .product-action -->
    </figure><!-- End .product-media -->

    <div class="product-body">
        <h3 class="product-title"><a (click)="toProduct(product._id)">{{product.name}}</a></h3>
        <!-- End .product-title -->
        <div class="product-price" *ngIf="!(product.saleOfferPrice == '0' || product.saleOfferPrice == null)">
            <span class="new-price">{{(+product.saleOfferPrice)*valueService.getValue()| number : '1.2-2'}} LKR ($ {{product.saleOfferPrice}})</span>
            <span class="old-price" *ngIf="!(product.saleOfferPrice == '0' || product.saleOfferPrice == null)">{{(+product.productPrice)*valueService.getValue()| number : '1.2-2'}} LKR ($ {{product.productPrice}})</span>
        </div>
        <div class="product-price" *ngIf="(product.saleOfferPrice == '0' || product.saleOfferPrice == null)">
            <span class="new-price" >{{(+product.productPrice)*valueService.getValue()| number : '1.2-2'}} LKR ($ {{product.productPrice}})</span>
        </div>
        <!-- End .product-price -->
        <!-- <div class="product-nav product-nav-dots">
            <a  class="active" style="background: #d5ad81;"><span class="sr-only">Color
                    name</span></a>
            <a style="background: #333333;"><span class="sr-only">Color
                    name</span></a>
        </div> -->
    </div><!-- End .product-body -->
</div><!-- End .product -->


