<style>
    .container {
        padding-top: 0px;
    }

    .btn {
        background-color: #000;
        min-width: 0;
        margin-right: 0;
        padding: .85rem .9rem;
    }

    .input-group {
        flex-wrap: initial;
    }

    input[type="number"] {
        padding: 0 0 0 10px;
        margin: 0;
    }

    @media screen and (max-width: 991px) {
        .container {
            padding-top: 40px;
        }
    }

    @media screen and (max-width: 764px) {
        .container {
            padding-top: 70px;
        }
    }
</style>
<div class="page-wrapper">
    <app-header></app-header>
    <div class="page-content" style="margin-top: 10%;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div [innerHtml]="content"></div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>