<style>
    .container {
        padding-top: 0px;
    }
    .btn{
        background-color: #000;
        min-width:0;
        margin-right:0;
        padding: .85rem .9rem;
    }
    .input-group {
        flex-wrap: initial;
    }
    input[type="number"]{
        padding:0 0 0 10px;
        margin: 0;
    }

    @media screen and (max-width: 991px) {
        .container {
            padding-top: 40px;
        }
    }

    @media screen and (max-width: 764px) {
        .container {
            padding-top: 70px;
        }
    }
</style>
<div class="page-wrapper">
    <app-header></app-header>
    <main class="main">
        <div class="page-content" style="margin-top: 10%;">
            <div class="cart">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <table class="table table-cart table-mobile">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>size</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
        
                                <tbody>
                                    <tr *ngFor="let product of x">
                                        <td class="product-col">
                                            <div class="product" style="cursor: pointer;">
                                                <figure class="product-media" style="height: 60px;">
                                                    <a (click)="toProduct(product._id)" style="height: 100%;">
                                                        <img [src]=product.picUrl[0]  
                                                            alt="Product image" style="height: 100%;">
                                                    </a>
                                                </figure>
        
                                                <h3 class="product-title" style="cursor: pointer;">
                                                    <a (click)="toProduct(product._id)">{{product.name}}</a>
                                                </h3><!-- End .product-title -->
                                            </div><!-- End .product -->
                                        </td>
                                        <td class="price-col">{{product.size}}</td>
                                        <td class="price-col">{{valueService.getValue()*product.price | number : '1.2-2'}} LKR ($ {{product.price}})</td>
                                        <td class="quantity-col">
                                            <div class="cart-product-quantity">
                                                <div class="input-group">
                                                    <div class="value-button btn" style="background-color:#6e6e6e" id="decrease" (click)="decreaseValue(product._id,product.size)" value="Decrease Value">-</div>
                                                    <input type="number" id="number" disabled [value]=product.qty />
                                                    <div class="value-button btn" style="background-color:#6e6e6e" id="increase" (click)="increaseValue(product._id,product.pqty,product.size)" value="Increase Value">+</div>
                                                </div>
                                                
                                            </div><!-- End .cart-product-quantity -->
                                        </td>
                                        <td class="total-col">{{valueService.getValue()*product.price * product.qty | number : '1.2-2'}} LKR ($ {{product.price * product.qty}})</td>
                                        <td class="remove-col">
                                            <div  (click)="removeItem(product._id,product.size)">
                                                <p class="product-title" style="padding-right:30%;cursor: pointer;">
                                                    <a>
                                                        <svg height="15pt" viewBox="0 0 365.696 365.696" width="15pt" xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0" />
                                                        </svg>
                                                    </a>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table><!-- End .table table-wishlist -->
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary summary-cart">
                                <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
        
                                <table class="table table-summary">
                                    <tbody>
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>{{((+sub)*valueService.getValue())| number : '1.2-2'}} LKR ($ {{(+sub)| number : '1.2-2'}})</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <!-- <tr class="summary-shipping">
                                            <td>Shipping:</td>
                                            <td>&nbsp;</td>
                                        </tr> -->
        
                                        <!-- <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="free-shipping" name="shipping"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="free-shipping">Free
                                                        Shipping</label>
                                                </div>
                                            </td>
                                            <td>$00.00</td>
                                        </tr> -->
                                        <!-- End .summary-shipping-row -->
        
                                        <!-- <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="standart-shipping" name="shipping"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label"
                                                        for="standart-shipping">Standart:</label>
                                                </div>
                                            </td>
                                            <td>$10.00</td>
                                        </tr> -->
                                        <!-- End .summary-shipping-row -->
        
                                        <!-- <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="express-shipping" name="shipping"
                                                        class="custom-control-input">
                                                    <label class="custom-control-label" for="express-shipping">Express:</label>
                                                </div>
                                            </td>
                                            <td>$20.00</td>
                                        </tr> -->
                                        <!-- End .summary-shipping-row -->
<!--         
                                        <tr class="summary-shipping-estimate">
                                            <td>Estimate for Your Country<br> <a>Change address</a></td>
                                            <td>&nbsp;</td>
                                        </tr> -->
                                        <!-- End .summary-shipping-estimate -->
        
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>{{((+sub)*valueService.getValue())| number : '1.2-2'}} LKR ($ {{(+sub)| number : '1.2-2'}})</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->
        
                                <a routerLink="/checkout" class="btn btn-block">PROCEED TO
                                    CHECKOUT</a>
                            </div><!-- End .summary -->
        
                            <a routerLink="/shop" class="btn btn-block mb-3"><span>CONTINUE
                                    SHOPPING</span><i class="icon-refresh"></i></a>
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cart -->
        </div>
    </main>

    <app-footer></app-footer>
</div>

