<div class="row">
  <div class="col-lg-12">
    <form (ngSubmit)="create()">
      <nb-card>
        <nb-card-header>Add Look Book</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs"></div>
          <div
            class="dropzone"
            ngxDropzone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering"
          >
            <h3>Ceylon Street Look Book Drop Zone</h3>
            <p>Drag and Drop Pictures</p>
          </div>

          <div *ngFor="let file of files">
            <ngx-upload-task [file]="file" (pictureUrl)="getUrl($event)">
            </ngx-upload-task>
          </div>

          <br />
          <br />
        </nb-card-body>
        <nb-card-body class="checkbox-radio">
          <nb-radio-group [(value)]="radioValue">
            <nb-radio
              *ngFor="let item of pictureUrlArray | slice: 1; let i = index"
              [value]="i + 1"
            >
              Slide {{ i + 1 }}</nb-radio
            >
          </nb-radio-group>
        </nb-card-body>

        <nb-card>
          <nb-card-header> Products </nb-card-header>

          <nb-card-body>
            <ng2-smart-table
              [settings]="settings"
              [source]="source"
              (deleteConfirm)="addProduct($event)"
            >
            </ng2-smart-table>
          </nb-card-body>
        </nb-card>

        <div class="row" style="margin-left: 1cm">
          <div *ngFor="let product of productSet">
            <ngx-product-card
              [product]="product"
              (deleteProduct)="deleteProduct($event)"
            ></ngx-product-card>
          </div>
        </div>

        <button type="submit" nbButton status="primary" hero>
          Add Look Book
        </button>
<!--
        <button
          [disabled]="pictureUrlArray.length <= 1"
          type="submit"
          nbButton
          status="primary"
          hero
        >
          Add Look Book
        </button> -->
      </nb-card>
    </form>
  </div>

  <!-- <div class="col-lg-6"></div> -->
</div>
