<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="form" (ngSubmit)="create()">
      <nb-card>
        <nb-card-header>Product Banners</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <nb-select placeholder="Banner Type" formControlName="bannerType">
              <nb-option value="productBanner1"> Product Banner 1</nb-option>
              <nb-option value="productBanner2">Product Banner 2</nb-option>
              <nb-option value="productBanner3">Product Banner 3</nb-option>
              <nb-option value="productBanner4">Product Banner 4</nb-option>
            </nb-select>
          </div>

          <div class="full-name-inputs">
            <input
              name="productline1"
              type="text"
              nbInput
              fullWidth
              placeholder="Line 1"
              formControlName="line1"
            />
            <input
              name="productline2"
              type="text"
              nbInput
              fullWidth
              placeholder="Line 2"
              formControlName="line2"
            />
            <input
              name="button"
              type="text"
              nbInput
              fullWidth
              placeholder="Button Text"
              formControlName="buttonText"
            />
          </div>

          <nb-card-body class="checkbox-radio">
            <div class="demo-items">
              <nb-radio-group [(value)]="radioGroupValue">
                <nb-radio [value]="'collection'">
                  Navigate to a collection
                </nb-radio>
                <nb-radio [value]="'product'"> Navigate to a product </nb-radio>
              </nb-radio-group>
            </div>
          </nb-card-body>

          <div class="full-name-inputs">
            <div *ngIf="radioGroupValue == 'product'">
              <nb-select placeholder="Products" formControlName="product">
                <nb-option
                  *ngFor="let product of products"
                  [value]="product._id"
                  >{{ product.name }}</nb-option
                >
              </nb-select>
            </div>
            <div *ngIf="radioGroupValue == 'collection'">
              <nb-select
                placeholder="Collection"
                formControlName="collection"
              >
                <nb-option
                  *ngFor="let collection of collections"
                  [value]="collection.name"
                  >{{ collection.name }}</nb-option
                >
              </nb-select>
            </div>
          </div>

          <div
            class="dropzone"
            ngxDropzone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering"
          >
            <h3>Ceylon Street Banner Cover Drop Zone</h3>
            <p>Drag and Drop Pictures</p>
          </div>

          <div *ngFor="let file of files">
            <ngx-upload-banner-pictures
              [file]="file"
              (pictureUrl)="getUrl($event)"
            >
            </ngx-upload-banner-pictures>
          </div>

          <br />
          <br />
        </nb-card-body>

        <button
          [disabled]="form.invalid || pictureUrlArray.length == 0"
          type="submit"
          nbButton
          status="primary"
          hero
        >
          Confirm
        </button>
      </nb-card>
    </form>
  </div>

  <!-- <div class="col-lg-6"></div> -->
</div>
