<style>
    .container {
        padding-top :   0px;
    }

    .btn{
        background-color :   #000;
        min-width :  0;
        margin-right :  0;
        padding :   .85rem .9rem;
    }
    .input-group {
        flex-wrap :   initial;
    }
    input[type="number"]{
        padding :  0 0 0 10px;
        margin :   0;
    }

    @media screen and (max-width :   991px) {
        .container {
            padding-top :   40px;
        }
    }

    @media screen and (max-width :   764px) {
        .container {
            padding-top :   70px;
        }
    }
    @media (min-width :   1400px){
        .container {
        max-width :   1340px;
    }
    }
    
</style>

<style>
    .img-fluid {
        height :   500px;
    }
    .product-gallery{
        width :   358.2px;
    }

    @media (max-width :   1400px) {
        .img-fluid {
            height :   500px;
        }
        .product-gallery{
            width :   358.2px;
        }
    }

    @media (max-width :   1200px) {
        .img-fluid {
            height :   500px;
        }
        .product-gallery{
            width :  358.2px;
        }

    }

    @media (max-width :   999px) {
        .img-fluid {
            height :   450px;
        }
        .product-gallery{
            width :   321.75px;
        }
    }

    @media (max-width :   766px) {
        .img-fluid {
            height :   450px;
        }
        .product-gallery{
            width :   100%;
        }
    }

    @media (max-width :   566px) {
        .img-fluid {
            height :   450px;
        }
        .product-gallery{
            width :   100%;
        }
    }
</style>
<div class="page-wrapper">
    <app-header></app-header>

    <main class="main">
        <div class="page-content" style="margin-top :   10%;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-details-top">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-gallery product-slick">
                                        <figure class="product-main-image product-slick">
                                            <!-- <span class="product-label label-top">Top</span> -->
                                            <img id="product-zoom" class="img-fluid" style="width :   100%;" [src]="product.picUrl[0]" data-zoom-image
                                                alt="product image">
        
                                           
                                        </figure>
        
                                        <div id="product-zoom-gallery"  class="product-image-gallery">
                                            <a class="product-gallery-item" *ngFor="let item of product.picUrl" >
                                                <img [src]="item" style="height :   100%;"
                                                    alt="product side">
                                            </a>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="col-md-5">
                                    <div class="product-details product-details-sidebar">
                                        <h1 class="product-title" style="text-align: start !important;font-weight: bold;">{{product.name}}</h1>
                                        <!-- End .product-title -->
        
        
                                        <div class="product-price">
                                            
                                            <span style="color: #000;font-size: medium;font-weight: 700;">Price : </span> <h3 style="margin :  0;font-weight: 700 !important;" *ngIf="product.saleOfferPrice === '0' ||product.saleOfferPrice === null">&nbsp;&nbsp;{{change(product.productPrice)}} LKR ($ {{product.productPrice}})</h3> 
                                            <h3 style="margin : 0;font-weight: 700 !important;" *ngIf="product.saleOfferPrice !== '0'">&nbsp;&nbsp;{{change(product.saleOfferPrice)}} LKR ($ {{product.saleOfferPrice}})</h3> 
                                            
                                            
                                        </div><!-- End .product-price -->

                                
                                        <div class="product-price">
                                            <h4 *ngIf="product.saleOfferPrice !== '0'" style="color: rgb(197, 0, 0);">
                                                <del style="font-weight: 700;">{{change(product.productPrice)}} LKR ($ {{product.productPrice}})</del> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span style="font-weight: 700;"> {{offer | number}}% Off</span>
                                            </h4>
                                        </div><!-- End .product-price -->
        
                                        <div class="product-content">
                                            <p>{{product.description}}</p>
                                        </div><!-- End .product-content -->
        
                                        <!-- <div class="details-filter-row details-row-size">
                                            <label>Color :  </label>
        
                                            <div class="product-nav product-nav-dots">
                                                <a href="#" class="active" style="background :   #333333;"><span
                                                        class="sr-only">Color name</span></a>
                                                <a href="#" style="background :   #efe7db;"><span class="sr-only">Color
                                                        name</span></a>
                                            </div>
                                        </div> -->
        
                                        <div class="details-filter-row details-row-size" *ngIf="product.productType === 'fashion'">
                                            <label for="size">Size :  </label>
                                            <div class="select-custom">
                                                <select name="size" id="size" [(ngModel)]="size" value=val[0] class="form-control">
                                                    <option selected="selected"  value="">Select a size</option>
                                                    <option *ngFor="let item of val" [value]="item" style="text-transform :   capitalize;">{{item}}</option>
                                                </select>
                                            </div><!-- End .select-custom -->
        
                                            <!-- <a href="#" class="size-guide"><i class="icon-th-list"></i>size
                                                guide</a> -->
                                        </div><!-- End .details-filter-row -->
        
                                        <div class="product-details-action" style="margin-bottom:0 !important">
                                            <div class="details-action-col">
                                                <label >Qty :  </label>
                                                <div class="product-details-quantity">
                                                    <div class="input-group">
                                                        <div class="value-button btn" style="background-color :  #6e6e6e" id="decrease" (click)="decreaseValue()" value="Decrease Value">-</div>
                                                        <input type="number" id="number" disabled [value]=qty />
                                                        <div class="value-button btn" style="background-color :  #6e6e6e" id="increase" (click)="increaseValue()" value="Increase Value">+</div>
                                                    </div>
                                                </div>
                                            </div><!-- End .details-action-col -->
                                        </div><!-- End .product-details-action -->
        
                                        <div class="product-details-action" style="margin-bottom:0 !important">
                                            <div class="details-action-col">
                                                <a *ngIf="product.qty !== '0' && pqty > count && !disable()" (click)="addToCart(product._id)" disabled
                                                    class="btn-product btn btn-cart"><span>add to
                                                        cart</span></a>
                                                <a *ngIf="product.qty !== '0' && pqty > count && disable()" (click)="addToCart(product._id)"
                                                    class="btn-product btn btn-cart"><span>add to
                                                        cart</span></a>
                                                <a *ngIf="(product.qty === '0' || pqty <= count)" class="btn-product btn btn-cart"><span>Out of Stock</span></a>
                                        
                                            </div><!-- End .details-action-col -->
                                        
                                        
                                        </div>

                                        <div class="product-details-footer details-footer-col">
                                            <div class="product-cat" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Item Brand</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.itemBrand}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat"  style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Item Collection</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.itemCollection}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat"   style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Product Type</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.productType}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="product-cat" *ngIf="product.productType ==='jewelry'"  style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Gemstone</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.gemstone}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Birthstone</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.birthstone}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Metal</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.metal}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Gemstone Weight</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.gemstoneWeight}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Gemstone Cut</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.gemstoneCut}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Rodium Plated</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.rodiumPlated}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat" *ngIf="product.productType ==='jewelry'" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Measurement</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.measurement}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-cat" *ngIf="product.subProductType ==='necklaces'" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Necklace Length</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.necklaceLength}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="product-cat" *ngIf="product.productType ==='spice'" style="width :   80%;">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <span>Grams</span>
                                                    </div>
                                                    <div class="col-6">
                                                         :  {{product.grams}}
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="product-cat">
                                                <span>Category :  </span>
                                                <a href="#">Women</a>,
                                                <a href="#">Dresses</a>,
                                                <a href="#">Yellow</a>
                                            </div> -->
        
                                            <!-- <div class="social-icons social-icons-sm">
                                                <span class="social-label">Share :  </span>
                                                <a href="#" class="social-icon" title="Facebook" target="_blank"><i
                                                        class="icon-facebook-f"></i></a>
                                                <a href="#" class="social-icon" title="Twitter" target="_blank"><i
                                                        class="icon-twitter"></i></a>
                                                <a href="#" class="social-icon" title="Instagram" target="_blank"><i
                                                        class="icon-instagram"></i></a>
                                                <a href="#" class="social-icon" title="Pinterest" target="_blank"><i
                                                        class="icon-pinterest"></i></a>
                                            </div> -->
                                        </div><!-- End .product-details-footer -->
                                    </div><!-- End .product-details -->
                                </div><!-- End .col-md-6 -->
                            </div><!-- End .row -->
                        </div><!-- End .product-details-top -->
        
                        <!-- <div class="product-details-tab">
                            <ul class="nav nav-pills justify-content-center" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab"
                                        role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab"
                                        role="tab" aria-controls="product-info-tab" aria-selected="false">Additional
                                        information</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="product-shipping-link" data-toggle="tab"
                                        href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab"
                                        aria-selected="false">Shipping &amp; Returns</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel"
                                    aria-labelledby="product-desc-link">
                                    <div class="product-desc-content">
                                        <h3>Product Information</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec
                                            nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit
                                            amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla
                                            quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem
                                            tristique cursus. </p>
                                        <ul>
                                            <li>Nunc nec porttitor turpis. In eu risus enim. In vitae mollis elit.
                                            </li>
                                            <li>Nullam a magna porttitor, dictum risus nec, faucibus sapien.</li>
                                        </ul>
        
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec
                                            nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit
                                            amet orci. Aenean dignissim pellentesque felis. Phasellus ultrices nulla
                                            quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem
                                            tristique cursus. </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-info-tab" role="tabpanel"
                                    aria-labelledby="product-info-link">
                                    <div class="product-desc-content">
                                        <h3>Information</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                                            Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.
                                            Suspendisse urna viverra non, semper suscipit, posuere a, pede. Donec
                                            nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit
                                            amet orci. </p>
        
                                        <h3>Fabric &amp; care</h3>
                                        <ul>
                                            <li>Faux suede fabric</li>
                                            <li>Gold tone metal hoop handles.</li>
                                            <li>RI branding</li>
                                            <li>Snake print trim interior </li>
                                            <li>Adjustable cross body strap</li>
                                            <li> Height :   31cm; Width :   32cm; Depth :   12cm; Handle Drop :   61cm</li>
                                        </ul>
        
                                        <h3>Size</h3>
                                        <p>one size</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel"
                                    aria-labelledby="product-shipping-link">
                                    <div class="product-desc-content">
                                        <h3>Delivery &amp; returns</h3>
                                        <p>We deliver to over 100 countries around the world. For full details of
                                            the delivery options we offer, please view our <a href="#">Delivery
                                                information</a><br>
                                            We hope you’ll love every purchase, but if you ever need to return an
                                            item you can do so within a month of receipt. For full details of how to
                                            make a return, please view our <a href="#">Returns information</a></p>
                                    </div>
                                </div>
                            </div>
                        </div> -->
        
                        <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                        <div class="carousel carousel-boxed3" style="transform :   translate3d(0px, 0px, 0px); transition :   all 0s ease 0s;">
                            <div class="item active" *ngFor="let i of products">
                                <app-product-box  style="cursor :   pointer;" [product]=i ></app-product-box>
                            </div>
                        </div>
                        
                    </div><!-- End .col-lg-9 -->
        
                   
                </div><!-- End .row -->
            </div><!-- End .container -->

        </div><!-- End .page-content -->
    </main>

    <app-footer></app-footer>
</div>