
.img-hero-with-menu-overlay {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  padding-top: 69px;
  display: block;
}
.left-img {
  height: calc(100vh - 70px);
  display: block;
  width: 100%;
  background-size: cover;
}

.left-img1 {
  height: calc(100vh - 70px);
  display: block;
  width: 100%;
  background-size: cover;
}

.overlay {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-12.5%, -50%);
  width: 544px;
  height: 80vh;
  overflow-y: scroll;
  margin-top: 10vh;
  padding-bottom: 10vh;
}


.btn.responsive-menu1 {
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
    font-size: 22px;
    background: none;
    position: relative;
    z-index: 999999;
}
.btn.responsive-menu1:hover,
.btn.responsive-menu1:focus,
.btn.responsive-menu1:active,
.btn.responsive-menu1.active {
	background: none !important
}
.btn.responsive-menu1 i {
    margin: 0
}
.btn.responsive-menu1 i:before {
    content: '\f0c9';
    font-family: 'fontello';
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    margin-right: 0;
    text-align: center;
}
.btn.responsive-menu1.opn i:before {
    content: '\e819';
}
