<app-header></app-header>

<div class="tp-fullscreen-container revolution" *ngIf="!isMobileMenu()">
    <div class="tp-fullscreen tp-fullscreen1">
        <ul>
            <li data-transition=""  *ngFor="let item of lookbook"> 
                <div class="img-hero-with-menu-overlay" >
                    <div class="left-img" style='background-image: url({{item.picUrl}});'>
                    <!-- <a class="btn responsive-menu1" (click)="show()"><i id="icon"></i></a> -->
                    </div>
                    <div class="overlay">
                        <a class="offset-10 mb-5" style="color: white;font-size: 4rem;" *ngIf="!showP" (click)="show()"><i class="icon-eye"></i></a>
                        <a class="offset-10 mb-5" style="color: white;font-size: 4rem;" *ngIf="showP" (click)="show()"><i class="icon-eye-off"></i></a>
                        <div class="row justify-content-center" *ngIf="showP">
                            <div class="col-5 mr-4"  *ngFor="let i of item.products" style="cursor: pointer;">
                                <div class="product product-7 text-center">
                                    <figure class="product-media" style="height: 310px;">
                                        <!-- <span class="product-label label-circle label-new">New</span> -->
                                        <span class="product-label label-circle label-sale">Sale</span>
                                        <!-- <span class="product-label label-circle label-top">Top</span> -->
                                        <a (click)="call(i)">
                                            <img [src]="i.picUrl" alt="Product image" style="height: 100%;" class="product-image">
                                        </a>
                                
                                        <div class="product-action">
                                            
                                            <a  class="btn-product btn-cart" (click)="call(i)"><span>Vist to Product</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->
                                
                                    <div class="product-body">
                                        <h3 class="product-title"><a >{{i.name}}</a></h3>
                                        <!-- End .product-title -->
                                        <!-- End .product-price -->
                                        <!-- <div class="product-nav product-nav-dots">
                                            <a  class="active" style="background: #d5ad81;"><span class="sr-only">Color
                                                    name</span></a>
                                            <a style="background: #333333;"><span class="sr-only">Color
                                                    name</span></a>
                                        </div> -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->

                            </div><!-- End .col-lg-4 -->
                        </div><!-- End .row -->
                    </div>
                    <!-- <div class="overlay">
                        <div class="product-card">
                            <img src="../../assets/images/art/p3.jpg" alt="">
                            <div class="info">
                                <h3>Product 1</h3>
                                <p>lorem</p>
                            </div>
                        </div>
                        <div class="product-card">
                            <img src="../../assets/images/art/p2.jpg" alt="">
                            <div class="info">
                                <h3>Product 2</h3>
                                <p>lorem</p>
                            </div>
                        </div>
                        <div class="product-card">
                            <img src="../../assets/images/art/p1.jpg" alt="">
                            <div class="info">
                                <h3>Product 3</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div> -->
                
                </div>

            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.tp-fullscreen-container -->
</div>

<div class="tp-fullscreen-container revolution" *ngIf="isMobileMenu()">
    <div class="tp-fullscreen tp-fullscreen1">
        <ul>
            <li data-transition="" *ngFor="let item of lookbook"  (scroll)="onScroll($event)" style="overflow-y: auto !important;">
                <div class="img-hero-with-menu-overlay">
                    <div class="left-img1" style='background-image: url({{item.picUrl}});'>
                    </div>
                </div>
                <div class="row mt-3 justify-content-center" >
                    <div class="col-md-4 col-6" *ngFor="let i of item.products">
                        <div class="product product-7 text-center">
                            <figure class="product-media" >
                                <!-- <span class="product-label label-circle label-new">New</span> -->
                                <span class="product-label label-circle label-sale">Sale</span>
                                <!-- <span class="product-label label-circle label-top">Top</span> -->
                                <a (click)="call(i)">
                                    <img [src]="i.picUrl" alt="Product image" class="product-image">
                                </a>
                
                                <div class="product-action">
                
                                    <a class="btn-product btn-cart" (click)="call(i)"><span>Vist to Product</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->
                
                            <div class="product-body">
                                <h3 class="product-title"><a>{{i.name}}</a></h3>
                                <!-- End .product-title -->
                                <!-- End .product-price -->
                                <!-- <div class="product-nav product-nav-dots">
                                                            <a  class="active" style="background: #d5ad81;"><span class="sr-only">Color
                                                                    name</span></a>
                                                            <a style="background: #333333;"><span class="sr-only">Color
                                                                    name</span></a>
                                                        </div> -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                
                    </div><!-- End .col-lg-4 -->
                </div>
            </li>
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.tp-fullscreen-container -->
</div>
<!-- End .row -->