<aside class="sidebar-shop sidebar-filter" style="top: 70px">
  <div class="sidebar-filter-wrapper">
    <div class="widget widget-clean">
      <label><i class="icon-close"></i>Filters</label>
      <a (click)="clear()" class="sidebar-filter-clear">Clean All</a>
    </div>
    <!-- End .widget -->
    <div class="widget widget-collapsible">
      <h3 class="widget-title">
        <a
          data-toggle="collapse"
          href="#widget-1"
          role="button"
          aria-expanded="true"
          aria-controls="widget-1"
        >
          Shop
        </a>
      </h3>
      <!-- End .widget-title -->

      <div class="collapse show" id="widget-1">
        <div class="widget-body">
          <div class="filter-items filter-items-count">
            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  [(ngModel)]="fashion"
                  type="checkbox"
                  class="custom-control-input"
                  id="cat-1"
                  (change)="productFilter()"
                />
                <label class="custom-control-label" for="cat-1">Clothing</label>
              </div>
              <!-- End .custom-checkbox -->
              <!-- <span class="item-count">3</span> -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="cat-2"
                  [(ngModel)]="accessories"
                  (change)="productFilter()"
                />
                <label class="custom-control-label" for="cat-2"
                  >Accessories</label
                >
              </div>
              <!-- End .custom-checkbox -->
              <!-- <span class="item-count">0</span> -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="cat-3"
                  [(ngModel)]="homeAndLiving"
                  (change)="productFilter()"
                />
                <label class="custom-control-label" for="cat-3"
                  >Home + Living</label
                >
              </div>
              <!-- End .custom-checkbox -->
              <!-- <span class="item-count">4</span> -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="cat-4"
                  [(ngModel)]="kitchenware"
                  (change)="productFilter()"
                />
                <label class="custom-control-label" for="cat-4">Kitchen</label>
              </div>
              <!-- End .custom-checkbox -->
              <!-- <span class="item-count">2</span> -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="cat-5"
                  [(ngModel)]="art"
                  (change)="productFilter()"
                />
                <label class="custom-control-label" for="cat-5">Art</label>
              </div>
              <!-- End .custom-checkbox -->
              <!-- <span class="item-count">2</span> -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="cat-6"
                  [(ngModel)]="bathAndBody"
                  (change)="productFilter()"
                />
                <label class="custom-control-label" for="cat-6"
                  >Face + body</label
                >
              </div>
              <!-- End .custom-checkbox -->
              <!-- <span class="item-count">1</span> -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="cat-7"
                  [(ngModel)]="spice"
                  (change)="productFilter()"
                />
                <label class="custom-control-label" for="cat-7"
                  >Spice + Herbs</label
                >
              </div>
              <!-- End .custom-checkbox -->
              <!-- <span class="item-count">1</span> -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="cat-8"
                  [(ngModel)]="jewelry"
                  (change)="productFilter()"
                />
                <label class="custom-control-label" for="cat-8">Jewelry</label>
              </div>
              <!-- End .custom-checkbox -->
              <!-- <span class="item-count">0</span> -->
            </div>
            <!-- End .filter-item -->
          </div>
          <!-- End .filter-items -->
        </div>
        <!-- End .widget-body -->
      </div>
      <!-- End .collapse -->
    </div>
    <!-- End .widget -->

    <div *ngIf="fashion" class="widget widget-collapsible">
      <h3 class="widget-title">
        <a
          data-toggle="collapse"
          href="#widget-2"
          role="button"
          aria-expanded="false"
          aria-controls="widget-2"
          class="collapsed"
        >
          Categories
        </a>
      </h3>
      <!-- End .widget-title -->

      <div class="collapse" id="widget-2" style="">
        <div class="widget-body">
          <div class="filter-items">
            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="man"
                  [(ngModel)]="man"
                  (change)="genderFilter()"
                />
                <label class="custom-control-label" for="man">MAN</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="woman"
                  [(ngModel)]="woman"
                  (change)="genderFilter()"
                />
                <label class="custom-control-label" for="woman">WOMAN</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  checked=""
                  id="kid"
                  [(ngModel)]="kid"
                  (change)="genderFilter()"
                />
                <label class="custom-control-label" for="kid">KID</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->
          </div>
          <!-- End .filter-items -->
        </div>
        <!-- End .widget-body -->
      </div>
      <!-- End .collapse -->
    </div>
    <!-- End .widget -->

    <div class="widget widget-collapsible">
      <h3 class="widget-title">
        <a
          data-toggle="collapse"
          href="#widget-3"
          role="button"
          aria-expanded="false"
          aria-controls="widget-3"
          class="collapsed"
        >
          Collection Type
        </a>
      </h3>
      <!-- End .widget-title -->

      <div class="collapse" id="widget-3" style="">
        <div class="widget-body">
          <div class="filter-item">
            <div *ngFor="let collection of allCollection" class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="{{ collection }}"
                  (change)="collectionFilter(collection)"
                />
                <label class="custom-control-label" for="{{ collection }}">{{
                  collection
                }}</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->
          </div>
          <!-- End .filter-items -->
        </div>
        <!-- End .widget-body -->
      </div>
      <!-- End .collapse -->
    </div>
    <!-- End .widget -->

    <div *ngIf="fashion" class="widget widget-collapsible">
      <h3 class="widget-title">
        <a
          data-toggle="collapse"
          href="#widget-4"
          role="button"
          aria-expanded="false"
          aria-controls="widget-4"
          class="collapsed"
        >
          Size
        </a>
      </h3>
      <!-- End .widget-title -->

      <div class="collapse" id="widget-4" style="">
        <div class="widget-body">
          <div class="filter-items">
            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  [(ngModel)]="xs"
                  (change)="filterSize()"
                  type="checkbox"
                  class="custom-control-input"
                  id="size-1"
                />
                <label class="custom-control-label" for="size-1">XS</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="size-2"
                  [(ngModel)]="s"
                  (change)="filterSize()"
                />
                <label class="custom-control-label" for="size-2">S</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  checked=""
                  id="size-3"
                  [(ngModel)]="m"
                  (change)="filterSize()"
                />
                <label class="custom-control-label" for="size-3">M</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  checked=""
                  id="size-4"
                  [(ngModel)]="l"
                  (change)="filterSize()"
                />
                <label class="custom-control-label" for="size-4">L</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="size-5"
                  [(ngModel)]="xl"
                  (change)="filterSize()"
                />
                <label class="custom-control-label" for="size-5">XL</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->

            <div class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="size-6"
                  [(ngModel)]="xxl"
                  (change)="filterSize()"
                />
                <label class="custom-control-label" for="size-6">XXL</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->
          </div>
          <!-- End .filter-items -->
        </div>
        <!-- End .widget-body -->
      </div>
      <!-- End .collapse -->
    </div>
    <!-- End .widget -->

    <!--
    <div class="widget widget-collapsible">
      <h3 class="widget-title">
        <a
          data-toggle="collapse"
          href="#widget-5"
          role="button"
          aria-expanded="false"
          aria-controls="widget-5"
          class="collapsed"
        >
          Colour
        </a>
      </h3>


      <div class="collapse" id="widget-5" style="">
        <div class="widget-body">
          <div class="filter-colors">
            <a href="#" style="background: #b87145"
              ><span class="sr-only">Color Name</span></a
            >
            <a href="#" style="background: #f0c04a"
              ><span class="sr-only">Color Name</span></a
            >
            <a href="#" style="background: #333333"
              ><span class="sr-only">Color Name</span></a
            >
            <a href="#" class="selected" style="background: #cc3333"
              ><span class="sr-only">Color Name</span></a
            >
            <a href="#" style="background: #3399cc"
              ><span class="sr-only">Color Name</span></a
            >
            <a href="#" style="background: #669933"
              ><span class="sr-only">Color Name</span></a
            >
            <a href="#" style="background: #f2719c"
              ><span class="sr-only">Color Name</span></a
            >
            <a href="#" style="background: #ebebeb"
              ><span class="sr-only">Color Name</span></a
            >
          </div>
        </div>
      </div>
    </div>-->
    <!-- End .widget -->

    <div class="widget widget-collapsible">
      <h3 class="widget-title">
        <a
          data-toggle="collapse"
          href="#widget-6"
          role="button"
          aria-expanded="false"
          aria-controls="widget-6"
          class="collapsed"
        >
          Brand
        </a>
      </h3>
      <!-- End .widget-title -->

      <div class="collapse" id="widget-6" style="">
        <div class="widget-body">
          <div class="filter-items">
            <div *ngFor="let brand of allBrands" class="filter-item">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="{{ brand }}"
                  (change)="brandFilter(brand)"
                />
                <label class="custom-control-label" for="{{ brand }}">{{
                  brand
                }}</label>
              </div>
              <!-- End .custom-checkbox -->
            </div>
            <!-- End .filter-item -->
          </div>
          <!-- End .filter-items -->
        </div>
        <!-- End .widget-body -->
      </div>
      <!-- End .collapse -->
    </div>
    <!-- End .widget -->

    <!-- <button (click)="apply()" >Apply</button> -->
    <!-- #### -->
  </div>
  <!-- End .sidebar-filter-wrapper -->
</aside>
<!-- End .sidebar-filter -->
