<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="form" (ngSubmit)="create()">
      <nb-card>
        <nb-card-header>Add Products</nb-card-header>
        <nb-card-body>
          <!-- <input type="text" nbInput fullWidth placeholder="Project"> -->
          <!-- <div class="full-name-inputs">
            <input type="text" name="firstName" nbInput fullWidth />
            <input type="text" name="lastName" nbInput fullWidth />
          </div> -->
          <input
            name="name"
            type="text"
            nbInput
            fullWidth
            placeholder="Product Name"
            formControlName="name"
          />

          <textarea
            rows="5"
            name="description"
            type="text"
            nbInput
            fullWidth
            placeholder="Description"
            formControlName="description"
          ></textarea>
          <div class="full-name-inputs">
            <input
              type="number"
              name="productPrice"
              placeholder="Product Price"
              nbInput
              fullWidth
              formControlName="productPrice"
            />
            <input
              type="number"
              name="productCostPrice"
              placeholder="Product Cost Price"
              nbInput
              fullWidth
              formControlName="productCostPrice"
            />
          </div>
          <div class="full-name-inputs">
            <input
              type="number"
              name="saleOfferPrice"
              placeholder="Sales Offer Price"
              nbInput
              fullWidth
              formControlName="saleOfferPrice"
            />
            <input
              type="number"
              name="qty"
              placeholder="QTY"
              nbInput
              fullWidth
              formControlName="qty"
            />
            <input
              type="number"
              name="itemWeight"
              placeholder="Weight (Kg)"
              nbInput
              fullWidth
              formControlName="itemWeight"
            />
          </div>

          <div
            class="dropzone"
            ngxDropzone
            (hovered)="toggleHover($event)"
            (dropped)="onDrop($event)"
            [class.hovering]="isHovering"
          >
            <h3>Ceylon Street Product Drop Zone</h3>
            <p>Drag and Drop Pictures</p>
          </div>

          <!-- <h3>Uploads</h3> -->

          <div *ngFor="let file of files">
            <ngx-upload-task
              [file]="file"
              (pictureUrl)="getUrl($event)"
            ></ngx-upload-task>
            <!-- <upload-task [file]="file"></upload-task> -->
          </div>

          <nb-card-body class="checkbox-radio">
            <div class="demo-items">
              <nb-radio-group [(value)]="radioGroupValue">
                <nb-radio [value]="'all'">
                  Accessories / Home & Living / Kitchenware / Art / Bath & Body
                </nb-radio>
                <nb-radio [value]="'fashion'"> Fashion </nb-radio>
                <nb-radio [value]="'jewelry'"> Jewelry </nb-radio>
                <nb-radio [value]="'spice'"> Spice & Herbs </nb-radio>
              </nb-radio-group>
            </div>
          </nb-card-body>

          <div class="full-name-inputs">
            <nb-select placeholder="Product Type" formControlName="productType">
              <nb-option value="accessories">Accessories</nb-option>
              <nb-option value="homeAndLiving">Home & Living</nb-option>
              <nb-option value="kitchenware">Kitchenware</nb-option>
              <nb-option value="art">Art</nb-option>
              <nb-option value="bathAndBody">Bath & Body</nb-option>
              <nb-option value="jewelry">Jewelry</nb-option>
              <nb-option value="fashion">Fashion</nb-option>
              <nb-option value="spice">Spice and Herbs</nb-option>
            </nb-select>
            <nb-select placeholder="Showcase" formControlName="showcase">
              <nb-option value="none">None</nb-option>
              <nb-option value="inDemand">In Demand</nb-option>
              <nb-option value="newArrival">New Arrival</nb-option>
            </nb-select>
            <nb-select
              placeholder="Collection"
              formControlName="itemCollection"
            >
              <nb-option
                *ngFor="let collection of collections"
                [value]="collection.name"
                >{{ collection.name }}</nb-option
              >
            </nb-select>
            <nb-select placeholder="Brands" formControlName="itemBrand">
              <nb-option *ngFor="let brand of brands" [value]="brand.name">{{
                brand.name
              }}</nb-option>
            </nb-select>
            <div
              *ngIf="radioGroupValue == 'all' || radioGroupValue == 'jewelry'"
            >
              <input
                type="text"
                name="size"
                placeholder="Size"
                nbInput
                fullWidth
                formControlName="size"
              />
            </div>
            <div *ngIf="radioGroupValue == 'fashion'">
              <nb-select placeholder="Category" formControlName="category">
                <nb-option value="man">Man</nb-option>
                <nb-option value="woman">Woman</nb-option>
                <nb-option value="kid">Kid</nb-option>
              </nb-select>
              <!-- <br> -->

              <!-- <nb-select placeholder="Size" formControlName="size">
                <nb-option value="xs">XS</nb-option>
                <nb-option value="s">S</nb-option>
                <nb-option value="m">M</nb-option>
                <nb-option value="l">L</nb-option>
                <nb-option value="xl">XL</nb-option>
                <nb-option value="xxl">XXL</nb-option>
              </nb-select> -->
            </div>
            <!-- <div *ngIf="radioGroupValue != 'spice'">
              <nb-select placeholder="Color" formControlName="colors">
                <nb-option value="gold">Gold</nb-option>
                <nb-option value="blue">Blue</nb-option>
                <nb-option value="green">Green</nb-option>
                <nb-option value="orange">Orange</nb-option>
                <nb-option value="pink">Pink</nb-option>
                <nb-option value="purple">Purple</nb-option>
                <nb-option value="red">Red</nb-option>
                <nb-option value="white">White</nb-option>
                <nb-option value="yellow">Yellow</nb-option>
              </nb-select>
            </div> -->
            <div *ngIf="radioGroupValue == 'spice'">
              <input
                type="number"
                name="grams"
                placeholder="Grams"
                nbInput
                fullWidth
                formControlName="grmas"
              />
            </div>
          </div>
          <div *ngIf="radioGroupValue == 'fashion'">
            <nb-card-body class="checkbox-radio">
              <div class="demo-items">
                <div class="full-name-inputs" style="margin-bottom: 1mm;">
                  <nb-checkbox
                    formControlName="xs"
                    (checkedChange)="toggleXS($event)"
                    >XS</nb-checkbox
                  >
                  <div *ngIf="xs">
                    <input
                      type="number"
                      name="xs"
                      placeholder="Qty"
                      nbInput
                      formControlName="xsQty"
                    />
                  </div>

                </div>
                <div>
                  <div class="full-name-inputs" style="margin-bottom: 1mm;">
                    <nb-checkbox
                      formControlName="s"
                      (checkedChange)="toggleS($event)"
                      >S</nb-checkbox
                    >
                    <div *ngIf="s">
                      <input
                        type="number"
                        name="s"
                        placeholder="Qty"
                        nbInput
                        formControlName="sQty"
                      />
                    </div>
                  </div>
                </div>
                <div class="full-name-inputs" style="margin-bottom: 1mm;">
                  <nb-checkbox
                    formControlName="m"
                    (checkedChange)="toggleM($event)"
                    >M</nb-checkbox
                  >
                  <div *ngIf="m">
                    <input
                      type="number"
                      name="m"
                      placeholder="Qty"
                      nbInput
                      formControlName="mQty"
                    />
                  </div>
                </div>
                <div class="full-name-inputs" style="margin-bottom: 1mm;">
                  <nb-checkbox
                    formControlName="l"
                    (checkedChange)="toggleL($event)"
                    >L</nb-checkbox
                  >
                  <div *ngIf="l">
                    <input
                      type="number"
                      name="l"
                      placeholder="Qty"
                      nbInput
                      formControlName="lQty"
                    />
                  </div>
                </div>
                <div class="full-name-inputs" style="margin-bottom: 1mm;">
                  <nb-checkbox
                    formControlName="xl"
                    (checkedChange)="toggleXL($event)"
                    >XL</nb-checkbox
                  >
                  <div *ngIf="xl">
                    <input
                      type="number"
                      name="xl"
                      placeholder="Qty"
                      nbInput
                      formControlName="xlQty"
                    />
                  </div>
                </div>
                <div class="full-name-inputs" style="margin-bottom: 1mm;">
                  <nb-checkbox
                    formControlName="xxl"
                    (checkedChange)="toggleXXL($event)"
                    >XXL</nb-checkbox
                  >
                  <div *ngIf="xxl">
                    <input
                      type="number"
                      name="xxl"
                      placeholder="Qty"
                      nbInput
                      formControlName="xxlQty"
                    />
                  </div>
                </div>
              </div>
            </nb-card-body>
          </div>
          <div *ngIf="radioGroupValue == 'jewelry'">
            <div class="full-name-inputs">
              <nb-card-body class="checkbox-radio">
                <div class="demo-items">
                  <nb-radio-group [(value)]="subRadioGroupValue">
                    <nb-radio [value]="'alljewelry'">
                      Ring / Earrings / Bangles
                    </nb-radio>
                    <nb-radio [value]="'necklace'"> Neckless </nb-radio>
                  </nb-radio-group>
                </div>
              </nb-card-body>
            </div>
            <div class="full-name-inputs">
              <nb-select
                placeholder="Jewelry Type"
                formControlName="subProductType"
              >
                <nb-option value="rings">Ring</nb-option>
                <nb-option value="necklaces">Neckless</nb-option>
                <nb-option value="earrings">Earrings</nb-option>
                <nb-option value="bracelet">Bracelet</nb-option>
              </nb-select>
              <nb-select placeholder="Metal" formControlName="metal">
                <nb-option value="silver">Silver</nb-option>
                <nb-option value="yellow14">Yellow14</nb-option>
                <nb-option value="yellow18">Yellow18</nb-option>
                <nb-option value="white18">White18</nb-option>
              </nb-select>
              <nb-select placeholder="Gemstone" formControlName="gemstone">
                <nb-option value="amethyst">Amethyst</nb-option>
                <nb-option value="aquamarine">Aquamarine</nb-option>
                <nb-option value="blueSapphire">BlueSapphire</nb-option>
                <nb-option value="blueTopaz">BlueTopaz</nb-option>
                <nb-option value="citrine">Citrine</nb-option>
                <nb-option value="diamond">Diamond</nb-option>
                <nb-option value="emerald">Emerald</nb-option>
                <nb-option value="garnet">Garnet</nb-option>
                <nb-option value="greenAmethyst">GreenAmethyst</nb-option>
                <nb-option value="greenTourmaline">GreenTourmaline</nb-option>
                <nb-option value="lemonQuartz">LemonQuartz</nb-option>
                <nb-option value="moonstone">Moonstone</nb-option>
                <nb-option value="pearl">Pearl</nb-option>
                <nb-option value="peridot">Peridot</nb-option>
                <nb-option value="pinkTourmaline">PinkTourmaline</nb-option>
                <nb-option value="pinkSapphire">PinkSapphire</nb-option>
                <nb-option value="rubellite">Rubellite</nb-option>
                <nb-option value="ruby">Ruby</nb-option>
                <nb-option value="sapphire">Sapphire</nb-option>
                <nb-option value="spinel">Spinel</nb-option>
                <nb-option value="smokyQuartz">SmokyQuartz</nb-option>
                <nb-option value="tourmaline">Tourmaline</nb-option>
                <nb-option value="topaz">Topaz</nb-option>
                <nb-option value="yellowSapphire">YellowSapphire</nb-option>
                <nb-option value="whiteSapphire">WhiteSapphire</nb-option>
                <nb-option value="whiteTopaz">WhiteTopaz</nb-option>
                <nb-option value="zircon">Zircon</nb-option>
                <nb-option value="other">Other</nb-option>
              </nb-select>
              <input
                placeholder="Gemstone Weight"
                type="number"
                formControlName="gemstoneWeight"
                nbInput
                fullWidth
              />
              <input
                placeholder="Gemstone Cut"
                type="text"
                formControlName="gemstoneCut"
                nbInput
                fullWidth
              />
              <nb-select placeholder="Birth month" formControlName="birthstone">
                <nb-option value="jan">January</nb-option>
                <nb-option value="feb">Feburary</nb-option>
                <nb-option value="mar">March</nb-option>
                <nb-option value="apr">Aprail</nb-option>
                <nb-option value="may">May</nb-option>
                <nb-option value="jun">June</nb-option>
                <nb-option value="jul">July</nb-option>
                <nb-option value="aug">August</nb-option>
                <nb-option value="sep">September</nb-option>
                <nb-option value="oct">October</nb-option>
                <nb-option value="nov">November</nb-option>
                <nb-option value="dec">December</nb-option>
              </nb-select>

              <input
                placeholder="Rodium Plated"
                type="text"
                formControlName="rodiumPlated"
                nbInput
                fullWidth
              />
            </div>
          </div>
          <div *ngIf="subRadioGroupValue == 'necklace'">
            <input
              name="necklaceLength"
              type="number"
              nbInput
              fullWidth
              placeholder="Necklace Length"
              formControlName="necklaceLength"
            />
          </div>
        </nb-card-body>

        <button
          [disabled]="form.invalid || pictureUrlArray.length == 0"
          type="submit"
          nbButton
          status="primary"
          hero
        >
          Add Product
        </button>
        <!-- <button type="submit" nbButton status="primary" hero>
          Add Product
        </button> -->
      </nb-card>
    </form>
  </div>

  <div class="col-lg-6"></div>
</div>
