<nb-list>
  <nb-list-item
    class="item"
    *ngFor="let item of frontCardData; trackBy: trackByDate"
  >
    <span>{{ item.date | date }}</span>
    <span>{{ item.items.length }}</span>
    <span class="delta" [class.up]="true">
      <!-- <nb-icon
        [icon]="item.delta.up ? 'arrow-up' : 'arrow-down'"
        pack="eva"
      ></nb-icon> -->
      {{ item.profit }} LKR
    </span>
    <!-- <ngx-traffic-bar [barData]="item.comparison" [successDelta]="item.delta.up">
    </ngx-traffic-bar> -->
  </nb-list-item>
</nb-list>
