<style>
    .container {
        padding-top: 90px;
    }

    .btn {
        background-color: #000;
        min-width: 0;
        margin-right: 0;
        padding: .85rem .9rem;
    }

    .input-group {
        flex-wrap: initial;
    }

    input[type="number"] {
        padding: 0 0 0 10px;
        margin: 0;
    }

    @media screen and (max-width: 991px) {
        .container {
            padding-top: 110px;
        }
    }

    @media screen and (max-width: 764px) {
        .container {
            padding-top: 120px;
        }
    }
</style>
<app-header></app-header>
<div class="page-content">

    <div class="checkout">
        <div class="container">
            <form  [formControl]=checkout #submitForm="ngForm">
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                        <div class="row">
                            <div class="col-sm-12" [formGroup]="checkout">
                                <label>Name *</label>
                                <input style="width: 98%;" *ngIf="disable" disabled  class="form-control" formControlName="name" required type="text"  [(ngModel)]="order.name" name="name" >
                                <input style="width: 98%;" *ngIf="!disable"  class="form-control" formControlName="name" required type="text"
                                    [(ngModel)]="order.name" name="name">
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <div class="row">
                            <div class="col-sm-6" [formGroup]="checkout">
                                <label>Email address *</label>

                                <input style="width: 96%;" *ngIf="disable" disabled  class="form-control"  formControlName="email" type="text" required [(ngModel)]="order.email" name="email">
                                <input style="width: 96%;" *ngIf="!disable" class="form-control" formControlName="email" type="text" required
                                    [(ngModel)]="order.email" name="email">
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6"  [formGroup]="checkout">
                                <label>Phone *</label>
                                <input  style="width: 96%;" class="form-control" formControlName="phone"  type="text" required [(ngModel)]="order.phone" name="phone">
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->



                        <label>Country *</label>
                        <div class="select-custom" style="width: 98%;">
                            <select name="size"  id="size" [(ngModel)]="order.contry"   (ngModelChange)="shippingPrice($event)" [ngModelOptions]="{standalone: true}"   class="form-control">
                                <option selected="selected" value="">Select a country</option>
                                <option *ngFor="let item of countrys; let i = index"  [value]="i" style="text-transform: capitalize;">{{item.name}}
                                </option>
                            </select>
                        </div>

                        <div  [formGroup]="checkout">
                            <label>Address Line 1 *</label>
                            <input type="text" style="width: 98%;" class="form-control" name="address1" formControlName="address1"
                                [(ngModel)]="order.address1" placeholder="House number and Street name">
                        </div>

                        <div  [formGroup]="checkout">
                            <label>Address Line 2*</label>
                            <input type="text" style="width: 98%;" class="form-control" name="address2" formControlName="address2"
                                [(ngModel)]="order.address2" placeholder="Appartments, suite, unit etc ..." required="">
                        </div>


                        <div class="row">
                            <div class="col-sm-6">
                              <label>Town / City *</label>
                              <input *ngIf="!srilanka" style="width: 96%;" class="form-control"  type="text" [(ngModel)]="order.town" name="town" >
                              <div *ngIf="srilanka" class="select-custom" style="width: 98%;">
                                <select   name="size"  id="size4" [(ngModel)]="order.town" (ngModelChange)="shippingLKPrice($event)" [ngModelOptions]="{standalone: true}"  class="form-control">
                                  <option selected="selected" value="">Select a town</option>
                                  <option *ngFor="let item of town; let i = index"  [value]="item.town" style="text-transform: capitalize;">{{item.town}}
                                  </option>
                                </select>
                              </div>
                            </div><!-- End .col-sm-6 -->

                            <div class="col-sm-6"  [formGroup]="checkout">
                                <label>State / County *</label>
                                <input style="width: 96%;" class="form-control" type="text" formControlName="state" [(ngModel)]="order.state" name="state">
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->

                        <div class="row">
                            <div class="col-sm-6"  [formGroup]="checkout">
                                <label>Postcode / ZIP *</label>
                                <input style="width: 96%;" class="form-control"  type="number" required formControlName="postalcode" [(ngModel)]="order.postalcode">
                            </div><!-- End .col-sm-6 -->
                        </div><!-- End .row -->


                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of x">
                                        <td  style="border-bottom:none !important;height: 40px;cursor: pointer;"><a (click)="toProduct(item._id)">{{item.name}} {{item.size}}</a></td>
                                        <td style="border-bottom:none !important;height: 40px;">{{item.price*valueService.getValue()| number : '1.2-2'}} * {{item.qty}} LKR<br> ($ {{item.price}} * {{item.qty}})</td>
                                    </tr>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>{{sub*valueService.getValue()| number : '1.2-2'}} LKR<br> ($ {{sub}})</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>{{shiping === 0? 'Free shipping':(shiping*valueService.getValue()| number : '1.2-2') +' LKR   '+'($ '+(shiping| number : '1.2-2')+')'}}</td>
                                    </tr>
                                    <tr *ngIf="discount !== 0" >
                                        <td>Coupon Discout:</td>
                                        <td>{{((((sub)* ((discount)) / 100)+shiping)*valueService.getValue()| number : '1.2-2')}} LKR<br> ($ {{(((sub)* ((discount)) / 100)+shiping| number : '1.2-2')}})</td>
                                    </tr><!-- End .summary-total -->
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>{{((((sub)* (100 - (discount)) / 100)+shiping)*valueService.getValue()| number : '1.2-2')}} LKR<br> ($ {{(((sub)* (100 - (discount)) / 100)+shiping| number : '1.2-2')}})</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->
                            {{validShip(submitForm)}}
                            <div class="row">
                                <div class="form-group col-12 ">
                                    <div class="field-label">Coupon</div>
                                    <input type="text" required class="mb-0" [(ngModel)]="order.coupon" name="coupon" placeholder="Enter your coupon" />
                                </div>
                                <div class="form-group col-12">
                                    <div class="text-right" style="margin-top: 0%;">
                                        <button [disabled]="order.coupon === ''" (click)="setCoupns(order.coupon)" class="btn-solid btn">Add
                                            Coupon</button>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group col-12 ">
                                <input type="checkbox"  name="vehicle1" id="vehicle1" [(ngModel)]="accept">
                                <label for="vehicle1" style="font-weight: 500;color: #000;">&nbsp;&nbsp;&nbsp; Accepts the terms and conditions</label>

                            </div>
                            <button  [disabled]="(check || !submitForm.form.valid  || order.contry === '' || !accept || !shipcheck1 || oldCountry !== order.contry || oldPostalcode !== order.postalcode || order.town === '')" (click)="submit()"  class="btn btn-outline-primary-2 btn-order btn-block">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Proceed to Checkout</span>
                            </button>
                            <img src="../../assets/images/Logos-02.jpg" style="width: 100%;" alt="">
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div>
<app-footer></app-footer>
