<footer class="footer inverse-wrapper">
    <div class="container">
        <div class="row">

            <!-- /column -->

            <div class="col-sm-4 p-3">
                <div class="widget">
                    <h4 class="widget-title"></h4>
                    <ul class="tag-list">
                        <li><a routerLink="/" class="btn btn-dark">Home</a></li>
                        <li><a routerLink="/shop" class="btn btn-dark">Shop</a></li>
                        <li><a routerLink="/look-book" class="btn btn-dark">Look Book</a></li>
                        <li><a routerLink="/cart" class="btn btn-dark">Cart</a></li>
                        <li><a routerLink="/login" class="btn btn-dark">Login</a></li>
                    </ul>
                </div>
                <!-- /.widget -->

                <div class="widget">
                    <h4 class="widget-title"></h4>
                    <ul class="social">
                        <!-- <li><a href="#"><i class="icon-s-rss"></i></a></li>
                        <li><a href="#"><i class="icon-s-twitter"></i></a></li> -->
                        <li><a href="https://www.facebook.com/pages/category/E-commerce-Website/Ceylon-Street-Concept-Store-107221647673320/"><img style="width: 24px" src="assets/images/facebook-app-logo.png"></a></li>
                        <li><a href="https://www.instagram.com/ceylon_st/?hl=en"><img style="width: 24px" src="assets/images/instagram.png"></a></li>
                        <!-- <li><a href="#"><i class="icon-s-linkedin"></i></a></li> -->
                    </ul>
                    <!-- .social -->

                </div>
            </div>
            <!-- /column -->

            <div class="col-sm-4  p-3">
                <div class="widget">
                    <img
                        src="../../assets/images/footerlogo.png"
                        width="100%" height="300px" frameborder="0" style="border:0;"
                        tabindex="0">

                  <h4 class="widget-title">Helpful Link</h4>
                  <ul class="tag-list">
                    <li><a routerLink="/about" class="btn btn-dark">About Us</a></li>
                    <li><a routerLink="/terms" class="btn btn-dark">Terms</a></li>
                    <li><a routerLink="/privacy" class="btn btn-dark">Privacy Policy</a></li>
                    <li><a routerLink="/faq" class="btn btn-dark">FAQ</a></li>
                  </ul>

                </div>
                <!-- /.widget -->
            </div>

            <div class="col-sm-4  p-2">
                <!-- /.widget -->
                <div class="widget  p-5" style="font-size: larger;font-weight: bolder;color: white;">
                    <h4 class="widget-title"></h4>
                    <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
                    <div class="contact-info">
                        <div class="mt-2">
                            <i class="icon-location"></i> No:09, Velson Street, Kanampitiya, Galle, Sri Lanka <br>
                        </div>
                        <div class="mt-2">
                            <i class="icon-phone"></i>+00 (123) 456 78 90 <br>
                        </div>
                        <div class="mt-2">
                            <i class="icon-mail"></i> <a href="mailto: hello@ceylonstreet.com">hello@ceylonstreet.com</a> </div>
                        </div>

                </div>
                <!-- /.widget -->

            </div>
            <!-- /column -->

        </div>
        <!-- /.row -->
    </div>
    <!-- .container -->

    <div class="sub-footer">
        <div class="container inner">

                <div class="footer-end">
                    <p>
                        <i class="fa fa-copyright" aria-hidden="true"></i> Copyright
                        2020 All rights reserved | Ceylon Street concept store Powered by <a href="">Neurale</a>
                    </p>
                </div>

        </div>
        <!-- .container -->
    </div>
    <!-- .sub-footer -->
</footer>
<!-- /footer -->
