<div class="container-fluid">
    <div *ngIf="!isMobileMenu()">
        <div class="row" style="padding-left: 0px;padding-right: 0px;">
            <div class="col-md-7" style="padding-left: 0px;">
                <div class="banner banner-big banner-overlay">
        
                    <img [src]="productBanner1.picUrl" style="height: auto;" alt="Banner">
        
        
                    <div class="banner-content banner-content-center">
                        <h2 class="banner-subtitle text-white">{{productBanner1.line1}}</h2>
                        <!-- End .banner-subtitle -->
                        <h1 class="banner-title text-white">{{productBanner1.line2}}</h1>
                        <!-- End .banner-title -->
                        <a class="btn underline" (click)="call(productBanner1)"><span>{{productBanner1.buttonText}}</span></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div><!-- End .col-lg-6 -->
        
            <div class="col-md-5" style="padding-right: 0px;">
                <div class="row">
                    <div class="col-12" style="padding-right: 0px;">
                        <div class="banner banner-overlay text-white">
        
                            <img [src]="productBanner2.picUrl" style="height: auto;"
                                 alt="Banner">
        
        
                            <div class="banner-content banner-content-right">
                                <h2 class="banner-subtitle text-white">{{productBanner2.line1}}</h2><!-- End .banner-subtitle -->
                                <h1 class="banner-title text-white">{{productBanner2.line2}}</h1>
                                <!-- End .banner-title -->
                                <a  class="btn underline" (click)="call(productBanner2)">{{productBanner2.buttonText}}</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div>
                    <div class="col-12" style="padding-right: 0px;">
                        <div class="banner banner-overlay text-white">
        
                            <img [src]="productBanner3.picUrl"  style="height: auto;"
                                alt="Banner">
        
        
                            <div class="banner-content banner-content-right mr">
                                <h2 class="banner-subtitle">{{productBanner3.line1}}</h2><!-- End .banner-subtitle -->
                                <h1 class="banner-title">{{productBanner3.line2}}</h1>
                                <!-- End .banner-title -->
                                <a class="btn underline" (click)="call(productBanner3)">{{productBanner3.buttonText}}</a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div>
        
                </div>
            </div>
        
        </div><!-- End .row -->
    </div>
    <div *ngIf="isMobileMenu()">
        <div class="row">
            <div class="col-12" style="padding: 0;margin-bottom:0px;">
                <div class="banner banner-big banner-overlay text-white">
        
                    <img [src]="productBanner1.picUrl" style="height: auto;"
                        alt="Banner">
        
        
                    <div class="banner-content banner-content-center">
                        <h2 class="banner-subtitle text-white">{{productBanner1.line1}}</h2>
                        <!-- End .banner-subtitle -->
                        <h1 class="banner-title text-white">{{productBanner1.line2}}</h1>
                        <!-- End .banner-title -->
                        <a  class="btn underline" (click)="call(productBanner1)"><span>{{productBanner1.buttonText}}</span></a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div>
            <div class="col-12" style="padding: 0;margin-bottom:0px;">
                <div class="banner banner-overlay text-white">
        
                    <img [src]="productBanner2.picUrl" style="height: auto;"
                        alt="Banner">
        
        
                    <div class="banner-content banner-content-right">
                        <h2 class="banner-subtitle">{{productBanner2.line1}}</h2><!-- End .banner-subtitle -->
                        <h1 class="banner-title">{{productBanner2.line2}}</h1>
                        <!-- End .banner-title -->
                        <a  class="btn underline" (click)="call(productBanner2)">{{productBanner2.buttonText}}</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div>
            <div class="col-12" style="padding: 0;margin-bottom:0px;">
                <div class="banner banner-overlay text-white">
        
                    <img [src]="productBanner3.picUrl" style="height: auto;"
                        alt="Banner">
        
        
                    <div class="banner-content banner-content-right">
                        <h2 class="banner-subtitle">{{productBanner3.line1}}</h2><!-- End .banner-subtitle -->
                        <h1 class="banner-title">{{productBanner3.line2}}</h1>
                        <!-- End .banner-title -->
                        <a class="btn underline" (click)="call(productBanner3)">{{productBanner3.buttonText}}</a>
                    </div><!-- End .banner-content -->
                </div><!-- End .banner -->
            </div>
        
        </div>
    </div>

    <div *ngIf="!isMobileMenu()" class="row justify-content-center">

        <div class="col-12" style="height: auto;padding-left: 0px;padding-right: 0px;">
            <div class="banner banner-overlay  text-white">
                <a>
                    <img [src]="productBanner4.picUrl" style="height: auto;" alt="Banner">
                </a>

                <div class="banner-content banner-content-right mr">
                    <h2 class="banner-subtitle">{{productBanner4.line1}}</h2><!-- End .banner-subtitle -->
                    <h1 class="banner-title">{{productBanner4.line1}}</h1>
                    <!-- End .banner-title -->
                    <a class="btn underline" (click)="call(productBanner4)">{{productBanner4.buttonText}}</a>
                </div><!-- End .banner-content -->
            </div><!-- End .banner -->
        </div><!-- End .col-lg-4 -->
    </div><!-- End .row -->

</div><!-- End .container-fluid -->