<style>
  .container {
    padding-top: 0px;
  }

  .btn {
    background-color: #000;
    min-width: 0;
    margin-right: 0;
    padding: .85rem .9rem;
  }

  .input-group {
    flex-wrap: initial;
  }

  input[type="number"] {
    padding: 0 0 0 10px;
    margin: 0;
  }

  @media screen and (max-width: 991px) {
    .container {
      padding-top: 40px;
    }
  }

  @media screen and (max-width: 764px) {
    .container {
      padding-top: 70px;
    }
  }
</style>
<div class="page-wrapper">
  <app-header></app-header>
  <div class="page-content" style="margin-top: 10%;">
    <style type="text/css">
      p.p1 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        text-align: center;
        font: 18.0px Helvetica;
        color: #000000
      }

      p.p2 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353;
        background-color: #ffffff
      }

      p.p3 {
        margin: 40.0px 0.0px 20.0px 0.0px;
        font: 16.0px Helvetica;
        color: #000000;
        background-color: #ffffff
      }

      p.p4 {
        margin: 0.0px 0.0px 6.0px 0.0px;
        font: 14.5px Helvetica;
        color: #474747;
        background-color: #ffffff
      }

      p.p5 {
        margin: 0.0px 0.0px 14.0px 0.0px;
        font: 14.5px Helvetica;
        color: #474747;
        background-color: #ffffff
      }

      p.p6 {
        margin: 0.0px 0.0px 8.0px 0.0px;
        font: 14.5px Helvetica;
        color: #535353;
        background-color: #ffffff
      }

      span.s1 {
        text-decoration: underline
      }

      span.s2 {
        color: #535353
      }
    </style>
    <div class="container">
      <p class="p1"><span class="s1"><strong>PRIVACY POLICY</strong></span></p>
      <p class="p2">At Ceylon Street with its principal place of business at No: 09, Velson Street, Kanampitiya, Galle, we care about how your information is collected, used and shared. We value the trust that our customers have in us and take great lengths to provide you with a secure internet experience during our interaction.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p2">By visiting our website or using our services, you are accepting the practices described in this Privacy Policy. This Privacy Policy operates in conjunction with our Terms and Conditions, which also references this Privacy Policy. Reviewing both documents will give you a comprehensive understanding of the terms and conditions of your agreement with us.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p2">The following Privacy Policy is designed to help you understand your privacy choices when you visit Ceylon Street (<strong>&ldquo;our website&rdquo;, &ldquo;www.ceylonstreet.com&rdquo;, &ldquo;our&rdquo; &ldquo;we&rdquo;</strong>)<strong><em>&nbsp;</em></strong>or use our services via our website to make a purchase from Ceylon Street.</p>
      <p class="p3"><strong>INFORMATION WE COLLECT</strong></p>
      <p class="p4">We may collect and use different types of personal data depending on the specific purpose we have, as described below:</p>
      <p class="p4">When accounts are created, personal details are added to our records, such as name, surname, gender, age/date of birth, country of origin, and other details as allowed by applicable laws and <span class="s2">as authorized by your social media account settings</span>;</p>
      <p class="p4">When you make an order, contact details, such as address, email address, phone number, mobile number, fax number (if any), and other contact details are collected as allowed by applicable laws and as required for successful completion of delivery of your purchases;</p>
      <p class="p4">When you make a payment, payment details, such as payment instrument (credit card, debit card) if applicable, however when you make a transaction, our payment partner solely handles your payment details;</p>
      <p class="p5">Sales and customer service related information, such as date, products or services provided, place of purchase, product codes, amount, total of sales, complaints, returns, refunds, information related to customer relationship management activities and initiatives and other related information as allowed by applicable laws;</p>
      <p class="p3"><strong>LINKS TO SOCIAL MEDIA ACCOUNTS</strong></p>
      <p class="p2">We at Ceylon Street are dedicated to providing you with the best user experience possible.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p2">In the interest of making your account creation process more convenient, we are proud to offer you the option to link your social media accounts with our website. This option enables you to login easily without having to create a separate account on ceylonstreet.com.</p>
      <p class="p2">Doing so will retain a record of your social media handle and other information available to us, as authorized by your social media account settings.</p>
      <p class="p3"><strong>HOW WE USE YOUR INFORMATION</strong></p>
      <p class="p2">We may need to disclose certain information, including Account Information, Contact Information, Support Information and Transaction Information, to Partners that are strictly subject to confidentiality obligations. Their services to us either include delivery services and/or are engaged with Ceylon Street to provide financial services to our users.</p>
      <p class="p3"><strong>DATA RETENTION</strong></p>
      <p class="p2">When you place an order through the Site, we will only maintain your Order Information for our records unless and until you ask us to delete this information, in accordance with the regulations of EU GDPR.</p>
      <p class="p3"><strong>MINORS</strong></p>
      <p class="p2">The Services of this website are not directed to users below the age of 18 years, or equivalent minimum age in the relevant jurisdiction. If you are younger than 18, you cannot register with and use our website or online services. Ceylon Street does not knowingly collect the Personal Data of children under the age of 18. If you are a parent or guardian and believe Ceylon Street collected information about a child, please contact Ceylon Street as described in this Privacy Statement. Ceylon Street will take steps to delete the information as soon as possible.<span class="Apple-converted-space">&nbsp;</span></p>
      <p class="p3"><strong>CHANGES</strong></p>
      <p class="p2">We may occasionally update this privacy policy in order to reflect, for example, changes to our practices or for other operational, legal or regulatory reasons.</p>
      <p class="p3"><strong>CONTACT US</strong></p>
      <p class="p6">If you would like to make an inquiry about or flag any aspect of our privacy practices, you can contact us from the messenger pop up in the right hand corner)</p>
    </div>

  </div>
  <app-footer></app-footer>
</div>
