
<div class="">
    <!-- <div class="container-fluid"> -->
    <div class="heading heading-center mb-3">
        <h2 class="title" style="text-transform: uppercase;font-weight: 700;">Trending Now</h2><!-- End .title -->

        <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="new-women-link" data-toggle="tab" href="#new-women-tab" role="tab"
                    aria-controls="new-women-tab" aria-selected="true">In Demand</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="new-men-link" data-toggle="tab" href="#new-men-tab" role="tab"
                    aria-controls="new-men-tab" aria-selected="false">New Arrival</a>
            </li>
        </ul>
    </div><!-- End .heading -->

    <div class="tab-content">
        <div class="tab-pane p-0 fade show active in" id="new-women-tab" role="tabpanel"
            aria-labelledby="new-women-link">
            <div class="products">
                <div class="row justify-content-center ">
                    <div class="col-6 col-md-4 col-lg-3" *ngFor="let i of demandProduct">
                        <app-product-box style="cursor: pointer;" [product]=i></app-product-box>
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->

                </div><!-- End .row -->
            </div><!-- End .products -->
        </div><!-- .End .tab-pane -->
        <div class="tab-pane p-0 fade" id="new-men-tab" role="tabpanel" aria-labelledby="new-men-link">
            <div class="products">
                <div class="row justify-content-center ">
                    <div class="col-6 col-md-4 col-lg-3" *ngFor="let i of newProduct">
                        <app-product-box  style="cursor: pointer;" [product]=i ></app-product-box>
                    </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .products -->
        </div><!-- .End .tab-pane -->
    </div><!-- End .tab-content -->

    <!-- <div class="more-container text-center mt-2">
        <a href="#" class="btn btn-outline-danger text-dark btn-more"><span>Load more</span><i
                class="icon-long-arrow-right"></i></a>
    </div> -->
    <!-- End .more-container -->


</div><!-- End .container-fluid -->
